<form-message></form-message>

<div class="topbar">
	<div class="l-containerxaxis">
		<div class="topbar-x-breadcrumbs">
			<bg-breadcrumbs [linkentries]="editIssuerCrumbs"> </bg-breadcrumbs>
		</div>
		<div class="topbar-x-heading">Institution bearbeiten</div>
		<div class="topbar-x-subheading">Bearbeite die Informationen dieser Institution.</div>
	</div>
</div>

<div class="l-containerxaxis l-containeryaxis">
	<form (ngSubmit)="onSubmit()" class="u-width-formsmall u-margin-top3x" novalidate>
		<fieldset>
			<bg-formfield-image
				#imageField
				label="Bild (Optional)"
				imageLoaderName="issuer"
				[placeholderImage]="issuerImagePlacholderUrl"
				[control]="issuerForm.rawControlMap.issuer_image"
			></bg-formfield-image>

			<bg-formfield-text
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_name"
				[label]="'Name'"
				[errorMessage]="{ required: 'Bitte gebe einen Namen an' }"
				[autofocus]="true"
			></bg-formfield-text>

			<bg-formfield-text
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_url"
				[label]="'Website URL'"
				[errorMessage]="'Bitte gebe eine gültige URL an'"
				[urlField]="true"
			></bg-formfield-text>

			<bg-formfield-select
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_email"
				[label]="'Kontakt E-Mail'"
				[placeholder]="'Bitte wähle eine verifizierte E-Mail'"
				[options]="emailsOptions"
				[errorMessage]="{ required: 'Bitte wähle eine verifizierte E-Mail' }"
			></bg-formfield-select>

			<bg-formfield-text
				class="u-margin-bottom2x"
				[control]="issuerForm.rawControlMap.issuer_description"
				[label]="'Beschreibung'"
				[errorMessage]="{ required: 'Bitte gebe eine Beschreibung an' }"
				[multiline]="true"
			></bg-formfield-text>

			<div class="l-stack l-stack-buttons">
				<button
					type="submit"
					class="button"
					[disabled]="!!editIssuerFinished"
					[loading-promises]="[editIssuerFinished]"
					loading-message="Adding"
				>
					Speichern
				</button>
				<a
					[routerLink]="['/issuer/issuers', issuerSlug]"
					class="button button-secondary"
					[disabled-when-requesting]="true"
					>Abbrechen</a
				>
			</div>
		</fieldset>
	</form>
</div>
