<div class="tw-relative tw-w-full">
	<div class="oeb page-padding tw-overflow-hidden md:tw-py-[6rem] tw-py-[3rem]">
		<div class="tw-flex tw-justify-center">
			<div class="tw-relative md:tw-w-[70%] tw-w-[90%]">
				<form-message></form-message>

				<!-- OAuth Banner -->
				<oauth-banner></oauth-banner>

				<div class="oeb-headline-container-sm">
					<h1 hlmH1 class="tw-text-purple">{{ 'Login.resetPassword' | translate }}</h1>
				</div>

				<!-- Reset Password Form -->
				<form
					aria-labelledby="heading-form"
					[formGroup]="changePasswordForm.rawControl"
					(ngSubmit)="submitChange()"
					novalidate
					class="oeb-max-form-width"
				>
					<fieldset role="group" aria-labelledby="heading-forgotpassword">
						<!-- hidden -->
						<legend class="visuallyhidden" id="heading-forgotpassword">Enter a new password</legend>

						<oeb-input
							[control]="changePasswordForm.rawControlMap.password1"
							label="{{ 'Login.newPassword' | translate }}"
							[autofocus]="true"
							[errorMessage]="{
								required: enterNewPassword,
								minlength: mustBe8Char
							}"
							[fieldType]="'password'"
							sublabel="{{ 'Login.mustBe8Char' | translate }}"
						></oeb-input>

						<oeb-input
							[control]="changePasswordForm.rawControlMap.password2"
							label="{{ 'Login.confirmNewPassword' | translate }}"
							[errorMessage]="{
								required: enterNewPasswordConfirmation,
								passwordsMatch: passwordsDoNotMatch
							}"
							[fieldType]="'password'"
							[errorGroup]="changePasswordForm"
						></oeb-input>
					</fieldset>

					<div class="tw-flex tw-justify-between tw-flex-wrap sm:tw-flex-nowrap tw-gap-2 tw-mt-8">
						<oeb-button
							class="tw-mr-4"
							variant="secondary"
							[routerLink]="['/auth/login']"
							[disabled-when-requesting]="true"
							text="{{ 'General.cancel' | translate }}"
						></oeb-button>

						<oeb-button
							type="submit"
							width="max_content"
							text="{{ 'Login.changePassword' | translate }}"
							[loading-when-requesting]="true"
							loading-message="Change Password"
						>
						</oeb-button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
