<div class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
	<form-message></form-message>
	<oauth-banner></oauth-banner>
	<div class="shadowcontainer">
		<h2 class="u-text-h3-bold">Verifiziere Deine Email-Addresse</h2>
		<p class="u-text-body u-margin-top1x">Willkommen bei {{ service }}!</p>
		<p class="u-text-body u-margin-top4x">
			Wir haben Dir eine Verifizierungs-Email an <strong class="u-text-bold">{{ email }}</strong> geschickt.
		</p>
		<p class="u-text-body u-margin-top2x">
			Klicke die URL, um den Registrierungsprozess abzuschließen. Wenn Du die Email nicht in wenigen Minuten
			erhältst, schaue in Deinen Spam-Ordner. Wenn Du die Mail immer noch nicht findest, dann
			<a class="u-text-link" [href]="helpEmailUrl">schreib uns</a>.
		</p>
	</div>
</div>
