<div class="tw-relative tw-w-full">
	<div class="oeb page-padding tw-overflow-hidden tw-py-[2rem] md:tw-py-[6rem]">
		<div class="tw-flex tw-flex-col tw-items-center tw-justify-center">
			<form-message></form-message>
			<!-- OAuth Banner -->
			<oauth-banner></oauth-banner>

			<div class="tw-flex tw-items-center tw-gap-[20px] md:tw-w-[530px] tw-w-[98%]">
				<div class="oeb-icon-circle tw-my-6 tw-bg-green tw-w-[60px] tw-h-[60px]">
                    <hlm-icon class="tw-text-purple tw-font-bold" size='xxl' name="lucideCheck" />
                </div>

				<p
					[innerHTML]="'Signup.weCreatedYourAccount' | translate"
					class="tw-font-normal md:tw-text-[24px] md:tw-leading-[28.8px] tw-text-[16.8px] tw-leading-[px] tw-text-oebblack"
				></p>
			</div>

			<div
				class="tw-flex tw-flex-col tw-justify-center md:tw-p-[50px] md:tw-mt-[50px] tw-p-[30px] tw-mt-[30px] tw-bg-green md:tw-w-[80%] tw-w-[98%] md:tw-rounded-[20px] tw-rounded-[14px]"
			>
				<h2
					[innerHTML]="'Signup.success_verify_email_heading' | translate"
					class="tw-font-black md:tw-text-[46px] md:tw-leading-[52.9px] tw-text-center tw-text-[30px] tw-leading-[33px] tw-text-oebblack"
				></h2>
				<h2
					[innerHTML]="'Signup.success_verify_email_desc' | translate"
					class="md:tw-text-[24px] md:tw-leading-[31.2px] md:tw-mt-[30px] tw-text-center tw-text-[16px] tw-leading-[19.2px] tw-mt-[20px] tw-text-oebblack"
				></h2>
				<p
					[innerHTML]="'Signup.success_verify_email_help' | translate"
					class="tw-font-normal md:tw-mt-[30px] tw-text-center tw-text-oebblack tw-italic tw-text-[14px] tw-leading-[16.8px] tw-mt-[20px]"
				></p>

				<oeb-button class="tw-mx-auto tw-mt-16"  
				(click)="resendVerificatoinEmail(email)"
				 variant="white"
				 hlmBtn [text]="'Signup.resendEmail' | translate">
								
				</oeb-button>

			</div>

			<!-- <div
				class="tw-flex tw-flex-col tw-justify-center md:tw-p-[50px] md:tw-mt-[50px] tw-p-[30px] tw-mt-[30px] tw-bg-yellow md:tw-w-[80%] tw-w-[98%] md:tw-rounded-[20px] tw-rounded-[14px]"
			>
			<div class="tw-flex tw-gap-4 tw-justify-center tw-items-center">
				<div class="oeb-icon-circle tw-my-6 tw-bg-white">
                    <hlm-icon class="tw-text-purple tw-font-bold" size="lg" name="lucideCheck" />
                </div>
				<p
						[innerHTML]="'Signup.newsletterEmail' | translate"
						class="tw-font-normal md:tw-text-[18px] tw-text-oebblack md:tw-leading-[23.4px] tw-text-center tw-text-[14px] tw-leading-[16.8px]"
				></p>
			</div>

			<p
					[innerHTML]="'Signup.confirmNewsletter' | translate"
					class="tw-font-normal md:tw-text-[18px] tw-text-oebblack md:tw-leading-[23.4px] tw-text-center tw-text-[14px] tw-leading-[16.8px] tw-mt-[20px]"
			></p>

			<p
					[innerHTML]="'Signup.newsletterEmailNotReceived' | translate"
					class="tw-font-normal md:tw-text-[14px] tw-italic tw-text-oebblack md:tw-leading-[16.8px] tw-text-center tw-text-[14px] tw-leading-[16.8px] tw-mt-[20px]"
			></p>

			</div> -->
		</div>
	</div>
</div>
