::ng-deep .dropzone {
	background-color: white !important;
	text-align: center;
	border: 1px solid var(--color-purple) !important;
	height: 190px;
}

.section {
	background-color: var(--color-lightgray);
	border-radius: 25px;
	margin-bottom: 2em;
	padding: 1.5em 0.8em;
	@media (min-width: 768px) {
		padding: 1.8em;
	}
}

li::marker {
	color: var(--color-purple);
	font-weight: 900;
	font-size: 18px;
	line-height: 21.6px;
}
