
.u-width-formsmall {
    box-sizing: border-box;
}

.fixed-imagefield {
    position: fixed;
    top: 0;
    left: 5px;
    z-index: 100;
}

.fixed-imagefield .forminput-x-label {
    display: none;
}