::ng-deep .topbar{
    background-color: white;
}

.three-dots {
	align-items: center;
	background: var(--color-light1);
	border-radius: 7px;
	border: solid 1px var(--color-light4);
	color: var(--color-dark3);
	display: flex;
	justify-content: center;
	font-family: var(--font-family);
	font-size: var(--font-size-small);
	font-weight: 600;
	letter-spacing: var(--letterspacing);
	line-height: var(--line-height-small);
	position: relative;
	cursor: pointer;
}
.three-dots > svg {
	display: inline;
	fill: var(--color-dark4);
	/* height: 18px; */
	/* width: 18px; */
}
.three-dots:hover {
	background: var(--color-light1);
	color: var(--color-interactive2);
}
.three-dots:hover svg {
	fill: var(--color-interactive2);
}
.threedots-secondary {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-light1);
	color: var(--color-interactive1);
	border: solid 1px var(--color-light4);
}
.threedots-secondary > svg {
	width: 38.37px;
	fill: var(--color-interactive1);
}

.tag{
    border: 1px solid var(--color-purple); 
    height: 32px;  
}

.tag-container {
    display: flex;
	align-items: flex-start;

}

.icon{
    fill: var(--color-purple)
}

.award-btn {
    display: grid;
    grid-gap: var(--gridspacing);
	grid-template-columns: 0fr auto;
}

.badge-header {
    --typography-size: 32px;
    font-family: var(--font-family);
    font-size: var(--typography-size);
    line-height: calc(var(--typography-size) + 8px);
    font-weight: bold;
    color: var(--color-dark1);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    padding-left: calc(var(--gridspacing) * 2);
    padding-right: calc(var(--gridspacing) * 2);
    padding-bottom: calc(var(--gridspacing) * 2);
    padding-top: calc(var(--gridspacing) * 4);
    display: grid;
    grid-gap: calc(var(--gridspacing) * 2);
}

.badge-sidebar {
    padding-left: calc(var(--gridspacing) * 2);
	padding-right: calc(var(--gridspacing) * 2);
	padding-bottom: calc(var(--gridspacing) * 4);
    width: 358px;    
}

.badge-sidebar-internal {
    padding: calc(var(--gridspacing) * 2);
	padding-top: calc(var(--gridspacing) * 4);
	border-radius: 14px;
    display: grid;
    grid-template-columns: 195px auto;
    grid-gap: calc(var(--gridspacing) * 2);
    background-color: #ecfeed;
}

.badge-description {
    --typography-size: 16px;
	font-family: var(--font-family);
	font-size: var(--typography-size);
	line-height: calc(var(--typography-size) + 8px);
	padding: calc(var(--gridspacing) * 2);
	padding-top: 0px;
	padding-bottom: calc(var(--gridspacing) * 4);
}

.badge-competencies {
        --typography-size: 16px;
        font-family: var(--font-family);
        font-size: var(--typography-size);
        line-height: calc(var(--typography-size) + 8px);
        padding: calc(var(--gridspacing) * 2);
        padding-top: 0px;
        padding-bottom: calc(var(--gridspacing) * 4);
}

.badge-detail-body {
    padding: calc(var(--gridspacing) * 2);
	padding-top: 0px;
	padding-bottom: calc(var(--gridspacing) * 6);
    min-height: 800px
}

.issuer-image {
    width: 37.1px;
    height: 37.1px;
}

.badge-image{
    width: 120.88px;
    height: 120.88px
}

@media (min-width: 768px) {
    .award-btn {
        grid-template-columns: 1fr auto;
    }
    
    .badge-header {
        /* padding-left: calc(346px + 48px + 16px); */
        display: flex;
        justify-content: space-between;
        align-items: center;
		left: calc(var(--gridspacing) * 2);
        grid-gap: calc(var(--gridspacing) * 3);
        margin-bottom: 1rem;
    }
    .badge-header > :last-child {
        grid-row: 1 / 1;
        justify-content: end;
    }
   .badge-sidebar {
		position: absolute;
		left: calc(var(--gridspacing) * 2);
		width: 346px;
		padding: 0px;
	}
    .badge-sidebar-internal{
        padding-top: calc(var(--gridspacing) * 6);
        display: flex;
        flex-direction: column;
    }
    .badge-detail-body{
		padding-left: calc(346px + 48px + 16px);
		padding-bottom: calc(var(--gridspacing) * 6);
        
    }
    .issuer-image {
        width: 53px;
        height: 53px;
    }
    .badge-image{
        width: 172.69px;
        height: 172.69px
    }
    .tag-container{
      padding-top: calc(var(--gridspacing) * 2);
    }
}

@media (min-width: 1224px) {
    .badge-header {
        padding-right: calc(50% - 600px);
		padding-left: calc(50% - 600px);
        grid-template-columns: 1fr auto;
		grid-gap: calc(var(--gridspacing) * 2);
        margin-bottom: 2rem;
    }
    .badge-header > :last-child {
		grid-row: unset;
	}
    .badge-sidebar {
        left: calc(50% - 600px);
    }
    .badge-detail-body{
        padding-right: calc(50% - 600px);
		padding-left: calc(50% - 600px + 456px);
    }
    .threedots-secondary > svg {
        width: 58.37px;
        fill: var(--color-interactive1);
    }

}
