<main *bgAwaitPromises="[badgesLoaded]" class="o-container">
	<external-tool-launch></external-tool-launch>
	<form-message></form-message>
	<div class="topbar">
		<div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="crumbs"> </bg-breadcrumbs>
			</div>
		</div>
	</div>
	<div class="tw-flex tw-flex-col tw-relative">
		<div class="badge-header ">
			<h1 class="tw-text-purple">{{ badge.badgeClass.name }}</h1>

			<div class="award-btn">
				<button
					*ngIf="badge.mostRelevantStatus !== 'pending'"
					class="button tw-w-[305px] md:tw-w-[358px] md:tw-h-[64px] tw-h-[45px] tw-flex tw-items-center tw-justify-center tw-text-xl tw-rounded-[7px]"
					type="button"
					(click)="shareBadge()"
				>
					{{ 'RecBadgeDetail.shareBadge' | translate }}
				</button>
				<button class="threedots threedots-secondary tw-rounded-[7px] tw-w-[44.8px] tw-h-[44.8px] md:tw-w-[64px] md:tw-h-[64px]" id="actionstrigger" [bgPopupMenuTrigger]="moreMenu">
					<svg icon="icon_more"></svg>
					<span class="visuallyhidden">{{ 'RecBadgeDetail.more' | translate }}</span>
				</button>
				<bg-popup-menu #moreMenu>
					<a class="menuitem" [href]="verifyUrl"
						><svg icon="icon_checkmark"></svg>{{ 'RecBadgeDetail.verify' | translate }}</a
					>
					<!--<a class="menuitem"
						[href]="v2JsonUrl"
						>Download JSON</a>
					<a class="menuitem"
						[href]="v2BakedUrl"
						>Download Baked Image</a>
					-->
					<button
						class="menuitem"
						(click)="exportPdf()"
						loading-message="Loading badge..."
						[disabled-when-requesting]="true"
					>
						<svg icon="icon_file"></svg>{{ 'RecBadgeDetail.exportPdf' | translate }}
					</button>
					<button class="menuitem" (click)="deleteBadge(badge)" [disabled-when-requesting]="true">
						<svg icon="icon_remove"></svg>{{ 'RecBadgeDetail.delete' | translate }}
					</button>
					<ng-container *ngIf="launchpoints">
						<a class="menuitem" *ngFor="let lp of launchpoints" (click)="clickLaunchpoint(lp)">
							<svg icon="icon_external_link"></svg>
							{{ lp.label }}
						</a>
					</ng-container>
				</bg-popup-menu>
			</div>
		</div>
		<div class="tw-flex md:tw-flex-row tw-flex-col tw-mt-4 tw-relative md:tw-mx-0 tw-mx-auto">
			<div class="badge-sidebar">
				<div class="badge-sidebar-internal">
					<div>
					<div class="tw-w-[195px] tw-h-[179px] md:tw-w-[297.86px] md:tw-h-[257px] tw-flex tw-items-center tw-bg-white tw-mx-auto tw-rounded-[20px] tw-border tw-border-solid tw-border-[var(--color-purple)] ">
						<img
							[loaded-src]="badge.image"
							[loading-src]="badgeLoadingImageUrl"
							[error-src]="badgeFailedImageUrl"
							[ngStyle]="badge.isExpired && { filter: 'grayscale(1)' }"
							class="badge-image badgeimage-center"
						/>
					</div>
					<div
						class="badgestatus badgestatus-{{ badge.mostRelevantStatus }} u-margin-top2x"
						*ngIf="badge.mostRelevantStatus"
					>
						{{ badge.mostRelevantStatus }}
					</div>
						<div class="l-flex l-flex-2x u-padding-top2x tw-mt-4 md:tw-w-[280px] tw-mx-auto tw-flex tw-items-center tw-border tw-border-solid tw-border-[var(--color-purple)] tw-pl-4 tw-py-4 tw-bg-white tw-rounded-[20px]">
							<div>
								<img
									[loaded-src]="badge.badgeClass?.issuer?.image"
									[loading-src]="issuerImagePlacholderUrl"
									[error-src]="issuerImagePlacholderUrl"
									class="issuer-image"
								/>
							</div>
							<div class="tw-text-oebblack">
								<dt class="tw-italic">{{ 'RecBadgeDetail.issuedBy' | translate }}</dt>
								<dd class="u-text">
									<a class="u-break-word" [href]="badge.badgeClass.issuer.id">{{
										badge.badgeClass.issuer.name
									}}</a>
								</dd>
							</div>
						</div>							
						</div>
					<dl>

						<div class="l-flex l-flex-2x tag-container md:tw-flex-row tw-flex-col">
								<dt class="u-text-small-bold u-text-dark2 md:tw-p-2"> Tags </dt>
								<dd class="u-text">
									<div class="l-tags">
										<div class="tag tw-max-w-24" *ngFor="let tag of badge.badgeClass.tags; last as last">{{ tag }}</div>
									</div>
							
						</div>
						<div class="l-flex l-flex-1x tw-text-oebblack u-padding-top2x u-margin-top2x border border-top border-light3 md:tw-flex-row tw-flex-col">
							<dt
								class="u-text-small-bold"
							>
								{{ 'General.category' | translate }}
							</dt>
							<dd class="u-text-small">{{ category.Category === 'competency' ? 'Kompetenz- Badge' : 'Teilnahme- Badge' }}</dd>
						</div>
						<div class="l-flex l-flex-1x tw-text-oebblack u-padding-top2x u-margin-top2x border border-top border-light3 md:tw-flex-row tw-flex-col">							
						<dt
							class="u-text-small-bold"
						>
							{{ 'RecBadgeDetail.issuedOn' | translate }}
						</dt>
						<dd class="u-text-small"><time [date]="badge?.issueDate" format="mediumDate"></time></dd>
						</div>
						<div class="l-flex l-flex-1x tw-text-oebblack u-padding-top2x u-margin-top2x border border-top border-light3 md:tw-flex-row tw-flex-col">
						<dt
							class="u-text-small-bold"
						>
							{{ 'RecBadgeDetail.awardedTo' | translate }}
						</dt>
						<dd class="u-text-small u-break-all" *ngIf="badge.hasExtension('extensions:recipientProfile')">
							{{ badge.getExtension('extensions:recipientProfile', null).name }}
						</dd>
						<dd class="u-text-small u-break-all">{{ badge.recipientEmail }}</dd>
					</div>

						<div *ngIf="badge && badge.expiresDate">
							<dt
								class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2"
							>
								{{ compareDate(badge.expiresDate, now) | i18nPlural: tense['expires'] }} on:
							</dt>
							<dd class="u-text"><time [date]="badge?.expiresDate" format="mediumDate"></time></dd>
						</div>
					</dl>
					<hr class="tw-hidden md:tw-block tw-mx-auto tw-w-[280px] tw-col-span-full tw-my-4 tw-border tw-border-solid tw-border-[var(--color-purple)]" />
				</div>
			</div>
		<div class="badge-detail-body">
			<div class="badge-description">
				<h2 class="tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack u-margin-bottom2x">
					Kurzbeschreibung
				</h2>
				<p class="tw-text-xl tw-font-[rubik] tw-text-oebblack u-text-body u-width-paragraph">{{ badge.badgeClass.description }}</p>
			</div>
		
			<!-- criteria -->
			<!-- <section
				*ngIf="badge.badgeClass.criteria_url || badge.badgeClass.criteria_text || badge.badgeClass.criteria"
			>
				<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
					{{ 'RecBadgeDetail.criteria' | translate }}
				</h3>
				<show-more class="u-margin-bottom8x" *ngIf="badge.badgeClass.criteria_text">
					<markdown-display
						id="recipient-earned-badge-detail-markdown-display"
						[value]="badge.badgeClass.criteria_text"
					></markdown-display>
				</show-more>
				<div class="u-margin-yaxis2x" *ngIf="badge.badgeClass.criteria_url">
					<a class="u-text-outlink" target="_blank" [href]="badge.badgeClass.criteria_url"
						>{{ 'RecBadgeDetail.viewCriteriaUrl' | translate }}
						<svg icon="icon_external_link"></svg>
					</a>
				</div>
			</section> -->

			<!-- Kompetenzen -->
			<section class="badge-competencies">
				<h3
					class="tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack u-margin-bottom2x u-margin-top4x"					
					*ngIf="competencies.length > 0"
				>
					{{ 'RecBadgeDetail.competencies' | translate }}
				</h3>
				<div *ngFor="let competency of competencies; let i = index">
					<div
						class="tw-flex tw-flex-col tw-bg-[var(--color-lightgreen)] tw-border tw-border-solid tw-border-[var(--color-purple)] tw-rounded-lg tw-mt-4 tw-w-[346px] md:tw-w-[596px]"
					>
  					<div class="tw-p-4">

						<div class="tw-grid tw-grid-cols-3">
							<span class="tw-col-span-2 tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack">{{ competency.name }}</span>
							<div class="tw-flex tw-items-start tw-justify-end ">
								<div class="tw-flex tw-items-center tw-gap-2 tw-px-2 tw-border tw-border-solid tw-rounded-3xl tw-border-[var(--color-purple)] tw-bg-white">
									<svg class="icon icon-dark4 tw-w-[16px] md:tw-w-[18px]" viewBox="0 0 24 24" icon="icon_pending"></svg>
									<span class="tw-text-xs md:tw-text-lg tw-font-light">{{ competency.studyLoad }} Min.</span>
								</div>
							</div>
						</div>
						<div>
							<p class="u-break-word u-text-body tw-text-[20px] tw-leading-[24px] tw-font-[rubik] u-width-paragraph u-margin-top2x tw-line-clamp-3 tw-italic">{{ competency.description }}</p>
						</div>
						
						

						<!-- <competency-accordion [category]="competency.category" [description]="competency.description" /> -->
					</div>
					</div>
				</div>
			</section>

			<!-- alignment -->
			<!-- <section>
				<h3
					class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x"
					*ngIf="badge.badgeClass.alignment && badge.badgeClass?.alignment.length > 0"
				>
					{{ 'RecBadgeDetail.alignment' | translate }}
				</h3>
				<div *ngFor="let alignment of badge.badgeClass.alignment; let i = index">
					<div class="l-flex l-flex-justifybetween">
						<h4 class="u-text-body-bold u-margin-bottom1x">{{ alignment.targetName }}</h4>
						<small>{{ alignment.targetCode }}</small>
					</div>
					<p class="u-break-word u-text-body u-width-paragraph">{{ alignment.targetDescription }}</p>
					<div *ngIf="alignment.frameworkName">
						<h1>Framework</h1>
						{{ alignment.frameworkName }}
					</div>
					<div class="u-margin-yaxis2x">
						<a
							*ngIf="alignment.targetUrl"
							class="u-text-outlink"
							[href]="alignment.targetUrl"
							target="_blank"
							>{{ 'RecBadgeDetail.viewAlignmentUrl' | translate }}
							<svg icon="icon_external_link"></svg>
						</a>
					</div>
				</div>
			</section> -->


			<!-- evidence -->
			<!-- <section>
				<div *ngIf="badge.narrative" class="u-break-word">
					<h3
						class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x"
						*ngIf="badge.evidence_items?.length > 0 || badge.narrative"
					>
						{{ 'RecBadgeDetail.narrative' | translate }}
					</h3>
					<show-more>
						<markdown-display [value]="badge.narrative"></markdown-display>
					</show-more>
				</div>
				<div *ngFor="let evidence of badge.evidence_items; let i = index" class="u-break-word">
					<div *ngIf="badge.evidence_items?.length > 0 || badge.narrative">
						<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
							{{ 'RecBadgeDetail.evidence' | translate }}
						</h3>
						<markdown-display [value]="evidence.narrative"></markdown-display>
					</div>
					<div class="u-margin-yaxis2x">
						<a
							*ngIf="evidence.evidence_url"
							class="u-text-outlink"
							[href]="evidence.evidence_url"
							target="_blank"
							>{{ 'RecBadgeDetail.viewEvidenceUrl' | translate }}
							<svg icon="icon_external_link"></svg>
						</a>
					</div>
				</div>
			</section> -->

			<!-- collections -->
			<!-- <section>
				<div class="l-flex l-flex-1x l-flex-justifybetween u-margin-bottom2x u-margin-top4x">
					<h2 class="u-text-h3-semibold u-text-dark2">{{ 'RecBadgeDetail.collections' | translate }}</h2>
					<button
						[class.connectionadd-is-added]="badge.collections.length > 0"
						(click)="manageCollections()"
						class="button button-secondary"
					>
						{{ 'RecBadgeDetail.addToCollection' | translate }}
					</button>
				</div>
				<table
					class="datatable datatable-roundheaders datatable-verticalalignmiddle"
					*ngIf="badge.collections.length > 0"
				>
					<thead class="datatable-x-head">
						<tr class="datatable-x-header">
							<th class="datatable-x-cell">{{ 'RecBadgeDetail.collection' | translate }}</th>
							<th class="datatable-x-cell">
								<span class="visuallyhidden">{{ 'RecBadgeDetail.actions' | translate }}</span>
							</th>
						</tr>
					</thead>
					<tbody class="datatable-x-body">
						<tr class="datatable-x-row" *ngFor="let collection of badge.collections">
							<td class="datatable-x-cell">
								<p class="u-text-body-semibold u-break-word">{{ collection.name }}</p>
							</td>
							<td class="datatable-x-cell">
								<div class="l-flex l-flex-justifyend">
									<button class="u-text-link-small" (click)="removeCollection(collection)">
										{{ 'RecBadgeDetail.remove' | translate }}
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</section> -->
		</div>
		</div>
	</div>
	<recipient-badge-collection-selection-dialog #collectionSelectionDialog>
	</recipient-badge-collection-selection-dialog>
</main>
