<ng-container *bgAwaitPromises="[badgeClassLoaded]">
    <div class="oeb page-padding">
        <div class="oeb-breadcrumbs">
            <bg-breadcrumbs [linkentries]="crumbs"></bg-breadcrumbs>
        </div>
        <div class="oeb-headline-container-sm">
            <h1 hlmH1 class="tw-text-purple tw-font-extrabold">Badge über QR-Code vergeben</h1>
            <p hlmP size="lg" class="tw-text-oebblack tw-my-4">
                Wenn du hier eine QR-Code-Vergabe anlegst, können deine Lernenden den so generierten QR-Code abscannen und sich den Badge darüber selbst abholen.
            </p>
        </div>
        <div class="tw-text-oebblack">
            <span hlmP class="tw-font-bold">So funktioniert's:</span>
            <ol class="tw-list-decimal tw-list-inside tw-my-2">
                <li class="tw-pt-1" hlmP [innerHTML]="'IssueQr.list1' | translate"></li>
                <li class="tw-pt-1" hlmP [innerHTML]="'IssueQr.list2' | translate"></li>
                <li class="tw-pt-1" hlmP [innerHTML]="'IssueQr.list3' | translate"></li>
                <li class="tw-pt-1" hlmP [innerHTML]="list4Text"></li>
            </ol>
        </div>
        <div class="oeb-section-sm">
            <div class="tw-bg-lightpurple tw-rounded-3xl tw-mt-2 tw-p-10">
                <edit-qr-form></edit-qr-form>
            </div>
        </div>
    </div>
</ng-container>    