<form-message></form-message>
<app-badge-legend *ngIf="showLegend" (closed)="closeLegend()"></app-badge-legend>

<form [formGroup]="badgeClassForm.rawControl" #formElem (ngSubmit)="onSubmit()" novalidate class="l-responsivelist">
	<!-- General Details Panel -->
	<div class="formsection">
		<!-- <div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Badge Basics
			</h2>
		</div> -->

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">Badge Basics</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				Badge Bilder können entweder PNGs oder SVGs oder die über die Iconsuche gewählten Icons sein. Um das
				gewählte Bild/Icon wird automatisch, je nach Kategorie, ein Rahmen gesetzt.
			</p>
			<br />
			<a href="javascript:;" (click)="openLegend()" class="u-text-outlink"
				>Was bedeuten die Rahmen und Farben?
			</a>
		</div>
		<div class="formsection-x-body">
			<div class="forminput u-margin-bottom2x">
				<bg-formfield-image
					#imageField
					label="Bild"
					imageLoaderName="badge"
					[class.fixed-imagefield]="scrolled"
					[newDropZone]="true"
					[generateRandom]="false"
					[type]="'badge'"
					(generateRandomImage)="generateRandomImage()"
					(imageUploaded)="generateUploadImage($event, badgeClassForm.value)"
					class="l-formimageupload-x-upload"
					[placeholderImage]="badgeClassPlaceholderImageUrl"
					[control]="badgeClassForm.rawControlMap.badge_image"
					[errorMessage]="'Bitte gib dem Badge ein gültiges (bei einem Fork eindeutiges) Bild'"
				>
				</bg-formfield-image>
				<badge-studio
					[scrolled]="scrolled"
					#badgeStudio
					[formData]="badgeClassForm.value"
					[hidden]="true"
				></badge-studio>
			</div>

			<!-- No Hexagon Frame Checkout -->
			<div class="u-margin-top3x u-margin-bottom3x">
				<label class="checkbox">
					<input id="no-hex-frame" name="no-hex-frame" type="checkbox" (change)="handleCBoxValueChange($event)" />
					<span class="checkbox-x-text">Ohne Hexagon-Rahmen </span>
				</label>
			</div>

			<div class="forminput u-margin-bottom2x">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_name"
					label="Name"
					[errorMessage]="{
						required: 'Bitte gib dem Badge einen Namen',
						mustChange: 'Bitte ändere den Namen'
					}"
					[autofocus]="true"
				></bg-formfield-text>
			</div>

			<div class="forminput">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_description"
					label="Kurzbeschreibung"
					id="badgeclass_description_input"
					placeholder="Kurze Beschreibung der Leistung"
					[errorMessage]="{ required: 'Bitte gib eine Beschreibung ein' }"
					[multiline]="true"
				></bg-formfield-text>
			</div>
		</div>
	</div>

	<!-- Criteria Panel -->
	<div class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Kriterien
				<span>(Mindestens eines der Felder ist verpflichtend.)</span>
			</h2>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">Was sind die Kriterien?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				Das Kriterienfeld beschreibt genau, was getan werden muss, um das Badge zu erhalten. Einige Issuer
				wählen eine URL auf ihrer Website als Informationsseite, die erklärt worum es bei dem Badge geht und wie
				man es erhält.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="u-margin-bottom2x">
				<div class="mdeditor">
					<div class="mdeditor-x-editor">
						<p
							[hidden]="!alignmentFieldDirty || !badgeClassForm.hasError('criteriaRequired')"
							class="u-text u-margin-bottom2x u-text-error"
						>
							Entweder Text oder eine URL sind verpflichtend.
						</p>

						<bg-formfield-markdown
							[control]="badgeClassForm.rawControlMap.badge_criteria_text"
							[newValue]="badgeClassForm.rawControlMap.badge_criteria_text.value"
							label=" Wie bekommt man dieses Badge?"
							class="l-formsection-x-inputoffset"
							[errorMessage]="''"
						></bg-formfield-markdown>
					</div>
				</div>
			</div>

			<div class="forminput u-margin-bottom2x">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_criteria_url"
					label="URL"
					[urlField]="true"
					fieldType="url"
					errorMessage="URL zu den Badge Kriterien"
				></bg-formfield-text>
			</div>
		</div>
	</div>

	<!-- Criteria Panel -->
	<div class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">Dauer</h2>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">Was ist die Dauer?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				Im Dauerfeld beschreibst Du den zeitlichen Umfang der Leistung, die nötig ist, um das Badge zu erhalten.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="forminput u-margin-bottom2x">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_study_load"
					label="Dauer in Stunden"
					[fieldType]="'number'"
					[errorMessage]="{
						required: 'Bitte gib die Dauer der Leistung zum Erhalt des Badges ein.'
					}"
				></bg-formfield-text>
			</div>
		</div>
	</div>

	<div class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">Kategorie</h2>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">Was ist die Kategorie?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				Als Kategorie wählst Du zwischen der Teilnahme/Erfolg, der Mitgliedschaft, einer fachlichen Kompetenz
				oder einer Metakompetenz.
			</p>
			<br />
			<a href="javascript:;" (click)="openLegend()" class="u-text-outlink">Mehr zu den Kategorien </a>
		</div>
		<div class="formsection-x-body">
			<div class="forminput u-margin-bottom2x">
				<bg-formfield-select
					ariaLabel="Wähle eine Kategorie"
					[control]="badgeClassForm.rawControlMap.badge_category"
					label="Kategorie"
					[placeholder]="'Wähle eine Kategorie'"
					[optionMap]="categoryOptions"
					[errorMessage]="{
						required: 'Bitte wähle die Kategorie des Badges aus.'
					}"
				></bg-formfield-select>
			</div>
		</div>
	</div>

	<div class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">Stufe</h2>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">Was ist die Stufe?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				Kompetenzen werden in 6 Stufen abgebildet: A1 Einsteiger*in, A1 Entdecker*in, B1 Insider*in, B2
				Expert*in, C1 Leader*in und C2 Vorreiter*in. Im Badge Bild erkennt man die Stufe durch die Anzahl der
				markeirten Kanten im Uhrzeigersinn.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="forminput u-margin-bottom2x">
				<bg-formfield-select
					ariaLabel="Wähle eine Stufe"
					[control]="badgeClassForm.rawControlMap.badge_level"
					label="Level"
					[disabled]="
						badgeClassForm.rawControlMap.badge_category.value === 'membership' ||
						badgeClassForm.rawControlMap.badge_category.value === 'archievement'
					"
					[placeholder]="'Wähle eine Stufe'"
					[optionMap]="levelOptions"
					[errorMessage]="{
						required: 'Wähle eine Stufe für das Badge'
					}"
				></bg-formfield-select>
			</div>
		</div>
	</div>

	<!-- alignments -->
	<div *ngIf="alignmentsEnabled" class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Verknüpfung
				<span>(Optional)</span>
			</h2>
			<button type="button" (click)="disableAlignments()" class="buttonicon buttonicon-link">
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden">Close</span>
			</button>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">Was ist die Verknüpfung?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				Open Badges können optional mit Bildungsstandards verknüpft werden. Diese Verknüpfungsinformation kann
				für Menschen wichtig sein, die sehen welche Badges man erhalten hat oder für Menschen, die sich
				überlegen ein bestimmtes Badge zu erhalten.
			</p>
		</div>
		<div class="formsection-x-body">
			<ng-container *ngFor="let alignment of badgeClassForm.controls.alignments.controls; let i = index">
				<div class="l-flex l-flex-1x l-flex-justifybetween u-margin-bottom2x">
					<h3 class="u-text-body-bold u-text-dark1">
						{{ alignment.controls.target_name.value }}
					</h3>
					<button
						*ngIf="badgeClassForm.controls.alignments.controls.length > 1"
						type="button"
						(click)="removeAlignment(alignment)"
						class="u-text-link"
					>
						Remove
					</button>
				</div>
				<div class="forminput u-margin-bottom6x">
					<div class="forminput-x-inputs">
						<bg-formfield-text
							[control]="alignment.rawControlMap.target_name"
							label="Name"
							[errorMessage]="{ required: 'Gib den Namen der Verknüpfung ein.' }"
							id="alignment_name_{{ i }}"
						></bg-formfield-text>

						<bg-formfield-text
							[control]="alignment.rawControlMap.target_url"
							label="URL"
							[errorMessage]="{ required: 'Bitte gib eine URL zur Verknüpfung an.' }"
							[urlField]="true"
							id="alignment_url_{{ i }}"
						></bg-formfield-text>

						<bg-formfield-text
							[control]="alignment.rawControlMap.target_description"
							label="Kurzbeschreibung"
							[multiline]="true"
							id="alignment_description_{{ i }}"
						></bg-formfield-text>

						<button
							*ngIf="!showAdvanced[i]"
							(click)="showAdvanced[i] = true"
							type="button"
							class="u-text-link-small u-margin-yaxis2x"
						>
							Zeige erweiterte Optionen
						</button>

						<ng-template [ngIf]="showAdvanced[i]">
							<button
								(click)="showAdvanced[i] = false"
								type="button"
								class="u-text-link-small u-margin-yaxis2x"
							>
								Verstecke erweiterte Optionen
							</button>

							<label class="forminput-x-label u-margin-top2x" for="forminput2">Rahmen</label>
							<input type="text" id="forminput2" name="forminput2" />

							<label class="forminput-x-label u-margin-top2x" for="url">Code</label>
							<input type="text" id="url" name="url" />
						</ng-template>
					</div>
				</div>
			</ng-container>

			<div class="l-stack">
				<button (click)="addAlignment()" type="button" class="button button-secondary">
					Verknüpfung hinzufügen
				</button>
			</div>
		</div>
	</div>

	<!-- tags -->
	<div *ngIf="tagsEnabled" class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Tags
				<span>(Optional)</span>
			</h2>
			<button type="button" (click)="disableTags()" class="buttonicon buttonicon-link">
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden">Close</span>
			</button>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">Was sind Tags?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				Tags sind eine optionale Art und Weise eine Badge zu beschreiben. Tags helfen bei der Suche von Badges
				zu bestimmten Themen.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="l-tags">
				<div *ngFor="let tag of tags" class="tag tag-withclose">
					{{ tag }}
					<button class="buttonicon buttonicon-link">
						<svg icon="icon_close" (click)="removeTag(tag)"></svg>
						<span class="visuallyhidden">Löschen</span>
					</button>
				</div>
			</div>

			<div class="forminput forminput-withbutton forminput-light1 u-width-formsmall u-margin-top3x">
				<label class="forminput-x-label visuallyhidden" for="addtag">Add Tag</label>
				<div class="forminput-x-inputs">
					<div class="ng-autocomplete">
						<ng-autocomplete
							name="addtag"
							id="addtag"
							#newTagInput
							maxlength="50"
							[data]="existingTags"
							[isLoading]="existingTagsLoading"
							searchKeyword="name"
							placeholder="Neuer Tag..."
							(keypress)="handleTagInputKeyPress($event)"
							[itemTemplate]="itemTemplate"
							[notFoundTemplate]="notFoundTemplate"
						>
						</ng-autocomplete>

						<ng-template #itemTemplate let-item>
							<a [innerHTML]="item.name"></a>
						</ng-template>

						<ng-template #notFoundTemplate let-notFound>
							<div>Dieser Tag existiert noch nicht.</div>
						</ng-template>
					</div>
					<!--The additional style attribute here is needed to
                        align the button with the autocomplete input.-->
					<div class="forminput-x-button" style="margin-top: var(--gridspacing)">

						<button type="button" (click)="addTag()" class="button button-secondary button-informinput">
							Hinzufügen
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- expiration -->
	<div *ngIf="expirationEnabled" class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Gültigkeit
				<span>(Optional)</span>
			</h2>
			<button type="button" (click)="disableExpiration()" class="buttonicon buttonicon-link">
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden">Schliessen</span>
			</button>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold">Was ist die Gültikgeit?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x">
				Beschreiben Sie die Dauer, für die dieses Badge allgemein gültig ist. Diese Information kann auch bei
				der Vergabe geändert werden. Badges werden nach Ablauf der Gültigkeit als abgelaufen markiert.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="l-spacestack">
				<bg-formfield-text
					[control]="expirationForm.rawControlMap.expires_amount"
					label="Anzahl"
					[fieldType]="'number'"
					[max]="1000"
					[maxchar]="4"
				></bg-formfield-text>
				<bg-formfield-select
					ariaLabel="Wähle Dauer"
					[control]="expirationForm.rawControlMap.expires_duration"
					label="Dauer"
					[placeholder]="'Wähle Dauer'"
					[optionMap]="durationOptions"
				></bg-formfield-select>
			</div>
		</div>
	</div>

	<!-- add options -->
	<div class="formsection formsection-nohelp">
		<h2 class="formsection-x-title">Optionale Details</h2>
		<div class="formsection-x-body">
			<ul>
				<li class="l-flex l-flex-justifybetween l-flex-aligncenter u-padding-bottom2x">
					<div class="l-flex l-flex-2x">
						<svg class="icon icon-dark4" width="24px" viewBox="0 0 24 24" icon="icon_link"></svg>
						<p class="u-text-body-semibold u-text-dark2">Verknüpfung zu Bildungsstandards</p>
					</div>
					<button
						type="button"
						(click)="enableAlignments()"
						*ngIf="!alignmentsEnabled"
						class="u-text-link-small"
					>
						hinzufügen
					</button>
					<button type="button" disabled *ngIf="alignmentsEnabled" class="u-text-link-small u-text-light4">
						hinzugefügt
					</button>
				</li>
				<li
					class="l-flex l-flex-justifybetween l-flex-aligncenter border border-top border-light3 u-padding-yaxis2x"
				>
					<div class="l-flex l-flex-2x">
						<svg class="icon icon-dark4" width="24px" viewBox="0 0 24 24" icon="icon_tags"></svg>
						<p class="u-text-body-semibold u-text-dark2">Tags</p>
					</div>
					<button type="button" (click)="enableTags()" *ngIf="!tagsEnabled" class="u-text-link-small">
						hinzufügen
					</button>
					<button type="button" *ngIf="tagsEnabled" disabled class="u-text-link-small u-text-light4">
						hinzugefügt
					</button>
				</li>
				<li
					class="l-flex l-flex-justifybetween l-flex-aligncenter border border-top border-light3 u-padding-yaxis2x"
				>
					<div class="l-flex l-flex-2x">
						<svg class="icon icon-dark4" width="24px" viewBox="0 0 24 24" icon="icon_pending"></svg>
						<p class="u-text-body-semibold u-text-dark2">Gültigkeit</p>
					</div>
					<button
						type="button"
						(click)="enableExpiration()"
						*ngIf="!expirationEnabled"
						class="u-text-link-small"
					>
						hinzufügen
					</button>
					<button type="button" disabled *ngIf="expirationEnabled" class="u-text-link-small u-text-light4">
						hinzugefügt
					</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="formsection formsection-nohelp">
		<div class="formsection-x-body">
			<a href="https://openbadges.org/" class="u-text-outlink">
				Finde mehr über Open Badges heraus
				<svg icon="icon_external_link"></svg>
			</a>
		</div>
	</div>

	<div class="l-stack l-stack-right u-margin-top3x">
		<button
			type="button"
			[disabled-when-requesting]="true"
			(click)="cancelClicked()"
			class="button button-secondary"
		>
			Cancel
		</button>
		<button
			type="submit"
			class="button"
			[disabled]="!!savePromise"
			[loading-promises]="[savePromise]"
			loading-message="{{ submittingText }}"
		>
			{{ submitText }}
		</button>
	</div>
</form>
