.open-legend-button {
	color: var(--color-link);
	justify-self: flex-end;
	text-align: right;
	width: 100%;
	text-decoration: underline;
	font-weight: bold;
}
.open-legend-button a {
	cursor: pointer;
}
.tag-wrapper {
	margin: 0 4px;
	max-width: 30%;
}
.subtitle-wrapper {
	grid-template-columns: 70% 1fr auto;
	display: grid;
	align-items: center;
}
#badge-catalog-select {
	padding-top: 0px;
	padding-bottom: 1px;
	padding-left: 5px;
}

#badge-catalog-select-label {
	padding-top: 3px;
}
