.open-legend-button {
	color: var(--color-link);
	justify-self: flex-end;
}
.open-legend-button a {
	cursor: pointer;
}
.tag-wrapper {
	margin: 0 4px;
	max-width: 30%;
}
.subtitle-wrapper {
	grid-template-columns: 70% 1fr auto;
	display: grid;
	align-items: center;
}
.tag-button {
	cursor: pointer;
}
.tag-button-pressed {
	background-color: var(--color-link);
	color: var(--color-light1);
	border-color: var(--color-link);
}
