<section class="l-containerxaxis l-containeryaxis">
	<div class="u-width-form">
		<article class="contentlong">
			<h2>Anleitung</h2>
			<p>
				Du kannst eine Liste von Empfänger*innen importieren welche den Badge erhalten sollen. Die Datei muss
				folgendermaßen aussehen:
			</p>
			<ol>
				<li>E-Mail Adresse und Nachweis URL beinhalten</li>
				<li>CSV oder TXT Format.</li>
			</ol>
			<p>
				Benutze diese
				<a [href]="badgrBulkIssueTemplateUrl" download="badgr-bulk-issue-template.csv"> Beispiel Vorlage </a>
				um eine CSV oder TXT Datei zu erstellen
			</p>
		</article>
		<form [formGroup]="csvForm" class>
			<fieldset>
				<bg-formfield-file
					#fileField
					label="File"
					validFileTypes="text/plain,.csv"
					[control]="csvForm.controls['zipFile']"
					[placeholderImage]="csvUploadIconUrl"
					(fileData)="onFileDataReceived($event)"
				>
				</bg-formfield-file>
			</fieldset>
		</form>

		<div class="l-flex l-flex-1x u-margin-top2x">
			<button class="button button-secondary" (click)="updateViewState('cancel')">Abbrechen</button>

			<button
				class="button l-marginLeft-x2"
				[class.button-is-disabled]="rawCsv === null"
				[attr.disabled]="rawCsv ? null : true"
				(click)="importAction()"
			>
				Importieren
			</button>
		</div>
	</div>
</section>
