<dialog
	aria-labelledby="updatedTermsDialog"
	aria-describedby="dialog1Desc"
	class="dialog dialog-is-active l-dialog"
	role="dialog"
	[style.display]="'block'"
>
	<div class="dialog-x-box o-container">
		<button (click)="close()" class="buttonicon buttonicon-link">
			<svg icon="icon_close"></svg>
			<span class="visuallyhidden">Close</span>
		</button>

		<div class="l-flex l-flex-justifybetween u-padding-top2x u-padding-xaxis3x">
			<h1 id="updatedTermsDialog" class="u-text-body-bold-caps text-dark1">
				{{ 'Legend.legendTitle' | translate }}
			</h1>
		</div>
		<div class="u-padding-all3x u-padding-xaxis3x">
			<h3 class="u-padding-top2x">{{ 'Legend.legendDesc' | translate }}</h3>
			<div class="category u-padding-xaxis3x u-margin-top2x skill">
				<h2 class="u-text-body-bold-caps text-dark1">{{ 'Legend.cat1' | translate }}</h2>
				<p class="category-text">{{ 'Legend.cat1Desc' | translate }}</p>
				<div class="legend-images">
					<div class="legend-item">
						<img src="assets/badges/competence.png" />
					</div>
				</div>
			</div>

			<div class="category u-padding-xaxis3x u-margin-top2x ability">
				<h2 class="u-text-body-bold-caps text-dark1">{{ 'Legend.cat2' | translate }}</h2>
				<p class="category-text">{{ 'Legend.cat2Desc' | translate }}</p>
				<div class="legend-images">
					<div class="legend-item">
						<img src="assets/badges/participation.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
</dialog>
