<dialog 
aria-labelledby="updatedTermsDialog" 
aria-describedby="dialog1Desc" 
class="dialog dialog-is-active l-dialog" 
role="dialog"
[style.display]="'block'">
  <div class="dialog-x-box o-container">
    <button
      (click)="close()"
      class="buttonicon buttonicon-link">
      <svg icon="icon_close"></svg>
      <span class="visuallyhidden">Close</span>
    </button>

    <div class="l-flex l-flex-justifybetween u-padding-top2x u-padding-xaxis3x">
      <h1 id="updatedTermsDialog" class="u-text-body-bold-caps text-dark1">
        Legende
      </h1>
    </div>
    <div class="u-padding-all3x u-padding-xaxis3x">
      <h3 class="u-padding-top2x">Die Badges gliedern sich in vier Kategorien:</h3>
      <div class="category u-padding-xaxis3x u-margin-top2x skill">
        <h2 class="u-text-body-bold-caps text-dark1">FACHLICHE KOMPETENZ</h2>
        <p class="category-text">Ein Badge aus der Kategorie ‚Fachliche Kompetenz‘ spiegelt eine spezifisch erbrachte Leistung auf fachlicher 
          Ebene  wider.  Das  erreichte  Niveau  kann  in  eine  der  sechs  aufeinander  aufbauenden  Stufen  eingeordnet 
          werden:</p>
          <div class="legend-images">
            <div class="legend-item">
              <img src="assets/badges/a1.svg">
              <span>A1: Einsteiger*in </span>
            </div>
            <div class="legend-item">
              <img src="assets/badges/a2.svg">
              <span>A2: Entdecker*in </span>
            </div>
            <div class="legend-item">
              <img src="assets/badges/b1.svg">
              <span>B1: Insider*in</span>
            </div>
            <div class="legend-item">
              <img src="assets/badges/b2.svg">
              <span>B2: Expert*in</span>
            </div>
            <div class="legend-item">
              <img src="assets/badges/c1.svg">
              <span>C1: Leader*in</span>
            </div>
            <div class="legend-item">
              <img src="assets/badges/c2.svg">
              <span>C2: Vorreiter*in</span>
            </div>
            
          </div>
        </div>
        
        <div class="category u-padding-xaxis3x u-margin-top2x ability">
          <h2 class="u-text-body-bold-caps text-dark1">METAKOMPETENZ</h2>
          <p class="category-text">Badges aus der Kategorie ‚Metakompetenz‘ stellen übergeordnete Fähigkeiten aus den Bereichen des stra-
            tegischen und problemlösenden Arbeitens dar. Hier strukturiert sich die Leistung ebenfalls in sechs aufeinan-
            der aufbauenden Stufen:</p>
            <div class="legend-images">
              <div class="legend-item">
                <img src="assets/badges/a1_ability.svg">
                <span>A1: Einsteiger*in </span>
              </div>
              <div class="legend-item">
                <img src="assets/badges/a2_ability.svg">
                <span>A2: Entdecker*in </span>
              </div>
              <div class="legend-item">
                <img src="assets/badges/b1_ability.svg">
                <span>B1: Insider*in</span>
              </div>
              <div class="legend-item">
                <img src="assets/badges/b2_ability.svg">
                <span>B2: Expert*in</span>
              </div>
            <div class="legend-item">
              <img src="assets/badges/c1_ability.svg">
              <span>C1: Leader*in</span>
            </div>
            <div class="legend-item">
              <img src="assets/badges/c2_ability.svg">
              <span>C2: Vorreiter*in</span>
            </div>

          </div>
      </div>

      <div class="category u-padding-xaxis3x u-margin-top2x archievement">
        <h2 class="u-text-body-bold-caps text-dark1">TEILNAHME</h2>
        <p>Ein Badge aus der Kategorie ‚Teilnahme‘ ist unabhängig von erbrachten Leistungen und kann 
          durch die Anwesenheit bei gelisteten Veranstaltungen vergeben bzw. erlangt werden. </p>
          <div class="legend-images">
            <div class="legend-item"><img src="assets/badges/nolvl.svg"></div>
          </div>
      </div>
      <div class="category u-padding-xaxis3x u-margin-top2x membership">
        <h2 class="u-text-body-bold-caps text-dark1">MITGLIED</h2>
        <p>Die Mitgliedschaft in einem Verein, einer Institution oder Ähnlichem zeichnet Personen dafür 
          aus,  ein Badge aus der Kategorie ‚Mitglied‘ zu erhalten. Die erbrachte Leistung ist  hier nicht 
          von Bedeutung. </p>
          <div class="legend-images">
            <div class="legend-item"><img src="assets/badges/nolvl_member.svg"></div>
          </div>
      </div>
    </div>
  </div>
</dialog>