<div class="oeb page-padding">
	<div class="l-containerxaxis l-containeryaxis">
		<form-message></form-message>

		<h1 class="u-text-h1-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">Datenschutz­erklärung</h1>
		<!-- Datenschutz­erklärung -->
		<p class="!tw-mt-[2em] !tw-mb-[1.3em]">für die Nutzung der Webseite "openbadges.education"</p>

		<!-- Gegenstand der Datenschutzerklärung - 1 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			1. Gegenstand der Datenschutzerklärung
		</h2>
		<p>
			<span>
				Wir freuen uns über dein Interesse an unserer Webseite „openbadges.education“ (im Folgenden „Webseite“
				genannt). Der Schutz deiner personenbezogenen Daten („Daten“) ist uns ein besonderes und wichtiges
				Anliegen. Nachfolgend möchten wir dich darüber informieren, welche Daten bei der Nutzung der Webseite
				erhoben und wie diese von uns verwendet werden. In der Datenschutzerklärung erfährst du, welche
				personenbezogenen Daten wir über dich sammeln, wie wir sie verwenden und welche Rechte du hast.
				Personenbezogene Daten sind alle Informationen, die dazu genutzt werden können, deine Identität zu
				erfahren, wie zum Beispiel dein Name, deine Anschrift, dein Geburtsdatum, deine E-Mail-Adresse oder ein
				Bild von dir. Aktualisierungen und Änderungen sind über diese Webseite verfügbar, also schaue regelmäßig
				nach, um zu sehen, was sich geändert hat. Zuletzt haben wir unsere Datenschutzerklärung am 08.11.2024
				aktualisiert.
			</span>
		</p>

		<!-- Verantwortliche Stelle und Diensteanbieter - 2 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			2. Verantwortliche Stelle und Datenschutzbeauftragte:r
		</h2>
		<p>
			Verantwortliche für die Verarbeitung sind die nachfolgend genannten Stellen gemeinsam im Sinne des Art. 26
			DS-GVO:
		</p>
		<p>
			<span>
				<b> openSenseLab gGmbH </b> <br />
				Von-Steuben-Str. 21<br />
				48143 Münster<br />
				<a href="mailto:info@opensenselab.org">
					<u>info&#64;opensenselab.org</u>
				</a>
			</span>

			<span>
				<b> mycelia gGmbH </b> <br />
				Eylauer Str. 14<br />
				10965 Berlin<br />
				<a href="mailto:post@mycelia.education">
					<u>post&#64;mycelia.education</u>
				</a>
			</span>

			<span>
				<b> matrix gGmbH </b> <br />
				Rittergut Haus Morp <br />
				Düsseldorfer Straße 16 <br />
				40699 Erkrath <br />
				<a href="mailto:info@matrix-ggmbh.de">
					<u>info&#64;matrix-ggmbh.de</u>
				</a>
			</span>

			<span>
				Die gemeinsam Verantwortlichen gestalten die Datenverarbeitung kooperativ und übernehmen entsprechend
				anteilig die Verantwortung für die Datenverbreitung. Zuständig für die Erfüllung von Betroffenenanfragen
				und die Datenschutzhinweise ist die matrix gGmbH. Diese kann unter
				<a href="mailto:info@matrix-ggmbh.de">
					<u>info&#64;matrix-ggmbh.de</u>
				</a>
				kontaktiert werden.
			</span>
		</p>

		<!-- Über die Website - 3 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">3. Über die Webseite</h2>
		<p>
			<span>
				Openbadges.education ist eine internetbasierte Plattform für Erwachsene und junge Menschen. Die
				Plattform bietet einen Service, um Kompetenzerwerb über die Vergabe von digitalen Badges abzubilden. Wir
				bieten ein Instrument an, um digitale Zertifikate (Badges) zu erstellen, zu vergeben und zu sammeln. Das
				hilft dir als Lernenden deine erworbenen Kompetenzen zu überblicken, mit anderen zu teilen und gibt dir
				Möglichkeiten, weitere Lern-Angebote zu finden.
			</span>
			<span>
				Openbadges.education hilft Organisationen, die Lernangebote gestalten, dir leichter Nachweise über deine
				Teilnahme und/oder deinen Kompetenzzuwachs durch die Teilnahme zu senden. Die Organisation benötigt
				dafür folgende Daten von dir, um die Lernnachweise zu dir zu senden:
			</span>
			<span>
				<ul>
					<li>Vor- und Nachname</li>
					<li>Email-Adresse</li>
				</ul>
			</span>
		</p>

		<!-- Wofür wir die Daten verwenden - 4 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">4. Wofür wir die Daten verwenden</h2>
		<p>
			<span>
				Die Webseite gibt dir die Möglichkeit, dich über Open Educational Badges zu informieren und digitale
				Badges zu erhalten, zu sammeln, mit anderen zu teilen und in der Rolle einer Institution zu vergeben.
				Zweck der Datenverarbeitung ist es, unsere Webseite und Leistungen ordnungsgemäß darzustellen und
				anzubieten. Im Einzelnen können deine Daten wie folgt verarbeitet werden:
			</span>
		</p>
		<h3 class="u-text-h3-semibold u-text-dark2">4.1 Rein informatorische Nutzung der Webseite</h3>
		<p>
			<span>
				Besuchst du unseren Internetauftritt zu rein informatorischen Zwecken, ist es grundsätzlich nicht
				erforderlich, dass du uns Daten zur Verfügung stellst. In diesem Fall erheben und verwenden wir nur
				diejenigen Daten, die uns Ihr Internetbrowser automatisch übermittelt, wie zum Beispiel
			</span>
			<span>
				<ul>
					<li>Datum und Uhrzeit des Abrufs einer unserer Internetseiten,</li>
					<li>Typ und Einstellungen des von Ihnen verwendeten Internetbrowsers,</li>
					<li>verwendetes Betriebssystem,</li>
					<li>die von Ihnen zuletzt besuchte Internetseite,</li>
					<li>Ihre IP-Adresse.</li>
				</ul>
			</span>
			<span>
				Diese Daten erheben und verwenden wir bei deinem Besuch unseres Internetauftritts zu rein
				informatorischen Zwecken ausschließlich in nicht-personenbezogener Form und zu dem Zweck, die Nutzung
				der von dir abgerufenen Internetseiten zu ermöglichen, unser Internetangebot zu verbessern sowie zu
				statistischen Zwecken. Die IP-Adresse speichern wir nur für die Dauer der Sitzung. Eine personenbezogene
				Auswertung findet nicht statt.
			</span>

			<span>
				Die Rechtmäßigkeit dieser Verarbeitung richtet sich nach Art. 6 Abs. 1 f) DS-GVO (berechtigtes
				Interesse). Unser berechtigtes Interesse besteht darin, die Funktionsfähigkeit die Sicherheit der
				Webseite sicherzustellen.
			</span>
		</p>
		<h3 class="u-text-h3-semibold u-text-dark2">4.2 Registrierung und Login; weitere Funktionen</h3>
		<p>
			<span>
				Um weitere Funktionen von Open Educational Badges zu nutzen, müsst ihr euch auf der Plattform
				registrieren. Bei der Registrierung ist die Angabe folgender personenbezogener Daten notwendig:
			</span>
			<span>
				<ul>
					<li>Vorname</li>
					<li>Nachname</li>
					<li>E-Mail-Adresse</li>
				</ul>
			</span>
			<span>
				Sobald ihr Euer Profil erstellt habt, könnt ihr freiwillig weitere Angaben tätigen und als Organisation
				z.B. eine Institution für die Vergabe von Badges anlegen oder als Lernende Eure Badges in einem
				digitalen Rucksack ablegen und sammeln. Der Log-In erfolgt mithilfe der E-Mail-Adresse und des
				Passworts.
			</span>
			<span>
				Als Organisation könnt ihr zum einen eine Institution auf der Webseite anlegen und zum anderen Badges
				erstellen und vergeben. Bei der Erstellung müssen nicht zwingend personenbezogene Daten angegeben
				werden. Allenfalls bei der Angabe einer Kontakt E-Mail kann es sich um ein personenbezogenen Datum
				handeln, wenn ihr die persönliche (dienstliche) E-Mail-Adresse eines Mitarbeitenden angebt. Des Weiteren
				könnt ihr der Institution weitere Nutzer:innen hinzufügen und mit verschiedenen Berechtigungen
				ausstatten.
			</span>
			<span>
				Die Rechtmäßigkeit dieser Verarbeitung richtet sich nach Art. 6 Abs. 1 b), f) DS-GVO
				(Nutzungsverhältnis; berechtigtes Interesse). Wir verarbeiten diese Daten, um Euch eine Plattform
				bereitzustellen.
			</span>
			<span>
				Bei der Teilnahme an einer Aktivität vergibt die Lernorganisation dir einen Badge und benötigt dafür
				deinen Namen und deine E-Mail-Adresse, damit ein digitales Zertifikat (Open Badge) für dich ausgestellt
				werden kann. Openbadges.education schickt dir per E-Mail Anweisungen, wie du die Badges in deinem Profil
				anzeigen kannst.
			</span>

			<span>
				Ferner haben wir ein berechtigtes Interesse daran, dass die Nutzer:innen von Open Educational Badges
				möglichst aussagekräftige Profile haben, um Lerninhalte oder sinnhafte Analysen der eigenen
				Kompetenzprofile zu erleichtern.
			</span>

			<span>
				Wir speichern Eure personenbezogenen Daten für die Dauer des Nutzungsverhältnisses. Eine weitergehende
				Aufbewahrung erfolgt nur auf Grundlage einer gesetzlichen Verpflichtung oder bei überwiegendem
				berechtigtem Interesse unsererseits.
			</span>

			<span>
				Ferner habt Ihr die Möglichkeit, freiwillig ein Bild Eurer Wahl als Nutzer:innenbild hochzuladen.
			</span>
			<span>
				Die Zulässigkeit dieser Verarbeitung richtet sich nach Art. 6 Abs. 1 a) DS-GVO (Einwilligung). Mit dem
				Upload erklärt Ihr Euch zu der Speicherung des Bildes in Eurem Profil einverstanden. Bitte beachtet,
				dass dieses Bild von anderen Nutzer:innen eingesehen und unter Überwindung technischer
				Sicherheitsmaßnahmen gespeichert und weiterverbreitet werden kann.
			</span>
			<span>
				Die Einwilligung kann jederzeit mit Wirkung für die Zukunft widerrufen werden. Die bis dahin
				stattgefundene Datenverarbeitung bleibt rechtmäßig.
			</span>
		</p>

		<h3 class="u-text-h3-semibold u-text-dark2">4.3 Erhebung von Nutzungsstatistiken (Umami)</h3>
		<p>
			<span>
				<ul>
					<li>
						Diese Website verwendet das datenschutzfreundliche Open-Source-System Umami der Umami Software,
						Inc für grundlegende Analysen, um zu verstehen, wie diese Website genutzt wird.
					</li>
					<li>
						Diese Website sammelt nur die grundlegenden Informationen, die von dem Browser oder dem Gerät,
						das Du für den Zugriff auf diese und anderen Webseiten verwendest, bereitgestellt werden. Dazu
						gehören z. B. die Anzahl der Seitenaufrufe, Hostname des Servers, Browsersprache,
						Herkunftswebseite (Referrer), Bildschirmabmessungen, Seitentitel, Seiten-URL, Website-ID.
					</li>
					<li>
						Mit keiner der gesammelten Informationen können wir dich persönlich oder das verwendete Gerät,
						das auf diese Webseite zugreift, identifizieren. Umami verwendet außerdem keine Cookies.
					</li>
					<li>Die gesammelten Informationen werden nicht an Dritte weitergegeben.</li>
					<li>
						Die Rechtmäßigkeit dieser Verarbeitung richtet sich nach Art. 6 Abs. 1 f) DS-GVO (berechtigtes
						Interesse). Wir verarbeiten diese Daten, um zu analysieren, wie unsere Webseite genutzt wird.
						Diese Informationen helfen uns, unsere Webseite laufend zu verbessern und die Nutzung für Euch
						angenehmer und sicherer zu gestalten.
					</li>
					<li>
						Weitere Informationen findet Ihr in der Dokumentation zum Analysetool von Umami:
						https://umami.is/docs.
					</li>
				</ul>
			</span>
		</p>

		<h3 class="u-text-h3-semibold u-text-dark2">4.4 Nutzung des KI-Badge-Assistenten</h3>
		<p>
			<span>
				Bei der Erstellung eines Badges bieten wir den Institutionen einen KI-Badge-Assistenten an, der helfen
				soll, passende Kompetenzen auf Basis der inhaltlichen Kursbeschreibung zu finden. Dies dient der
				Verbesserung unseres Angebots und der Bereitstellung spezialisierter Funktionen, die intern nicht
				umgesetzt werden können. Welche Daten dabei verarbeitet werden, bestimmt ihr selbst bei der inhaltlichen
				Beschreibung des Kurses. Grundsätzlich sollten keine personenbezogenen Daten in einer Kursbeschreibung
				enthalten sein. Die Verarbeitung der personenbezogenen Daten basiert auf der Einwilligung gemäß Art. 6
				Abs. 1 a) DSGVO. Es besteht keine Pflicht zur Bereitstellung euer Daten. Alternativ oder ergänzend könnt
				ihr händisch Kompetenzen hinzufügen.
			</span>
		</p>

		<h3 class="u-text-h3-semibold u-text-dark2">4.5 Erhebung von Kontaktdaten für die Vergabe von Badges</h3>
		<p>
			<span>
				Sofern wir euch auf einem EVENT oder einem Medium außerhalb dieser Plattform treffen und bei dieser
				Gelegenheit Kontaktdaten erhalten, werden diese von uns über ein Tool gespeichert und verwaltet. Die
				Verarbeitung erfolgt zu dem Zweck, das Badge zu erteilen und zum diesem Zweck mit euch in Verbindung zu
				treten. Rechtsgrundlage für die Verarbeitung ist Art. 6 Abs. 1 b) DS-GVO. Die Verarbeitung ist
				notwendig, um das Nutzungsverhältnis mit euch hinsichtlich des Badge zu begründen und durchzuführen.
				Ohne die Bereitstellung der E-Mail-Adresse kann das Badge nicht an euch bereitgestellt werden.
			</span>
		</p>

		<!-- 5 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">5. Quelle der Daten</h2>
		<p>
			<span>
				Wenn ihr einen Badge von einem Drittanbieter erhalten habt, haben wir von diesem eure E-Mail-Adresse und
				ggf. euren Namen erhalten, um den Badge zu erstellen.
			</span>
		</p>

		<!-- 6 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">6. Dauer der Verarbeitung</h2>
		<p>
			<span> Wir bewahren deine persönlichen Daten so lange auf, wie du Mitglied der Plattform bist. </span>
			<span>
				Wie lange dein Badges gültig sind, bestimmt die vergebende Organisation mit der Angabe eines
				Ablaufdatums. Auch nach Ablauf des Ablaufdatums kannst du deinen Badge noch einsehen (dieser ist aber
				markiert mit „Expired“).
			</span>
		</p>

		<!-- 7 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			7. Empfänger:innen deiner Daten und Drittstaatentransfer
		</h2>
		<p>
			<span>
				Die bei Aufruf und Nutzung der Webseite erhobenen Daten und die individuell bereitgestellten Angaben
				werden unsere Server (diese werden gegebenenfalls bei Dritten gehostet) übermittelt und dort
				gespeichert. Im Übrigen können deine Daten an Personen bei den verantwortlichen Stellen weitergegeben
				werden, die mit der Verarbeitung befasst sind. Weitere potenzielle Empfänger:innen sind
				Auftragsverarbeiter (z.B. das Tool, welches wir zur Erfassung und Verwaltung von Kontaktdaten verwenden)
				oder Vertragspartner:innen. Die Weitergabe an diese Empfänger:innen erfolgt entweder auf Basis einer
				gesetzlichen Verpflichtung, der wir unterliegen oder im Rahmen einer Auftragsverarbeitung. Teile der
				Daten, die über die Plattform erhoben werden, werden bei unserem externen Rechenzentrum, der Hetzner
				Online GmbH gespeichert und gehostet.
			</span>
			<span>
				Zu den Empfänger:innen dieser Daten gehört des Weiteren das Unternehmen Disruptive Elements GmbH, das
				die Anbieterin des KI-Badge-Assistenten ist. Die Anbieterin kann die Daten zur weiteren Verarbeitung
				zudem an OpenAI, ein Unternehmen, das auf künstliche Intelligenz spezialisiert ist, weiterleiten. Diese
				Weitergabe erfolgt zum Zweck der Nutzung spezifischer KI-Dienstleistungen, welche die Optimierung und
				Anpassung eurer Kursmaterialien ermöglichen. Im Rahmen unserer Serviceleistungen kann es notwendig sein,
				Kursbeschreibungen und damit verbundene Informationen an externe Dienstleister weiterzugeben.
			</span>
			<span>
				Die Datenübertragung an OpenAI erfolgt in die Vereinigten Staaten. OpenAI hat Datenschutzstandards
				implementiert, die ein angemessenes Datenschutzniveau sicherstellen sollen. Einzelheiten zu OpenAI und
				deren Datenschutzmaßnahmen kannst du in der Datenschutzerklärung
				<a
					href="https://openai.com/de-DE/policies/eu-privacy-policy/"
					class="tw-underline tw-text-[#1400FF]"
					target="_blank"
					>https://openai.com/de-DE/policies/eu-privacy-policy/</a
				>
				von OpenAI nachlesen.
			</span>
		</p>

		<!-- 8 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">8. Links zu Drittseiten</h2>
		<p>
			<span>
				Beim Besuch der Webseite könnten Inhalte angezeigt werden, die mit den Webseiten Dritter verlinkt sind.
				Wir haben keinen Zugang zu den Cookies oder anderen Funktionen, die von Drittseiten eingesetzt werden,
				noch können wir diese kontrollieren.
			</span>
		</p>

		<!-- 9 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">9. Deine Datenschutz-Rechte</h2>
		<p>
			<span> Du hast folgende Rechte: </span>
			<span>
				<ul>
					<li>zu erfahren, wie wir deine Daten verwenden</li>
					<li>Einsicht in die Informationen zu verlangen, die wir über dich gespeichert haben.</li>
					<li>Uns aufzufordern, deine Daten zu ändern, wenn du glaubst, dass sie falsch sind.</li>
					<li>
						Uns aufzufordern, die über dich gespeicherten Daten zu löschen, wenn sie nicht mehr benötigt
						werden.
					</li>
					<li>Uns bitten, deine Daten nur auf bestimmte Weise zu verwenden.</li>
					<li>Uns sagen, dass du nicht willst, dass deine Daten verarbeitet werden.</li>
				</ul>
			</span>
			<span>
				Du kannst jederzeit eine von dir erteilte Einwilligung widerrufen. Dazu reicht eine formlose Mitteilung
				per E-Mail an uns. Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitung bleibt vom Widerruf
				unberührt. Registrierten Personen steht die Möglichkeit frei, die bei der Registrierung angegebenen
				personenbezogenen Daten jederzeit abzuändern oder vollständig aus dem Datenbestand des für die
				Verarbeitung Verantwortlichen löschen zu lassen. Der für die Verarbeitung Verantwortliche erteilt jeder
				betroffenen Person jederzeit auf Anfrage Auskunft darüber, welche personenbezogenen Daten über die
				betroffene Person gespeichert sind. Ferner berichtigt oder löscht der für die Verarbeitung
				Verantwortliche personenbezogene Daten auf Wunsch oder Hinweis der betroffenen Person, soweit dem keine
				gesetzlichen Aufbewahrungspflichten entgegenstehen. Die Gesamtheit der Mitarbeiter des für die
				Verarbeitung Verantwortlichen stehen der betroffenen Person in diesem Zusammenhang als Ansprechpartner
				zur Verfügung.
			</span>
		</p>
	</div>
</div>
