<h3 class="backgroundgraphic  graphicheadline ">Willkommen bei <span class="u-text-bold u-text-light1">Open Educational Badges</span></h3>
<div class="callouts  l-callouts ">
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageBadge" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Erzähle Deine Story mit <span>Badges</span></h4>
			<p class="callouts-x-graf">Badges sind Deine Leistungen, die zeigen, wann und wie Du sie geleistet hast. Sie sind gemacht, um geteilt zu werden!</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageBackpack" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Speichere Deine Badges in Deinem <span>Backpack</span></h4>
			<p class="callouts-x-graf">Organisiere, zeige und manage Deine Badges.</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageCollections" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Sortiere Deine Badges in <span>Collections</span></h4>
			<p class="callouts-x-graf">Teile Deine Badges mit dem gewünschten Personenkreis.</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageIssuer" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline">Biete als <span>Issuer</span> Badges für Kompetenzen an.</h4>
			<p class="callouts-x-graf"> Individuelle Personen oder Organisationen können Badges vergeben. Registrier Dich als Issuer!</p>
		</div>
	</section>
	<div class="callouts-x-callout">
		<div class="callouts-x-buttons">
			<button routerLink="/recipient/badges" class="callouts-x-button button">Los geht's!</button>
		</div>
	</div>
</div>
