@import url("../google-webfonts/rubik.scss");

.page-padding {
	padding-right: calc(var(--gridspacing) * 2);
	padding-left: calc(var(--gridspacing) * 2);
	padding-top: calc(var(--gridspacing) * 2);
	padding-bottom: calc(var(--gridspacing) * 2);

	@media (min-width: 768px) {
		padding-top: calc(var(--gridspacing) * 3);
		padding-bottom: calc(var(--gridspacing) * 3);
	}
	@media (min-width: 768px) {
		padding-right: calc(var(--gridspacing) * 3);
		padding-left: calc(var(--gridspacing) * 3);
	}
	@media (min-width: 1224px) {
		padding-right: calc(50% - 600px);
		padding-left: calc(50% - 600px);
	}
}

.oeb {
	.oeb-align-right {
		float: right;
	}

	.oeb-width-100 {
		width: 100%;
		overflow: auto;
	}

	.oeb-blue-section {
		background-color: var(--color-purple);
		color: white;
		padding: 7rem 0rem;
	}

	.oeb-white-section {
		background-color: white;
		color: black;
		padding: 7rem 0rem;
	}

	.oeb-lightpurple-section {
		background-color: var(--color-lightpurple);
		color: var(--color-purple);
		padding: 7rem 0rem;
	}

	.oeb-gray-section {
		background-color: var(--color-lightgray);
		color: var(--color-purple);
		padding: 7rem 0rem;
	}

	.oeb-button {
		display: inline-flex;
		height: 64px;
		padding: 15px 60px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		border-radius: 10px;

		text-align: center;
		/* Button Reg */
		font-family: Rubik;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 30px */
	}

	.oeb-label-button {
		background: white;
		border: 1px solid;
		color: var(--color-purple);
		padding: 4px 16px 4px 16px;
		gap: 8px;
		border-radius: 10px;
	}
}
