<div class="l-containerxaxis l-containeryaxis">
	<form-message></form-message>

	<h1 class="u-text-h1-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">Impressum</h1>

	<!-- new - start -->
	<div>
		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 1em 0 1.3em">
			<span style="font-weight: bold" class="u-text u-margin-bottom2x u-text-dark2 u-margin-top4x">
				mycelia gGmbH
			</span>
			<br />
			Eylauer Str. 14
			<br />
			10965 Berlin
			<br /><br />
			Vertretungsberechtigt:
			<br />
			Franziska Schmid
			<br />
			Julia Kleeberger
			<span style="display: block; margin: 1em 0 1em"> E-Mail: hallo&#64;openbadges.education </span>
		</p>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 2em 0 1.3em">
			<span style="display: block; font-weight: bold; margin-bottom: 15px"> Registereintragung </span>
			Registergericht: Amtsgericht Charlottenburg (Berlin)
			<br />
			Registernummer: HRB 251293 B
		</p>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 3em 0 1.3em">
			<span style="display: block; font-weight: bold; margin-bottom: 15px"> Kontakt Datenschutzbeauftragte </span>
			Bei Fragen zum Datenschutz, wendet euch direkt an unsere Datenschutzbeauftragten:
			<br />
			Franziska Schmid / Julia Kleeberger
			<br />
			mycelia gGmbH
			<br />
			Eylauer Str. 14
			<br />
			10965 Berlin

			<span style="display: block; margin: 1em 0 1em"> Email: datenschutz&#64;mycelia.education </span>

			<span style="font-weight: bold"> Rechtliches </span>
			<br />
			Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
			<br />
			Franziska Schmid und Julia Kleeberger
		</p>

		<h3 style="font-weight: bold; margin-top: 3em" class="u-text-h3-semibold u-text-dark2">
			Weitere Verbundpartner:innen:
		</h3>
		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 1.3em 0 1.3em">
			<span style="font-weight: bold"> matrix </span>
			<br />
			<span style="font-weight: bold">
				Gesellschaft für Beratung in Wirtschaft, Politik und Verwaltung mbH & Co. KG
			</span>
			<br />
			Rittergut Haus Morp
			<br />
			Düsseldorfer Straße 16
			<br />
			40699 Erkrath bei Düsseldorf
			<br /><br />

			<span style="font-weight: bold"> openSenseLab gGmbH </span>

			<br />
			Von-Steuben-Str. 21
			<br />
			48143 Münster
			<br />
			Deutschland
		</p>
		<br />
		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 2em 0 1.3em">
			<span style="display: block; font-weight: bold; margin-bottom: 15px"> Haftungsausschluss </span>
			<span style="font-style: italic">Haftung für Inhalte</span>
			<br />
			Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
			Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
			übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf
			eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
			Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist
			jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
			entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.

			<br /><br />
			<span style="font-style: italic">Haftung für Links</span>
			<br />
			Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
			Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
			Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten
			wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
			Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist
			jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
			Rechtsverletzungen werden wir derartige Links umgehend entfernen.

			<br /><br />
			<span style="font-style: italic">Urheberrecht</span>
			<br />

			Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
			Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
			Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
			Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit
			die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.
			Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
			Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
			Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.

			<br />
		</p>

		<!-- Datenschutz­erklärung -->
		<h1 style="margin-top: 2.5em" class="u-text-h1-bold u-margin-bottom2x u-text-dark2">Datenschutz­erklärung</h1>
		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 2em 0 1.3em">
			Open Educational Badges ist ein Angebot, um Kompetenzerwerb abzubilden. Wir bieten ein Werkzeug an, mit dem
			digitale Zertifikate erstellt, vergeben und gesammelt werden können.
			<br /><br />
			Bei der Nutzung der Open Educational Badges Plattform werden personenbezogene Daten verarbeitet. Über diese
			Verarbeitung möchten wir Euch im Folgenden aufklären.
			<br /><br />
			<span style="font-weight: bold">Verantwortlicher & Datenschutzbeauftragter</span>
			<br /><br />
			Verantwortlich für die Verarbeitungen auf openbadges.education (nachfolgend Webseite) Eurer
			personenbezogenen Daten ist:
			<br /><br />
			<span style="font-weight: bold">mycelia gGmbH</span>

			<br />
			<span style="display: block; margin-bottom: 0.5em"> Eylauer Str. 14</span>
			<span style="display: block; margin-bottom: 0.5em"> 10965 Berlin</span>
			<span style="display: block; margin-bottom: 0.5em"> Franziska Schmid & Dr. Julia Kleeberger</span>
			<span style="display: block; margin-bottom: 0.5em"> E-Mail: datenschutz&#64;mycelia.education</span>
		</p>
		<!-- Zweck der Datenverarbeitung - 1 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			1. Zweck der Datenverarbeitung, Rechtsgrundlage, Bereitstellung und Speicherdauer
		</h2>
		<h3 style="font-weight: bold; margin-top: 1.3em" class="u-text-h3-semibold u-text-dark2">
			1.1 Aufruf und Nutzung der Webseite
		</h3>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 0.5em 0 1.3em">
			<span style="display: block; margin-bottom: 0.9em"
				>Wenn Ihr die Internetseite https://openbadges.education aufruft, übermittelt ihr über euren Browser
				Daten an unseren Webserver des Webhosters “netcup GmbH”, der in Deutschland verortet ist. Die folgenden
				Daten werden während einer laufenden Verbindung ausschließlich im Fehlerfall temporär in einer Logdatei
				aufgezeichnet:</span
			>

			<span style="display: block; margin-bottom: 0.9em">
				<ul style="list-style: disc; list-style-position: inside; padding-left: 1.2em">
					<li>IP-Adresse des anfragenden Rechners</li>
					<li>Datum und Uhrzeit des Zugriffs</li>
					<li>
						Name, URL und übertragene Datenmenge zu der angefragten Datei Zugriffsstatus (angeforderte Datei
						übertragen, nicht gefunden etc.)
					</li>
					<li>
						Browsertyp und Betriebssystem (sofern vom anfragenden Webbrowser übermittelt) Internetseite, von
						der aus der Zugriff erfolgte (sofern vom anfragenden Webbrowser übermittelt)
					</li>
				</ul>
			</span>

			<span style="display: block; margin-bottom: 0.9em"
				>Die Zulässigkeit dieser Verarbeitung richtet sich nach Art. 6 Abs. 1 b), f) DS-GVO (Nutzungsverhältnis,
				berechtigtes Interesse). Unser berechtigtes Interesse liegt in der Zurverfügungstellung einer
				bedarfsgerechten und voll funktionsfähigen Webseite sowie für mobile Endgeräte optimierte Plattform. Die
				von uns verarbeiteten Daten werden benötigt, um Euch die Nutzung von Open Educational Badges zu
				ermöglichen.
			</span>

			<span style="display: block; margin-bottom: 0.9em"
				>Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der
				Internetseite an den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die
				Dauer der Sitzung gespeichert bleiben. Die Speicherung in einer Logdatei erfolgt, um die
				Funktionsfähigkeit der Website sicherzustellen. Zudem dienen uns die Daten zur Optimierung der Website
				und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme. Die in den Logeinträgen
				enthaltenen IP-Adressen werden nicht mit anderen Datenbeständen zusammengeführt, es sei denn, es liegen
				tatsächliche Anhaltspunkte für eine Störung des ordnungsgemäßen Betriebs vor.</span
			>
			<span style="display: block; margin-bottom: 0.9em"
				>Die Protokolldateien werden von uns in anonymisierter Form ausgewertet, um Open Educational Badges
				weiter zu verbessern und nutzer:innenfreundlicher zu gestalten, Fehler schneller zu finden und zu
				beheben sowie Serverkapazitäten zu steuern. So kann beispielsweise nachvollzogen werden, zu welcher Zeit
				die Nutzung besonders beliebt ist und entsprechendes Datenvolumen zur Verfügung gestellt werden. Eure
				IP-Adresse wird nach Beendigung der Nutzung gelöscht oder anonymisiert. Bei einer Anonymisierung werden
				die IP-Adressen derart geändert, dass diese nicht mehr oder nur mit einem unverhältnismäßig großen
				Aufwand an Zeit, Kosten und Arbeitskraft einer bestimmten oder bestimmbaren bzw. identifizierten oder
				identifizierbaren natürlichen Person zugeordnet werden können.
			</span>
			<span style="display: block; margin: 2em 0 2em"
				>Die Daten werden ebenfalls in den Logfiles unseres Systems gespeichert. Eine Speicherung dieser Daten
				zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt, es sei denn, es liegen
				tatsächliche Anhaltspunkte für eine Störung des ordnungsgemäßen Betriebs vor.</span
			>
		</p>

		<h3 style="font-weight: bold; margin-top: 1.3em" class="u-text-h3-semibold u-text-dark2">
			1.2 Zweck der Datenverarbeitung
		</h3>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 0.5em 0 1.3em">
			Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der
			Internetseite an den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die
			Dauer der Sitzung gespeichert bleiben. Die Speicherung in einer Logdatei erfolgt, um die Funktionsfähigkeit
			der Website sicherzustellen. Zudem dienen uns die Daten zur Optimierung der Website und zur Sicherstellung
			der Sicherheit unserer informationstechnischen Systeme. Die in den Logeinträgen enthaltenen IP-Adressen
			werden nicht mit anderen Datenbeständen zusammengeführt, es sei denn, es liegen tatsächliche Anhaltspunkte
			für eine Störung des ordnungsgemäßen Betriebs vor.
		</p>

		<h3 style="font-weight: bold; margin-top: 1.3em" class="u-text-h3-semibold u-text-dark2">
			1.3 Registrierung, Log-In & Profil
		</h3>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 0.5em 0 1.3em">
			<span style="display: block; margin-bottom: 0.9em"
				>Um Open Educational Badges zu nutzen, müsst ihr euch auf der Plattform registrieren. Bei der
				Registrierung ist die Angabe folgender personenbezogener Daten notwendig:</span
			>

			<span style="display: block; margin-bottom: 0.9em">
				<ul style="list-style: disc; list-style-position: inside; padding-left: 1.2em">
					<li>Vorname</li>
					<li>Nachname</li>
					<li>E-Mail-Adresse</li>
				</ul>
			</span>

			<span style="display: block; margin-bottom: 0.9em"
				>Sobald ihr Euer Profil erstellt habt, könnt ihr freiwillig weitere Angaben tätigen und z.B. eine
				Institution für die Vergabe von Badges anlegen. Der Log-In erfolgt mithilfe der E-Mail-Adresse und des
				Passworts.
			</span>

			<span style="display: block; margin-bottom: 0.9em"
				>Die Rechtmäßigkeit dieser Verarbeitung richtet sich nach Art. 6 Abs. 1 b), f) DS-GVO
				(Nutzungsverhältnis; berechtigtes Interesse). Wir verarbeiten diese Daten, um Euch eine Plattform
				bereitzustellen. Ferner haben wir ein berechtigtes Interesse daran, dass die Nutzer:innen von Open
				Educational Badges möglichst aussagekräftige Profile haben, um Lerninhalte oder sinnhafte Analysen der
				eigenen Kompetenzprofile zu erleichtern.</span
			>

			<span style="display: block; margin-bottom: 0.9em">
				Wir speichern Eure personenbezogenen Daten für die Dauer des Nutzungsverhältnisses. Eine weitergehende
				Aufbewahrung erfolgt nur auf Grundlage einer gesetzlichen Verpflichtung oder bei überwiegendem
				berechtigen Interesse unsererseits.
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Ferner habt Ihr die Möglichkeit, freiwillig ein Bild Eurer Wahl als Nutzer:innenbild hochzuladen.
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Die Zulässigkeit dieser Verarbeitung richtet sich nach Art. 6 Abs. 1 a) DS-GVO (Einwilligung). Mit dem
				Upload erklärt Ihr Euch zu der Speicherung des Bildes in Eurem Profil einverstanden. Bitte beachtet,
				dass dieses Bild von anderen Nutzer:innen eingesehen und unter Überwindung technischer
				Sicherheitsmaßnahmen gespeichert und weiterverbreitet werden kann.
			</span>
			<span style="display: block; margin-bottom: 0.9em"
				>Die Einwilligung kann jederzeit mit Wirkung für die Zukunft widerrufen werden. Diesen Widerruf könnt
				ihr direkt durch Löschen des Bildes in Eurem Profil tätigen. Die bis dahin stattgefundene
				Datenverarbeitung bleibt rechtmäßig.
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Wir speichern Euer Bild so lange wie Ihr es mit Eurem Konto verknüpft habt.
			</span>
		</p>

		<h3 style="font-weight: bold; margin-top: 1.3em" class="u-text-h3-semibold u-text-dark2">1.4 Newsletter</h3>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 0.5em 0 1.3em">
			<span style="display: block; margin-bottom: 0.9em"
				>Gerne möchten wir Euch über die neusten Updates und Infos rund um Open Educational Badges informieren.
				Hierzu könnt Ihr unseren Newsletter abonnieren.
			</span>
			<span style="display: block; margin-bottom: 0.9em"
				>Für den Versand des Newsletters wird das sogenannte Double Opt-In-Verfahren verwendet, d.h. Ihr
				erhaltet erst dann einen Newsletter per E-Mail, wenn Ihr zuvor ausdrücklich bestätigt habt, dass der
				Newsletter-Dienst aktiviert werden soll. Nachdem Ihr den Newsletter aktiviert habt, erhaltet Ihr eine
				Benachrichtigungs-E-Mail mit einem Aktivierungslink. Erst durch Anklicken dieses Links erhaltet Ihr den
				Newsletter.
			</span>
			<span style="display: block; margin-bottom: 0.9em"
				>Ihr könnt den Newsletter jederzeit deaktivieren. Zu diesem Zweck wendet ihr Euch an die im Impressum
				angegebene E-Mail-Adresse oder nutzt den in jedem Newsletter angegebenen Abmeldelink. Die Zulässigkeit
				dieser Verarbeitung richtet sich nach Art. 6 Abs. 1 a) DS-GVO (Einwilligung). Die Bereitstellung Eurer
				Daten ist freiwillig, für den Erhalt des Newsletters aber erforderlich.
			</span>
			<span style="display: block; margin-bottom: 0.9em"
				>Eure Daten werden nach Widerruf Ihrer Einwilligung gelöscht, sofern der Verantwortliche nicht ein
				berechtigtes Interesse an der weiteren Aufbewahrung hat. Dies kann der Fall sein, wenn wir Eure Daten
				aufgrund eines Vertrags mit Euch weiterhin speichern müssen. Es werden in jedem Fall nur diejenigen
				Daten weiterhin gespeichert, die für die Erreichung des entsprechenden Zwecks auch wirklich zwingend
				benötigt werden.
			</span>
			<span style="display: block; margin-bottom: 0.9em"
				>Diese Einwilligung kann jederzeit per E-Mail an hallo&#64;openbadges.education mit Wirkung für die
				Zukunft widerrufen werden.
			</span>
		</p>

		<h3 style="font-weight: bold; margin-top: 1.3em" class="u-text-h3-semibold u-text-dark2">
			1.5 Einsatz von Tracking Tools
		</h3>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 0.5em 0 1.3em">
			<span style="display: block; margin-bottom: 0.9em; font-weight: bold"> Matomo </span>
			<span style="display: block; margin-bottom: 0.9em">
				Wir nutzen den Webanalyse-Dienst Matomo zur Analyse der Nutzung unserer Webseite und Ausgestaltung
				unseres Online-Angebots. Matomo ist ein Dienst der InnoCraft Ltd., 150 Wilis St., 6011 Wellington,
				Neuseeland.
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Dabei verwenden wir standardmäßig keine Cookies für die Web-Analyse und setzen kein
				Device-Fingerprinting ein. Durch den Aufruf des Analysescripts sendet der auf Euren Geräten verwendete
				Browser automatisch Informationen an unseren Webseiten-Server. Dort werden Informationen über Euch
				temporär in sogenannten Logfiles gespeichert. Hieraus lassen sich u.a. Angaben zu Besucher*innenanzahl,
				Browser, Geräten und Betriebssystem erzeugen. Eure IP-Adresse wird dabei anonymisiert.
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Die Zulässigkeit der Verarbeitung richtet sich nach Art. 6 Abs. 1 f) DS-GVO (berechtigtes Interesse).
				Unsere berechtigten Interessen liegen in der Verbesserung und Optimierung unseres Online-Angebots sowie
				unseres Internetauftritts.
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Weitere Informationen zu den Nutzungsbedingungen und den Datenschutzbestimmungen findet Ihr bei
				<a href="https://matomo.org/privacy/">Matomo</a> direkt. Über eine Schnittstelle werden Informationen
				über Lernangebote an Moodle gesendet. Hierbei können auch Eure Daten zum Teil übermittelt werden.
			</span>
			<span style="display: block; margin-bottom: 0.9em"
				>Die Rechtmäßigkeit der Verarbeitung richtet sich nach Art. 6 Abs. 1 f) DS-GVO (berechtigtes Interesse).
			</span>
		</p>

		<!-- Rechte der betroffenen Personen  - 2 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">2. Rechte der betroffenen Personen</h2>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 0.5em 0 1.3em">
			<span style="display: block; margin-bottom: 0.9em"
				>Euch stehen folgende Rechte zu: Recht auf Auskunft (Art. 15 DS-GVO), Berichtigung (Art. 16 DS-GVO),
				Löschung (Art. 17 DS-GVO), Einschränkung der Verarbeitung (Art. 18 DS-GVO) sowie auf Datenübertragung
				(Art. 20 DS-GVO).
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Ihr habt außerdem das Recht, Euch an eine Aufsichtsbehörde zu wenden (z.B. Die Landesbeauftragte für
				Datenschutz und Informationsfreiheit Nordrhein-Westfalen, Kavalleriestr. 2-4, 40213 Düsseldorf).
			</span>
			<span style="display: block; margin-bottom: 0.9em; font-weight: bold">
				Sofern personenbezogenen Daten auf Grundlage von Art. 6 Abs. 1 f) DS-GVO verarbeitet werden, besteht die
				Möglichkeit, gegen die Datenverarbeitung zu widersprechen, soweit dafür Gründe vorliegen, die sich aus
				Eurer besonderen Situation ergeben oder sich der Widerspruch gegen Direktwerbung richtet (Art. 21
				DS-GVO). Bei einem Widerspruch gegen Direktwerbung werden Euch keine werblichen Nachrichten mehr
				übermittelt.
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Ihr könnt eine gegenüber uns erteilte Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen. Das
				hat allerdings keinen Einfluss auf die bis dahin erfolgte Datenverarbeitung auf Basis dieser
				Einwilligung (z.B. Versand eines Newsletters).
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Nutzt bitte die im Impressum angegebenen Kontaktdaten für die Geltendmachung Eurer Rechte.
			</span>
		</p>

		<!-- Widerspruchs- und Beseitigungsmöglichkeit - 3 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			3. Widerspruchs- und Beseitigungsmöglichkeit
		</h2>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 0.5em 0 1.3em">
			<span style="display: block; margin-bottom: 0.9em"
				>Ihr könnt jederzeit eine von euch erteilte Einwilligung widerrufen. Dazu reicht eine formlose
				Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitung bleibt vom
				Widerruf unberührt.
				<br />
				Registrierten Personen steht die Möglichkeit frei, die bei der Registrierung angegebenen
				personenbezogenen Daten jederzeit abzuändern oder vollständig aus dem Datenbestand des für die
				Verarbeitung Verantwortlichen löschen zu lassen. Der für die Verarbeitung Verantwortliche erteilt jeder
				betroffenen Person jederzeit auf Anfrage Auskunft darüber, welche personenbezogenen Daten über die
				betroffene Person gespeichert sind. Ferner berichtigt oder löscht der für die Verarbeitung
				Verantwortliche personenbezogene Daten auf Wunsch oder Hinweis der betroffenen Person, soweit dem keine
				gesetzlichen Aufbewahrungspflichten entgegenstehen. Die Gesamtheit der Mitarbeiter des für die
				Verarbeitung Verantwortlichen stehen der betroffenen Person in diesem Zusammenhang als Ansprechpartner
				zur Verfügung.
			</span>
		</p>

		<!-- Empfänger:innen - 3 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">4. Empfänger:innen</h2>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 0.5em 0 1.3em">
			<span style="display: block; margin-bottom: 0.9em">
				Die bei Aufruf und Nutzung von openbadges.education erhobenen Daten und die von Euch bei der
				Kontaktaufnahme gemachten Angaben werden an den Server des Verantwortlichen übermittelt und dort
				gespeichert. Im Übrigen können eure Daten an Personen beim Verantwortlichen weitergegeben werden, die
				mit der Verarbeitung befasst sind (Sachbearbeiter:innen, Kundenservice). Weitere potenzielle
				Empfänger:innen sind Auftragsverarbeitende oder Vertragspartner:innen von uns.
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Weiterhin verwenden die Projektpartner:innen, namentlich die matrix gGmbH und die OpenSenseLab gGmbH,
				personenbezogene Daten aus der Plattform als Verantwortliche.
			</span>
			<span style="display: block; margin-bottom: 0.9em">
				Die Weitergabe an diese Empfänger:innen erfolgt entweder auf Basis einer gesetzlichen Verpflichtung, der
				wir unterliegen, oder im Rahmen einer Auftragsverarbeitung.
			</span>
		</p>

		<!-- Links zu Drittseiten - 5 -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">5. Links zu Drittseiten</h2>

		<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 0.5em 0 1.3em">
			<span style="display: block; margin-bottom: 0.9em">
				Beim Besuch der Webseite könnten Inhalte angezeigt werden, die mit den Webseiten Dritter verlinkt sind.
				Wir haben keinen Zugang zu den Cookies oder anderen Funktionen, die von Drittseiten eingesetzt werden,
				noch können wir diese kontrollieren. Solche Drittseiten unterliegen nicht diesen
				Datenschutzbestimmungen.
			</span>
		</p>
	</div>
</div>
