<div class="oeb page-padding">
	<div class="l-containerxaxis l-containeryaxis">
		<form-message></form-message>

		<h1 class="u-text-h1-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">Impressum</h1>

		<div>
			<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 2em 0 1.3em">
				Open Educational Badges ist ein Gemeinschaftsprojekt von
				<a href="https://matrix-gruppe.de/matrix-gemeinnuetzig/" target="_blank"> <u>matrix gGmbh</u> </a>,
				<a href="https://mycelia.education/" target="_blank"><u>mycelia gGmbh</u></a> und der
				<a href="https://opensenselab.org/" target="_blank"><u>openSenseLab gGmbh</u>.</a>

				<br />
				<br />

				Als Dienstanbieterin im Sinne des § 5 DDG, Kontaktstelle, Betreiberin und Vertragspartnerin nach diesen
				Bestimmungen ist die

				<br />
				<br />

				<span class="tw-font-bold"> mycelia gGmbH </span>
				<br />
				Eylauer Str. 14
				<br />
				10965 Berlin
				<br /><br />
				berufen.
				<br />
				<br />

				<span class="tw-font-bold">Vertretungsberechtigt:</span>
				<br />
				Franziska Schmid und Julia Kleeberger
				<br />
				<span class="tw-block tw-mt-4"
					>E-Mail:
					<a href="mailto:post@mycelia.education">
						<u>post&#64;mycelia.education</u>
					</a></span
				>
			</p>

			<p style="font-size: 1.1rem; color: black; line-height: 1.55; margin: 2em 0 1.3em">
				<span class="tw-font-bold"> Registereintragung </span>
				<br />
				Amtsgericht Charlottenburg (Berlin) - HRB 251293 B
				<br />
				Steuer-Nr: 27/614/05396

				<br />
				<br />
				Inhaltlich verantwortlich nach § 18 MStV ist Franziska Schmid, erreichbar über die Dienstanbieterin.
			</p>

			<p style="font-size: 1.1rem; color: black; line-height: 1.55">
				<span style="display: block; font-weight: bold"> Haftungsausschluss </span>
				<span style="font-style: italic">Urheberrecht</span>
				<br />

				Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
				Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
				Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
				Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
				Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
				Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem
				auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
				Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.

				<br />
			</p>
			<br />
			<p style="font-size: 1.1rem; color: black; line-height: 1.55">
				<span style="display: block; font-weight: bold; margin-bottom: 15px"> Version </span>
				UI: {{ version.tag }}-{{ version.hash.replace('g', '') }} <br />
				Server: {{ serverVersion }}
				<br />
			</p>
		</div>
	</div>
</div>
