<div class="l-containerxaxis l-containeryaxis">
	<form-message></form-message>

	<h1 class="u-text-h1-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">Impressum</h1>
	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Angaben gemäß § 5 TMG:</h3>
	<p>Reedu GmbH & Co. KG Von-Steuben-Str. 21 48143 Münster</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Vertreten durch:</h3>
	<p>
		Reedu Verwaltungs GmbH, vertreten durch die Geschäftsführer Dr. Thomas Bartoschek, Jan A. Wirwahn und Umut Tas
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Kontakt:</h3>
	<p>Telefon: +49 251 98119797 E-Mail: kontakt&#64;reedu.de</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Geschäftsführer:</h3>
	<p>Dr. Thomas Bartoschek, Jan A. Wirwahn & Umut Tas</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Registereintrag:</h3>
	<p>Eintragung im Handelsregister. Registergericht: Amtsgericht Münster Registernummer: HRA 10639</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Umsatzsteuer:</h3>
	<p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: DE317828779</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
		Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
	</h3>
	<p>Umut Tas Von-Steuben-Str. 21 48143, Münster</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Streitschlichtung:</h3>
	<p>
		Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
		https://ec.europa.eu/consumers/odr. Unsere E-Mail-Adresse finden Sie oben im Impressum. Wir sind nicht bereit
		oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Haftung für Inhalte:</h3>
	<p>
		Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
		Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
		übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine
		rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen
		nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
		Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
		Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Haftung für Links:</h3>
	<p>
		Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
		können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist
		stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum
		Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der
		Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
		Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir
		derartige Links umgehend entfernen.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Urheberrecht</h3>
	<p>
		Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
		Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen
		des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und
		Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf
		dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden
		Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam
		werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir
		derartige Inhalte umgehend entfernen.
	</p>

	<h1 class="u-text-h1-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">Datenschutzerklärung</h1>
	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
		I. NAME UND ANSCHRIFT DES VERANTWORTLICHEN
	</h3>
	<p>
		Der Verantwortliche im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze der
		Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist:
		<br />
		Dr. Thomas Bartoschek
		<br />
		Reedu GmbH & Co. KG
		<br />
		Von-Steuben-Str. 21
		<br />
		48143 Münster
		<br />
		Deutschland
		<br />
		E-Mail: kontakt&#64;reedu.de
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
		II. NAME UND ANSCHRIFT DES DATENSCHUTZBEAUFTRAGTEN
	</h3>
	<p>
		Der Datenschutzbeauftragte des Verantwortlichen ist:
		<br />
		Umut Tas
		<br />
		Reedu GmbH & Co. KG
		<br />
		Von-Steuben-Str. 21
		<br />
		48143 Münster
		<br />
		Deutschland
		<br />
		E-Mail: kontakt&#64;reedu.de
		<br />
		E-Mail: u.tas&#64;reedu.de
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
		III. ALLGEMEINES ZUR DATENVERARBEITUNG
	</h3>

	<p>
		1. Umfang der Verarbeitung personenbezogener Daten
		<br />
		Wir erheben und verwenden personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur
		Bereitstellung einer funktionsfähigen Internetseite sowie unserer Inhalte und Leistungen erforderlich ist und
		eine Rechtsgrundlage uns dies gestattet.

		<br />
		2. Rechtsgrundlage für die Verarbeitung personenbezogener Daten

		<br />
		Die Rechtsgrundlage für die Verarbeitung ihrer personenbezogenen Daten ist Art. 6 Abs. 1 lit. b DSGVO. Die
		Verarbeitung personenbezogener Daten unserer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers. Eine
		Ausnahme gilt in solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen
		nicht möglich ist und die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet ist.
		<br />
		3. Datenlöschung und Speicherdauer
		<br />
		Ihre personenbezogenen Daten werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine
		Speicherung kann darüber hinaus dann erfolgen, wenn dies durch nationale oder europäische Vorschriften, denen
		wir unterliegen, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt in diesem Fall dann, wenn die
		in den jeweiligen Vorschriften vorgeschriebene Speicherfrist abgelaufen ist. Letzteres gilt dann nicht, wenn
		eine weitere Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung erforderlich ist.
		<br />
		Diese Internetseite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung personenbezogener Daten und
		anderer vertraulicher Inhalte eine SSL-bzw. TLS- Verschlüsselung. Sie können eine verschlüsselte Verbindung an
		der Zeichenfolge „//“ und dem Schloss-Symbol in Ihrer Browserzeile erkennen.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
		IV. BEREITSTELLUNG DER WEBSITE UND ERSTELLUNG VON LOGFILES
	</h3>
	<p>
		1. Beschreibung und Umfang der Datenverarbeitung
		<br />
		Wenn Sie diese Internetseite aufrufen, übermitteln Sie über Ihren Browser Daten an unseren Webserver des
		Webhosters “Hetzner Online GmbH”, der in Deutschland verortet ist. Die folgenden Daten werden während einer
		laufenden Verbindung ausschließlich im Fehlerfall temporär in einer Logdatei aufgezeichnet:
		<br />
		IP-Adresse des anfragenden Rechners
		<br />
		Datum und Uhrzeit des Zugriffs
		<br />
		Name, URL und übertragene Datenmenge zu der angefragten Datei
		<br />
		Zugriffsstatus (angeforderte Datei übertragen, nicht gefunden etc.)
		<br />Browsertyp und Betriebssystem (sofern vom anfragenden Webbrowser übermittelt)

		<br />
		Internetseite, von der aus der Zugriff erfolgte (sofern vom anfragenden Webbrowser übermittelt)
		<br />Die Daten werden ebenfalls in den Logfiles unseres Systems gespeichert. Eine Speicherung dieser Daten
		zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt, es sei denn, es liegen tatsächliche
		Anhaltspunkte für eine Störung des ordnungsgemäßen Betriebs vor.
		<br />
		2. Rechtsgrundlage für die Datenverarbeitung
		<br />Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. 1 lit. f
		DSGVO und Art.49 DSGVO. <br />3. Zweck der Datenverarbeitung <br />Die vorübergehende Speicherung der IP-Adresse
		durch das System ist notwendig, um eine Auslieferung der Internetseite an den Rechner des Nutzers zu
		ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung gespeichert bleiben. Die
		Speicherung in einer Logdatei erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem dienen uns
		die Daten zur Optimierung der Website und zur Sicherstellung der Sicherheit unserer informationstechnischen
		Systeme. Die in den Logeinträgen enthaltenen IP-Adressen werden nicht mit anderen Datenbeständen
		zusammengeführt, es sei denn, es liegen tatsächliche Anhaltspunkte für eine Störung des ordnungsgemäßen Betriebs
		vor.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">V. REGISTRIERUNG</h3>
	<p>
		1. Beschreibung und Umfang der Datenverarbeitung
        <!--TODO: Update url here to open-educational-badges-->
		<br />Die betroffene Person hat die Möglichkeit, sich auf https://ui.mint-o-badges.opensenselab.org unter Angabe von personenbezogenen
		Daten zu registrieren, um zusätzliche Funktionen der Internetseite zu nutzen. Welche personenbezogenen Daten
		dabei an den für die Verarbeitung Verantwortlichen übermittelt werden, ergibt sich aus der jeweiligen
		Eingabemaske, die für die Registrierung verwendet wird. Die Eingabe muss nicht unter einem Klarnamen erfolgen,
		es können auch anonyme Login-Daten verwendet werden. <br />Durch eine Registrierung auf der Internetseite des
		für die Verarbeitung Verantwortlichen wird ferner die vom Internet-Service-Provider (ISP) der betroffenen Person
		vergebene IP-Adresse, das Datum sowie die Uhrzeit der Registrierung gespeichert. Die Speicherung dieser Daten
		erfolgt vor dem Hintergrund, dass nur so der Missbrauch unserer Dienste verhindert werden kann, und diese Daten
		im Bedarfsfall ermöglichen, begangene Straftaten aufzuklären. Insofern dient die Speicherung dieser Daten zur
		Absicherung des für die Verarbeitung Verantwortlichen. Eine Weitergabe dieser Daten an Dritte erfolgt
		grundsätzlich nicht, sofern keine gesetzliche Pflicht zur Weitergabe besteht oder die Weitergabe der
		Strafverfolgung dient. <br />2. Rechtsgrundlage für die Datenverarbeitung <br />Rechtsgrundlage für die
		Verarbeitung der Daten ist Art. 6 Abs. 1 S. 1 lit. a) DSGVO und Art.49 DSGVO. <br />3. Zweck der
		Datenverarbeitung <br />Die von der betroffenen Person eingegebenen personenbezogenen Daten werden
		ausschließlich für die interne Verwendung, bei dem für die Verarbeitung Verantwortlichen und für eigene Zwecke
		erhoben und gespeichert. <br />Die Registrierung der betroffenen Person unter freiwilliger Angabe
		personenbezogener Daten und seiner ausdrücklichen Einwilligung in Form einer Klick-Bestätigung dient dem für die
		Verarbeitung Verantwortlichen dazu, der betroffenen Person Inhalte oder Leistungen anzubieten, die aufgrund der
		Natur der Sache nur registrierten Benutzern angeboten werden können. <br />4. Widerspruchs- und
		Beseitigungsmöglichkeit <br />Sie können eine von Ihnen erteilte Einwilligung jederzeit widerrufen. Dazu reicht
		eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitung bleibt
		vom Widerruf unberührt.
		<br />
		Registrierten Personen steht die Möglichkeit frei, die bei der Registrierung angegebenen personenbezogenen Daten
		jederzeit abzuändern oder vollständig aus dem Datenbestand des für die Verarbeitung Verantwortlichen löschen zu
		lassen. Der für die Verarbeitung Verantwortliche erteilt jeder betroffenen Person jederzeit auf Anfrage Auskunft
		darüber, welche personenbezogenen Daten über die betroffene Person gespeichert sind. Ferner berichtigt oder
		löscht der für die Verarbeitung Verantwortliche personenbezogene Daten auf Wunsch oder Hinweis der betroffenen
		Person, soweit dem keine gesetzlichen Aufbewahrungspflichten entgegenstehen. Die Gesamtheit der Mitarbeiter des
		für die Verarbeitung Verantwortlichen stehen der betroffenen Person in diesem Zusammenhang als Ansprechpartner
		zur Verfügung.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">VI. BETROFFENENRECHTE</h3>

	<p>
		1. Auskunftsrecht
		<br />Die betroffene Person hat das Recht, vom Verantwortlichen eine Bestätigung darüber zu verlangen, ob sie
		betreffende personenbezogene Daten verarbeitet werden. Wenn dies der Fall ist, hat die betroffene Person ein
		Recht auf Auskunft, um welche personenbezogenen Daten es sich handelt und für welche Zwecke diese verarbeitet
		werden. Sie hat außerdem ein Recht auf Auskunft über die Dauer der geplanten Speicherung dieser Daten bzw.
		welche Kriterien für die Festlegung der Speicherdauer angewendet werden. <br />2. Recht auf Berichtigung
		<br />Die betroffene Person hat das Recht, von uns unverzüglich die Berichtigung ihn betreffender unrichtiger
		personenbezogener Daten zu verlangen. Sie hat außerdem das Recht, von uns unverzüglich die Löschung ihn
		betreffender personenbezogener Daten zu verlangen, sobald der Zweck der Speicherung entfällt oder, wenn die
		Verarbeitung auf einer Einwilligung des Betroffenen beruht, wenn sie seine Einwilligung widerruft und keine
		andere Rechtsgrundlage für die Verarbeitung besteht. <br />3. Recht auf Löschung <br />Die personenbezogenen
		Daten der betroffenen Person werden weiterhin gelöscht, wenn sie gem. Art. 21 Abs. 1 DSGVO Widerspruch gegen die
		Verarbeitung einlegt und keine vorrangigen berechtigten Gründe für die Verarbeitung vorliegen, wenn die
		personenbezogenen Daten unrechtmäßig verarbeitet wurden oder wenn die Löschung zur Erfüllung einer rechtlichen
		Verpflichtung durch den europäischen oder nationalen <br />Gesetzgeber in Vorschriften, denen der
		Verantwortliche unterliegt, vorgesehen wurde. <br />3.1 Ausnahmen <br />Eine Löschung erfolgt jedoch in den oben
		dargestellten Fällen nicht, wenn die Verarbeitung der personenbezogenen Daten erforderlich ist, damit der
		Verantwortliche eine rechtliche Verpflichtung, die ihr durch den europäischen oder nationalen Gesetzgeber
		auferlegt wurde, erfüllen kann oder wenn die Verarbeitung zur Wahrnehmung einer Aufgabe des Verantwortlichen
		erfolgt, die im öffentlichen Interessen liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem
		Verantwortlichen übertragen wurde oder wenn die weitere Speicherung der personenbezogenen Daten zur
		Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist.
		<br />
		<br />Beruht die Verarbeitung personenbezogener Daten auf einer Einwilligung der betroffenen Person, so kann
		diese ihre Einwilligung jederzeit widerrufen. Die bis zum Widerruf erfolgte Verarbeitung personenbezogener Daten
		bleibt trotz des Widerrufs rechtmäßig. <br />4. Recht auf Datenübertragbarkeit <br />Sie hat das Recht gemäß
		Art. 20 DSGVO, die Sie betreffenden personenbezogenen Daten, welche uns durch Sie bereitgestellt wurden, in
		einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten. Ferner haben Sie bei der Ausübung Ihres
		Rechts auf <br />Datenübertragbarkeit das Recht, zu erwirken, dass die personenbezogenen Daten direkt von einem
		Verantwortlichen an einen anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar ist und
		sofern hiervon nicht die Rechte und Freiheiten anderer Personen beeinträchtigt werden, soweit Rechte und
		Freiheiten anderer Personen nicht beeinträchtigt werden. <br />5. Recht auf Beschwerde bei einer
		Aufsichtsbehörde <br />Sie haben gemäß Art. 77 DSGVO das Recht, sich bei der zuständigen datenschutzrechtlichen
		Aufsichtsbehörde zu richten, in diesem Fall die Bayerische Landesbeauftragte für den Datenschutz, um eine
		Beschwerde zu erheben. Wir empfehlen allerdings, eine Beschwerde zunächst immer an den Verantwortlichen oder an
		den Datenschutzbeauftragten zu richten. <br />Diese Datenschutzerklärung hat den Stand (September 2021) und ist
		aktuell gültig. <br />Sich verändernde gesetzliche oder behördliche Vorgaben, Entwicklungen der Rechtsprechung
		sowie Weiterentwicklung an unserer Internetseite können Änderungen an unserer Datenschutzerklärung notwendig
		machen.
	</p>
</div>
