<ng-template sourceListener></ng-template>
<div *ngIf="curtain" style="height: 100vh; width: 100vw">
	<header style="text-align: center; height: 45%; padding-bottom: 10%; padding-top: 10%; background-color: #f5f5f5">
		<div style="height: 100%; display: flex; justify-content: space-between; align-items: center">
			<div class="nunito-bold header-oeb">
				<span style="align-self: flex-start">Open</span>
				<span style="align-self: flex-start">Educational</span>
				<span style="align-self: flex-start">Badges</span>
			</div>
			<img class="badge-logo" src="../assets/logos/curtain_logo.png"
				alt="Logo for this website says: Coming soon: 01. April 2024" />
		</div>
	</header>
	<div style="
			background: linear-gradient(#6100f9 85%, #f5f5f5 15%);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		">
		<div style="height: 10%; text-align: center">
			<h2 class="nunito-normal what-are-oeb">
				Was sind <br />
				Open Educational Badges?
			</h2>
		</div>
		<div
			class="video-container md:tw-w-[52%] tw-h-[370px] tw-border-purple tw-border-solid tw-border-4 tw-m-4 tw-box-border">
			<iframe src="https://www.youtube.com/embed/H6lBdH75P7g" class="tw-w-full tw-h-full"
				title="Open badges kurz erklärt" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen></iframe>
		</div>
		<div class="iframe-container">
			<iframe class="newsletter-form" src="https://2b1b89e9.sibforms.com/serve/MUIFAKojWi4x97UOmo2HdfRvnlJLK7yupo_
				1AW0kPuwZAvaJKVrnY9pSznPf8Tjmv0QVrTBPNIJNbXonMqdxYOSWt8pVW1oJ433_rxMKy6MuYinwl
				-1uOEueeJLYdc3CZWA109Ie3XYxT64NwBAAJD09w6xT_fhZ4Nsh-z-
				Q4amYm0A3xXy6pWEdrUOuAEd1kAg6YUw7HLIi--v0" frameborder="0" scrolling="auto" allowfullscreen
				style="display: block; margin-right: 2em; max-width: 100%; z-index: 50"></iframe>
			<p class="nunito-normal form-paragraph">
				Melde dich hier an und wir kontaktieren dich sofort, wenn du Badges erstellen kannst.
			</p>
		</div>
	</div>
	<footer style="height: 10%; background-color: white">
		<div class="l-containerxaxis">
			<div class="footer l-stickyfooter-x-footer">
				<ul class="footer-x-leftlinks">
					<li *ngIf="theme.showPoweredByOSL && theme.providedBy">
						Open Educational Badges ist eine Initiative von
						<a href="https://matrix-gruppe.de/matrix-gemeinnuetzig/" target="_blank">matrix gGmbH</a>,
						<a href="https://mycelia.education/" target="_blank">mycelia gGmbH</a>
						und der
						<a href="{{ theme.providedBy.url }}" target="_blank">openSenselab gGmbH</a>
					</li>
				</ul>

				<ul class="footer-x-links">
					<li>
						<a [href]="theme.termsOfServiceLink" target="_blank">{{ 'Start.imprint' | translate }}</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</div>
<header *ngIf="!curtain">
	<nav class="oeb-navbar oeb-nav">
		<a [class.logo-is-loading]="isRequestPending"
			[href]="isOAuthAuthorizationInProcess ? '#' : theme.alternateLandingUrl || '/'">
			<picture class="oeb-navbar-logo">
				<source media="(min-width: 768px)" [srcset]="logoDesktop" />
				<img [src]="logoSmall" alt="Logo" />
			</picture>
		</a>

		<!-- Unauthenticated -->
		<ng-template [ngIf]="!loggedIn">
			<nav class="tw-items-stretch tw-align-middle tw-hidden lg:tw-flex">
				<div class="tw-flex tw-gap-8 tw-items-center">
					<!-- About Badges Menu -->
					<oeb-dropdown [menuItems]="aboutBadgesMenuItems" trigger="Über Badges" triggerStyle="oeb-navitem tw-cursor-pointer !tw-leading-none !tw-py-1"></oeb-dropdown>

					<a *ngIf="!features.disableRegistration"
						class="oeb-navitem" routerLinkActive="oeb-navitem-is-active" [routerLink]="['/public/about']">{{
						'NavItems.aboutOpenEducationalBadges' | translate }}</a>
					<a *ngIf="!features.disableRegistration"
						class="oeb-navitem" routerLinkActive="oeb-navitem-is-active" [routerLink]="['/signup']">{{
						'NavItems.register' | translate }}</a>

					<!-- ToDo: comment in when all pages are completely translated -->
					<!-- Language -->
					<!-- <div class="navitem" style="position: unset; display: flex; gap: 4px">
						<button (click)="changeLng('de')">
							<span [ngStyle]="{ 'font-weight': selectedLng == 'de' ? 'bold' : 'normal' }">DE</span>
						</button>
						<span style="align-self: center">|</span>
						<button (click)="changeLng('en')">
							<span [ngStyle]="{ 'font-weight': selectedLng == 'en' ? 'bold' : 'normal' }">EN</span>
						</button>
					</div> -->
					<oeb-button size="sm" class="tw-self-center" [routerLink]="['/auth/login']" text="Login"></oeb-button>
				</div>
			</nav>
		</ng-template>

		<!-- Authenticated -->
		<ng-template [ngIf]="loggedIn && !isOAuthAuthorizationInProcess">
			<nav class="tw-hidden lg:tw-block">
				<div class="tw-flex tw-gap-8 tw-items-center">
					<oeb-dropdown [menuItems]="aboutBadgesMenuItems" trigger="Über Badges" triggerStyle="oeb-navitem tw-cursor-pointer !tw-leading-none !tw-py-1"></oeb-dropdown>

					<a class="oeb-navitem"
						routerLinkActive="oeb-navitem-is-active" [routerLink]="['public/about']">
						{{ 'NavItems.aboutOpenEducationalBadges' | translate }}
					</a>
					<a class="oeb-navitem"
						routerLinkActive="oeb-navitem-is-active" [routerLink]="['/recipient/badges']">{{ 'General.backpack'
						| translate }}</a>
					<!-- <a class="oeb-navitem"
						routerLinkActive="oeb-navitem-is-active" [routerLink]="['/recipient/badge-collections']">{{
						'General.collections' | translate }}</a> -->
					<a class="oeb-navitem tw-cursor-pointer"
						*ngIf="theme.customMenu" routerLinkActive="oeb-navitem-is-active" [bgPopupMenuTrigger]="customMenu">
						{{ theme.customMenu.label }}
						<svg class="navitem-x-icon" icon="icon_dropdown"></svg>
					</a>

					<a class="oeb-navitem"
						routerLinkActive="oeb-navitem-is-active" [routerLink]="['/issuer']">{{ 'NavItems.myInstitutions' |
						translate }}</a>

					<!-- Account Menu -->
					<oeb-dropdown [menuItems]="accountMenuItems" trigger="{{ 'General.account' | translate }}" triggerStyle="oeb-navitem tw-cursor-pointer !tw-leading-none !tw-py-1"></oeb-dropdown>

					<!-- ToDo: comment in when all pages are completely translated -->
					<!-- Language -->
					<!-- <div class="navitem" style="position: unset; display: flex; gap: 4px">
						<button (click)="changeLng('de')">
							<span [ngStyle]="{ 'font-weight': selectedLng == 'de' ? 'bold' : 'normal' }">DE</span>
						</button>
						<span style="align-self: center">|</span>
						<button (click)="changeLng('en')">
							<span [ngStyle]="{ 'font-weight': selectedLng == 'en' ? 'bold' : 'normal' }">EN</span>
						</button>
					</div> -->
				</div>
			</nav>
		</ng-template>

		<button class="menutoggle lg:tw-hidden" (click)="toggleMobileNav()" [class.menutoggle-is-active]="mobileNavOpen"
			[class.menutoggle-light]="!theme.useColorNavbar">
			<span></span>
			<span></span>
			<span></span>
			<i class="visuallyhidden">{{ 'NavItems.openMenu' | translate }}</i>
		</button>
	</nav>

	<!-- Nav dropdown menus -->

	 <bg-popup-menu #appsMenu>
		<a class="menuitem" href="{{ lp.launch_url }}" *ngFor="let lp of launchpoints" target="_blank">
			{{ lp.label }}
		</a>
	</bg-popup-menu>

	<bg-popup-menu #customMenu>
		<a class="menuitem" [href]="item.url" *ngFor="let item of theme?.customMenu?.items" target="_blank">
			{{ item.label }}
		</a>
	</bg-popup-menu>

	<nav class="l-dialog mobilenav" [class.mobilenav-is-active]="mobileNavOpen" *ngIf="!loggedIn"
		[class.mobilenav-light]="!theme.useColorNavbar">
		<div class="mobilenav-x-navitems">
			<a routerLinkActive="menuitem-is-active" [routerLink]="['/catalog/badges']">Badges</a>
			<a routerLinkActive="menuitem-is-active" [routerLink]="['/catalog/issuers']">{{
				'General.institutions' | translate
				}}</a>
			<a routerLinkActive="menuitem-is-active" [routerLink]="['/auth/login']">Login</a>
			<a routerLinkActive="menuitem-is-active" [routerLink]="['/public/about']">{{
				'NavItems.aboutOpenEducationalBadges' | translate
				}}</a>
			<a routerLinkActive="menuitem-is-active" [routerLink]="['/signup']">{{
				'NavItems.register' | translate
				}}</a>
			<!-- ToDo: comment in when all pages are completely translated -->
			<!-- mobile-nav language selection -->
			<!-- <a
				><div style="color: white; display: flex; gap: 4px">
					<button (click)="changeLng('de')" style="color: white">
						<span [ngStyle]="{ 'font-weight': selectedLng == 'de' ? 'bold' : 'normal' }">DE</span>
					</button>
					<span style="align-self: center">|</span>
					<button (click)="changeLng('en')" style="color: white">
						<span [ngStyle]="{ 'font-weight': selectedLng == 'en' ? 'bold' : 'normal' }">EN</span>
					</button>
				</div></a
			> -->
			<hr class="mobilenav-x-rule" />
			<p class="mobilenav-x-label" *ngIf="launchpoints?.length">Apps</p>
			<a href="{{ lp.launch_url }}" *ngFor="let lp of launchpoints" target="_blank">
				{{ lp.label }}
			</a>
		</div>
	</nav>

	<nav class="l-dialog mobilenav" [class.mobilenav-is-active]="mobileNavOpen"
		*ngIf="loggedIn && !isOAuthAuthorizationInProcess" [class.mobilenav-light]="!theme.useColorNavbar">
		<div class="mobilenav-x-navitems">
			<p class="mobilenav-x-label">{{ 'General.aboutBadges' | translate }}</p>
			<a [routerLink]="['/public/faq']">FAQ</a>
			<a [routerLink]="['/catalog/badges']">Badges A-Z</a>
			<a [routerLink]="['/catalog/issuers']">{{ 'General.institutions' | translate }}</a>

			<hr class="mobilenav-x-rule" />
			<a [routerLink]="['/recipient/badges']">{{ 'General.backpack' | translate }}</a>
			<!-- <a [routerLink]="['/recipient/badge-collections']">{{ 'General.collections' | translate }}</a> -->
			<a [routerLink]="['/issuer']" *ngIf="showIssuersTab">{{ 'NavItems.myInstitutions' | translate }}</a>

			<hr class="mobilenav-x-rule" *ngIf="launchpoints?.length" />
			<p class="mobilenav-x-label" *ngIf="launchpoints?.length">Apps</p>
			<a href="{{ lp.launch_url }}" *ngFor="let lp of launchpoints" target="_blank"> {{ lp.label }} </a>

			<hr class="mobilenav-x-rule" *ngIf="theme.customMenu" />
			<p class="mobilenav-x-label" *ngIf="theme.customMenu">{{ theme.customMenu.label }}</p>
			<a [href]="item.url" *ngFor="let item of theme?.customMenu?.items" target="_blank"> {{ item.label }} </a>

			<hr class="mobilenav-x-rule" />
			<p class="mobilenav-x-label">{{ 'General.account' | translate }}</p>
			<a [routerLink]="['/profile/profile']">{{ 'NavItems.profile' | translate }}</a>
			<a [routerLink]="['/profile/app-integrations']">{{ 'NavItems.appIntegrations' | translate }}</a>
			<a [routerLink]="['/public/about']">{{ 'NavItems.aboutOpenEducationalBadges' | translate }}</a>
			<a [routerLink]="['/auth/logout']">{{ 'NavItems.logout' | translate }}</a>
		</div>
	</nav>
</header>

<!-- Display a "curtain" instead of the normal page, if `curtain` is set to true-->
<main *ngIf="!curtain" class="oeb-main o-container" [attr.inert]="mobileNavOpen ? '' : null"
	[class.tw-hidden]="mobileNavOpen">
	<router-outlet *ngIf="!hasFatalError"></router-outlet>
	<!-- children go here -->
	<article *ngIf="hasFatalError" class="l-containerxaxis l-containeryaxis">
		<div class="l-flex l-flex-justifycenter">
			<div>
				<h1 *ngIf="fatalMessage" class="u-text-h2-bold u-text-center">{{ fatalMessage }}</h1>
				<h1 *ngIf="fatalMessageDetail" class="u-text-h3 u-text-center">{{ fatalMessageDetail }}</h1>
				<h1 *ngIf="!fatalMessage" class="u-text-body-bold u-text-center">
					{{ 'Start.serverDown' | translate }}
				</h1>
				<h1 *ngIf="!fatalMessageDetail" class="u-text-body u-text-center">
					{{ 'Start.relodePage' | translate }}
				</h1>
				<img class="u-width-form" [src]="unavailableImageSrc" />
			</div>
		</div>
	</article>
</main>

<!-- TODO: Assess dialog patterns - use inert polyfill -->
<confirm-dialog #confirmDialog></confirm-dialog>
<new-terms-dialog #newTermsDialog></new-terms-dialog>
<share-social-dialog #shareSocialDialog></share-social-dialog>
<export-pdf-dialog #exportPdfDialog></export-pdf-dialog>
<nounproject-dialog #nounprojectDialog></nounproject-dialog>
<copy-badge-dialog #copyBadgeDialog></copy-badge-dialog>
<fork-badge-dialog #forkBadgeDialog></fork-badge-dialog>
<markdown-hints-dialog #markdownHintsDialog></markdown-hints-dialog>

<!-- Footer -->

<footer
	*ngIf="!curtain"
	class="tw-relative tw-w-full"
	style="background-color: var(--color-lightgreen); margin-top: 30px"
>
	<div class="page-padding">
		<div class="tw-h-[144px] oeb-footer tw-flex tw-flex-row tw-items-center">
			<div
				class="tw-font-[rubik] tw-text-left tw-flex md:tw-flex-row md:tw-justify-between md:tw-gap-0 tw-flex-col-reverse tw-gap-[2em]">
				<div>
					<p class="text-semiBold md:tw-w-2/3 tw-text-purple tw-mt-[10px]"
						*ngIf="theme.showPoweredByOSL && theme.providedBy">
						Open Educational Badges ist ein Gemeinschaftsprojekt von
						<a href="https://matrix-gruppe.de/matrix-gemeinnuetzig/" target="_blank">matrix gGmbh</a>,
						<a href="https://mycelia.education/" target="_blank">mycelia gGmbh</a> und der
						<a href="https://opensenselab.org/" target="_blank">openSenseLab gGmbh</a>.
					</p>
				</div>

				<div class="tw-flex tw-flex-col tw-min-w-fit">
					<a class="faq" [routerLink]="['/public/faq']">FAQ</a>
					<div>
						<a class="impressum" [href]="theme.termsOfServiceLink">{{ 'Start.imprint' | translate }}</a>
						<span class="impressum"> | </span>
						<a class="impressum" [href]="theme.privacyPolicyLink">{{ 'Start.privacyPolicy' | translate }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Funder logos -->
<div class="tw-relative tw-w-full" 	[class.tw-hidden]="mobileNavOpen">
	<div class="page-padding logos-container">
		<img
			class="tw-max-w-[257px]"
			alt="Telekom-Stiftung Logo"
			src="assets/oeb/images/aboutpage/telekom_kooperation_logo_new.png"
			alt="Telekom Stiftung Logo"
		/>
		<div class="funding-logos-container">
			<img src="assets/oeb/images/aboutpage/bmbf_logo_new.jpg" class="tw-max-w-[279px]" alt="BMBF logo" />
			<img src="assets/oeb/images/aboutpage/eu_logo_new.png" class="tw-max-w-[357px]" alt="EU logo" />
		</div>
	</div>
</div>