<ng-template sourceListener></ng-template>
<header class="o-container" *ngIf="!curtain">
	<nav class="navbar l-containerxaxis l-stickyfooter-x-nav" [class.navbar-light]="!theme.useColorNavbar">
		<a
			[class.logo-is-loading]="isRequestPending"
			[href]="isOAuthAuthorizationInProcess ? '#' : theme.alternateLandingUrl || '/'"
		>
			<picture class="navbar-x-logo">
				<source media="(min-width: 768px)" [srcset]="logoDesktop" />
				<img [src]="logoSmall" alt="Logo" />
			</picture>
		</a>

		<!-- Unauthenticated -->
		<ng-template [ngIf]="!loggedIn">
			<nav class="navbar-x-items">
				<div class="navbar-x-navitems">
					<a
						role="menuitem"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/catalog/badges']"
					>
						Badges
					</a>
					<a
						role="menuitem"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/catalog/issuers']"
						>{{ 'General.institutions' | translate }}</a
					>
					<a
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/auth/login']"
						>Login</a
					>
					<a
						*ngIf="!features.disableRegistration"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/signup']"
						>{{ 'NavItems.register' | translate }}</a
					>
					<a
						*ngIf="!features.disableRegistration"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/public/about']"
						>{{ 'NavItems.aboutOpenEducationalBadges' | translate }}</a
					>
					<a
						role="menuitem"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/public/faq']"
						>FAQ</a
					>

					<div class="navitem" style="position: unset; color: white; display: flex; gap: 4px">
						<button (click)="changeLng('de')" style="color: white">
							<span [ngStyle]="{ 'font-weight': selectedLng == 'de' ? 'bold' : 'normal' }">DE</span>
						</button>
						<span style="align-self: center">|</span>
						<button (click)="changeLng('en')" style="color: white">
							<span [ngStyle]="{ 'font-weight': selectedLng == 'en' ? 'bold' : 'normal' }">EN</span>
						</button>
					</div>
				</div>
			</nav>
		</ng-template>

		<!-- Authenticated -->
		<ng-template [ngIf]="loggedIn && !isOAuthAuthorizationInProcess">
			<nav class="navbar-x-items" role="menubar">
				<div class="navbar-x-navitems">
					<a
						role="menuitem"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/catalog/badges']"
					>
						Badges
					</a>
					<a
						role="menuitem"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/catalog/issuers']"
					>
						{{ 'General.institutions' | translate }}
					</a>
					<a
						role="menuitem"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/recipient/badges']"
						>{{ 'General.backpack' | translate }}</a
					>
					<a
						role="menuitem"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/recipient/badge-collections']"
						>{{ 'General.collections' | translate }}</a
					>
					<button
						role="menuitem"
						aria-haspopup="true"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem u-cursor-pointer"
						*ngIf="launchpoints?.length"
						routerLinkActive="navitem-is-active"
						[bgPopupMenuTrigger]="appsMenu"
					>
						Apps
						<svg class="navitem-x-icon" icon="icon_dropdown"></svg>
					</button>
					<a
						role="menuitem"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem u-cursor-pointer"
						*ngIf="theme.customMenu"
						routerLinkActive="navitem-is-active"
						[bgPopupMenuTrigger]="customMenu"
					>
						{{ theme.customMenu.label }}
						<svg class="navitem-x-icon" icon="icon_dropdown"></svg>
					</a>
					<a
						role="menuitem"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem"
						routerLinkActive="navitem-is-active"
						[routerLink]="['/public/faq']"
						>FAQ</a
					>
					<button
						role="menuitem"
						aria-haspopup="true"
						[class.navitem-light]="!theme.useColorNavbar"
						class="navitem u-cursor-pointer"
						routerLinkActive="navitem-is-active"
						[bgPopupMenuTrigger]="accountMenu"
					>
						{{ 'General.account' | translate }}
						<svg class="navitem-x-icon" icon="icon_dropdown"></svg>
					</button>

					<div class="navitem" style="position: unset; color: white; display: flex; gap: 4px">
						<button (click)="changeLng('de')" style="color: white">
							<span [ngStyle]="{ 'font-weight': selectedLng == 'de' ? 'bold' : 'normal' }">DE</span>
						</button>
						<span style="align-self: center">|</span>
						<button (click)="changeLng('en')" style="color: white">
							<span [ngStyle]="{ 'font-weight': selectedLng == 'en' ? 'bold' : 'normal' }">EN</span>
						</button>
					</div>
				</div>
			</nav>
		</ng-template>
		<button
			class="menutoggle"
			(click)="toggleMobileNav()"
			[class.menutoggle-is-active]="mobileNavOpen"
			[class.menutoggle-light]="!theme.useColorNavbar"
		>
			<span></span>
			<span></span>
			<span></span>
			<i class="visuallyhidden">{{ 'NavItems.openMenu' | translate }}</i>
		</button>
	</nav>

	<!-- Nav dropdown menus -->

	<bg-popup-menu #appsMenu>
		<a class="menuitem" href="{{ lp.launch_url }}" *ngFor="let lp of launchpoints" target="_blank">
			{{ lp.label }}
		</a>
	</bg-popup-menu>

	<bg-popup-menu #customMenu>
		<a class="menuitem" [href]="item.url" *ngFor="let item of theme?.customMenu?.items" target="_blank">
			{{ item.label }}
		</a>
	</bg-popup-menu>

	<bg-popup-menu #accountMenu>
		<a class="menuitem" routerLinkActive="menuitem-is-active" [routerLink]="['/profile/profile']"
			><svg icon="icon_member"></svg>{{ 'NavItems.myProfile' | translate }}</a
		>
		<a class="menuitem" routerLinkActive="menuitem-is-active" [routerLink]="['/issuer']"
			><svg icon="icon_issuer"></svg>{{ 'NavItems.myInstitutions' | translate }}</a
		>
		<a class="menuitem" routerLinkActive="menuitem-is-active" [routerLink]="['/profile/app-integrations']"
			><svg icon="icon_compare"></svg>{{ 'NavItems.appIntegrations' | translate }}</a
		>
		<a class="menuitem" routerLinkActive="menuitem-is-active" [routerLink]="['/public/about']"
			><svg icon="icon_info"></svg>{{ 'NavItems.aboutOpenEducationalBadges' | translate }}</a
		>
		<a class="menuitem" routerLinkActive="menuitem-is-active" [routerLink]="['/auth/logout']"
			><svg icon="icon_exit_to_app"></svg>Logout</a
		>
	</bg-popup-menu>

	<nav
		class="l-dialog mobilenav"
		[class.mobilenav-is-active]="mobileNavOpen"
		*ngIf="!loggedIn"
		[class.mobilenav-light]="!theme.useColorNavbar"
	>
		<div class="mobilenav-x-navitems">
			<a routerLinkActive="menuitem-is-active" [routerLink]="['/catalog/badges']">Badges</a>
			<a routerLinkActive="menuitem-is-active" [routerLink]="['/catalog/issuers']">{{
				'General.institutions' | translate
			}}</a>
			<a routerLinkActive="menuitem-is-active" [routerLink]="['/auth/login']">Login</a>
			<a routerLinkActive="menuitem-is-active" [routerLink]="['/signup']">{{
				'NavItems.register' | translate
			}}</a>
			<a routerLinkActive="menuitem-is-active" [routerLink]="['/public/about']">{{
				'NavItems.aboutOpenEducationalBadges' | translate
			}}</a>
			<!-- mobile-nav language selection -->
			<a
				><div style="color: white; display: flex; gap: 4px">
					<button (click)="changeLng('de')" style="color: white">
						<span [ngStyle]="{ 'font-weight': selectedLng == 'de' ? 'bold' : 'normal' }">DE</span>
					</button>
					<span style="align-self: center">|</span>
					<button (click)="changeLng('en')" style="color: white">
						<span [ngStyle]="{ 'font-weight': selectedLng == 'en' ? 'bold' : 'normal' }">EN</span>
					</button>
				</div></a
			>
			<hr class="mobilenav-x-rule" />
			<p class="mobilenav-x-label" *ngIf="launchpoints?.length">Apps</p>
			<a href="{{ lp.launch_url }}" *ngFor="let lp of launchpoints" target="_blank">
				{{ lp.label }}
			</a>
		</div>
	</nav>

	<nav
		class="l-dialog mobilenav"
		[class.mobilenav-is-active]="mobileNavOpen"
		*ngIf="loggedIn && !isOAuthAuthorizationInProcess"
		[class.mobilenav-light]="!theme.useColorNavbar"
	>
		<div class="mobilenav-x-navitems">
			<a [routerLink]="['/catalog/badges']">Badges</a>
			<a [routerLink]="['/catalog/issuers']">{{ 'General.institutions' | translate }}</a>
			<a [routerLink]="['/recipient/badges']">{{ 'General.backpack' | translate }}</a>
			<a [routerLink]="['/recipient/badge-collections']">{{ 'NavItems.collections' | translate }}</a>

			<hr class="mobilenav-x-rule" *ngIf="launchpoints?.length" />
			<p class="mobilenav-x-label" *ngIf="launchpoints?.length">Apps</p>
			<a href="{{ lp.launch_url }}" *ngFor="let lp of launchpoints" target="_blank"> {{ lp.label }} </a>

			<hr class="mobilenav-x-rule" *ngIf="theme.customMenu" />
			<p class="mobilenav-x-label" *ngIf="theme.customMenu">{{ theme.customMenu.label }}</p>
			<a [href]="item.url" *ngFor="let item of theme?.customMenu?.items" target="_blank"> {{ item.label }} </a>

			<hr class="mobilenav-x-rule" />
			<p class="mobilenav-x-label">Account</p>
			<a [routerLink]="['/profile/profile']">{{ 'NavItems.profile' | translate }}</a>
			<a [routerLink]="['/issuer']" *ngIf="showIssuersTab">{{ 'NavItems.myInstitutions' | translate }}</a>
			<a [routerLink]="['/profile/app-integrations']">{{ 'NavItems.appIntegrations' | translate }}</a>
			<a [routerLink]="['/public/about']">{{ 'NavItems.aboutOpenEducationalBadges' | translate }}</a>
			<a [routerLink]="['/auth/logout']">{{ 'NavItems.logout' | translate }}</a>
		</div>
	</nav>
</header>
<div *ngIf="!curtain" class="loader l-stickyfooter-x-loader"></div>

<!-- Display a "curtain" instead of the normal page, if `curtain` is set to true-->
<div class="curtain-background">
<div *ngIf="curtain" class="l-stickyfooter-x-main o-container curtain-background">
    <div class="l-flex l-flex-justifycenter l-flex-aligncenter flex-wrap u-margin-bottom8x"> 
        <div class="l-flex flex-1 l-flex-aligncenter l-flex-justifycenter">
             <div class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter l-flex-column"> 
                <h1 class="u-text-h1 u-text-dark2 nunito-normal" style="font-weight: 700; font-size: 5em; line-height: 1.5;">
                    Open Educational Badges
                </h1>
            </div>
        </div>
    </div>
    <div class="panel" >
        <div class="center">
            <h1 class="u-text-h2 u-text-dark2 nunito-normal" style="padding-bottom: 1rem ; font-weight: 700; font-size: 3em;">Coming soon - 1. April 2024</h1>
            <!--TODO: This is very hacky-->
            <h1 class="u-text-h1 u-text-dark2">&nbsp;</h1>
        </div>
        <div class="media-container">
                <video width="50%" style="margin-top: auto; margin-bottom: auto;" controls>
                    <source src="assets/videos/badges-curtain.mp4" type="video/mp4">
                </video>
					<iframe 
							height="800"
							width="500"
							src="https://2b1b89e9.sibforms.com/serve/MUIFAKojWi4x97UOmo2HdfRvnlJLK7yupo_1AW0kPuwZAvaJKVrnY9pSznPf8Tjmv0QVrTBPNIJNbXonMqdxYOSWt8pVW1oJ433_rxMKy6MuYinwl-1uOEueeJLYdc3CZWA109Ie3XYxT64NwBAAJD09w6xT_fhZ4Nsh-z-Q4amYm0A3xXy6pWEdrUOuAEd1kAg6YUw7HLIi--v0"
							frameborder="0"
							scrolling="auto"
							allowfullscreen
							style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
        </div>
    </div>
</div>

<!-- Display a "curtain" instead of the normal page, if `curtain` is set to true-->
<main *ngIf="!curtain"
	class="l-stickyfooter-x-main o-container"
	[attr.inert]="mobileNavOpen ? '' : null"
	[class.l-inertcontainer]="mobileNavOpen"
>
	<router-outlet *ngIf="!hasFatalError"></router-outlet>
	<!-- children go here -->
	<article *ngIf="hasFatalError" class="l-containerxaxis l-containeryaxis">
		<div class="l-flex l-flex-justifycenter">
			<div>
				<h1 *ngIf="fatalMessage" class="u-text-h2-bold u-text-center">{{ fatalMessage }}</h1>
				<h1 *ngIf="fatalMessageDetail" class="u-text-h3 u-text-center">{{ fatalMessageDetail }}</h1>
				<h1 *ngIf="!fatalMessage" class="u-text-body-bold u-text-center">
					{{ 'Start.serverDown' | translate }}
				</h1>
				<h1 *ngIf="!fatalMessageDetail" class="u-text-body u-text-center">
					{{ 'Start.relodePage' | translate }}
				</h1>
				<img class="u-width-form" [src]="unavailableImageSrc" />
			</div>
		</div>
	</article>
</main>

<!-- TODO: Assess dialog patterns - use inert polyfill -->
<confirm-dialog #confirmDialog></confirm-dialog>
<new-terms-dialog #newTermsDialog></new-terms-dialog>
<share-social-dialog #shareSocialDialog></share-social-dialog>
<export-pdf-dialog #exportPdfDialog></export-pdf-dialog>
<nounproject-dialog #nounprojectDialog></nounproject-dialog>
<copy-badge-dialog #copyBadgeDialog></copy-badge-dialog>
<fork-badge-dialog #forkBadgeDialog></fork-badge-dialog>
<markdown-hints-dialog #markdownHintsDialog></markdown-hints-dialog>

<!-- Footer -->
<footer class="o-container">
	<div class="l-containerxaxis">
		<div class="footer l-stickyfooter-x-footer">
			<ul class="footer-x-leftlinks">
				<li *ngIf="theme.showPoweredByOSL && theme.providedBy">
					{{ 'Start.poweredBy' | translate }}
					<a href="{{ theme.providedBy.url }}" target="_blank">{{ theme.providedBy.name }}</a>
					{{ 'Start.using' | translate }} <a href="https://badgr.io">Badgr</a>
				</li>
			</ul>

			<ul class="footer-x-links">
				<li>
					<a [href]="theme.termsOfServiceLink" target="_blank">{{ 'Start.imprint' | translate }}</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
