.flex-1 {
	flex: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}
.video-container {
	height: 500px;
	width: 100%;
	padding-bottom: 5rem;
}

.panel {
	background-color: #474797;
	padding: 5rem;
	text-align: center;
	position: relative;
	max-width: 100%;
	color: white;
	border-radius: 1rem;
}

.nunito-normal {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
