<main class="o-container" *bgAwaitPromises="[issuerLoaded, badgeClassLoaded]">
	<form-message></form-message>
	<external-tool-launch></external-tool-launch>

	<ng-template [ngIf]="badgeClass && issuer">
		<header class="topbar">
			<div class="l-containerxaxis">
				<div class="topbar-x-breadcrumbs">
					<bg-breadcrumbs [linkentries]="crumbs"> </bg-breadcrumbs>
				</div>
			</div>
		</header>
		<div class="tw-flex tw-flex-col tw-relative">
			<div class="badge-header">
				<h1 class="tw-text-purple tw-max-w-[480px]">{{ badgeClass?.name }}</h1>
				<div class="award-btn">
					<a
						class="button tw-w-[305px] md:tw-w-[358px] md:tw-h-[64px] tw-h-[45px] tw-flex tw-items-center tw-justify-center tw-text-xl tw-rounded-[7px]"
						[routerLink]="['/issuer/issuers', issuerSlug, 'badges', badgeClass.slug, 'issue']"
						[disabled-when-requesting]="true"
						>Badge vergeben</a
					>
					<button class="threedots threedots-secondary tw-rounded-[7px] tw-w-[44.8px] tw-h-[44.8px] md:tw-w-[64px] md:tw-h-[64px]" id="actionstrigger" [bgPopupMenuTrigger]="moreMenu">
						<svg icon="icon_more"></svg>
						<span class="visuallyhidden">Mehr</span>
					</button>
					<bg-popup-menu #moreMenu>
						<button
							class="menuitem"
							type="button"
							[routerLink]="['/issuer/issuers', issuerSlug, 'badges', badgeClass.slug, 'edit']"
						>
							<svg icon="icon_edit"></svg>Bearbeiten
						</button>
						<button class="menuitem" (click)="deleteBadge()" [disabled-when-requesting]="true">
							<svg icon="icon_remove"></svg>Löschen
						</button>
						<!--
				        	TODO: Add 'share' action
				        -->
					</bg-popup-menu>
				</div>
			</div>
			<div class="tw-flex md:tw-flex-row tw-flex-col tw-mt-4 tw-relative md:tw-mx-0 tw-mx-auto">
				<div class="badge-sidebar">
					<div class="badge-sidebar-internal">
						<div>
							<div class="tw-w-[195px] tw-h-[179px] md:tw-w-[297.86px] md:tw-h-[257px] tw-flex tw-items-center tw-bg-white tw-mx-auto tw-rounded-[20px] tw-border tw-border-solid tw-border-[var(--color-purple)] ">
							<img
								class="badge-image badgeimage-center"
								[loaded-src]="badgeClass.image"
								[loading-src]="badgeLoadingImageUrl"
								[error-src]="badgeFailedImageUrl"
							/>
							</div>
							<!-- Issuer Information -->
								<div class="l-flex l-flex-2x u-padding-top2x tw-mt-4 md:tw-w-[280px] tw-mx-auto tw-flex tw-items-center tw-border tw-border-solid tw-border-[var(--color-purple)] tw-pl-4 tw-py-4 tw-bg-white tw-rounded-[20px]">
									<div >
										<img class="issuer-image"
											[loaded-src]="issuer.image"
											[loading-src]="issuerImagePlacholderUrl"
											[error-src]="issuerImagePlacholderUrl"
										/>
									</div>
									<div class="tw-text-oebblack">
										<dt class="tw-italic ">Vergeben von:</dt>
										<dd class="u-text u-break-word">
												{{issuer.name}}
										</dd>
									</div>
								</div>
						</div>
						<dl>
							<div class="l-flex l-flex-2x tag-container md:tw-flex-row tw-flex-col">
								<dt class="u-text-small-bold u-text-dark2 md:tw-p-2"> Tags </dt>
								<dd class="u-text">
									<div class="l-tags">
										<div class="tag tw-max-w-24" *ngFor="let tag of badgeClass.tags; last as last">{{ tag }}</div>
									</div>
							
							</div>

							<div class="l-flex l-flex-1x tw-text-oebblack u-padding-top2x u-margin-top2x border border-top border-light3 md:tw-flex-row tw-flex-col">
								<dt
									class="u-text-small-bold "
								>
									{{ 'General.category' | translate }}
								</dt>
								<dd class="u-text-small ">{{ badgeClass.extension['extensions:CategoryExtension'].Category === 'competency' ? 'Kompetenz- Badge' : 'Teilnahme- Badge' }}</dd>
							</div>
							
							<div class="l-flex l-flex-1x tw-text-oebblack u-padding-top2x u-margin-top2x border border-top border-light3 md:tw-flex-row tw-flex-col">
								<dt class="u-text-small-bold "
								>
									Zuletzt editiert:
								</dt>
								<dd class="u-text-small"><time [date]="badgeClass.updatedAt" format="dd.MM.y"></time></dd>
							</div>
							<div class="l-flex l-flex-1x tw-text-oebblack u-padding-top2x u-margin-top2x border border-top border-light3 md:tw-flex-row tw-flex-col">
								<dt class="u-text-small-bold "
								>
									Erstellt am:
								</dt>
								<dd class="u-text-small"><time [date]="badgeClass.createdAt" format="dd.MM.y"></time></dd>
							</div>
	
						</dl>

						<hr class="tw-hidden md:tw-block tw-mx-auto tw-w-[280px] tw-col-span-full tw-my-4 tw-border tw-border-solid tw-border-[var(--color-purple)]" />
					</div>
			</div>
			<div class="badge-detail-body">
				<div class="badge-description">
					<h3 class="tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack u-margin-bottom2x">
						Kurzbeschreibung
					</h3>
					<p class="tw-text-xl tw-font-[rubik] tw-text-oebblack u-text-body u-width-paragraph">{{ badgeClass.description }}</p>
				</div>

				<!-- Kompetenzen -->
				<section class="badge-competencies">
					<h3
						class="tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack u-margin-bottom2x u-margin-top4x"
						*ngIf="
							badgeClass.extension && badgeClass.extension['extensions:CompetencyExtension'].length > 0
						"
					>
					{{ 'RecBadgeDetail.competencies' | translate }}
					</h3>
					<div>
						<div
							*ngFor="
								let competency of badgeClass.extension['extensions:CompetencyExtension'];
								index as i;
							"
						>
							<div
								class="tw-flex tw-flex-col tw-bg-[var(--color-lightgreen)] tw-border tw-border-solid tw-border-[var(--color-purple)] tw-rounded-lg tw-mt-4 tw-w-[346px] md:tw-w-[596px] "
							>
							<div class="tw-p-4">
								<div class="tw-grid tw-grid-cols-3">
									<h3 class="tw-col-span-2 tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack">{{ competency.name }}</h3>
									<!-- If study load is more than 10000 hours, there is probably something wrong with the data and we should not display it. -->
									<div class="tw-flex tw-items-start tw-justify-end" *ngIf="(competency.studyLoad / 60) < 10000"> 
										<div class="tw-flex tw-items-center tw-gap-2 tw-px-2 tw-border tw-border-solid tw-rounded-3xl tw-border-[var(--color-purple)] tw-bg-white">
											<svg class="icon icon-dark4 tw-w-[16px] md:tw-w-[18px]" viewBox="0 0 24 24" icon="icon_pending"></svg>
											<span class="tw-text-xs md:tw-text-lg tw-font-light">{{competency.studyLoad | studyload }}</span>
										</div>
									</div>
								</div>
								<div>
									<p class="u-break-word u-text-body tw-text-[20px] tw-leading-[24px] tw-font-[rubik] u-width-paragraph u-margin-top2x tw-line-clamp-3 tw-italic">{{ competency.description }}</p>
								</div>
							</div>
							</div>
						</div>
					</div>
				</section>

				<ng-template
					[bgAwaitPromises]="[badgeInstancesLoaded, assertionsLoaded]"
					*ngIf="instanceResults?.length"
				>

					<issuer-detail-datatable [recipientCount]="recipientCount" [_recipients]="instanceResults"></issuer-detail-datatable>

					<bg-popup-menu #mobileTableMoreMenu>
						<button type="button" class="menuitem" (click)="shareInstance(popInstance)">
							<svg icon="icon_share"></svg>Teilen
						</button>
						<button type="button" class="menuitem" (click)="revokeInstance(popInstance)">
							<svg icon="icon_remove"></svg>Zurücknehmen
						</button>
						<ng-container *ngIf="launchpoints">
							<button
								class="menuitem"
								type="button"
								*ngFor="let lp of launchpoints"
								(click)="clickLaunchpoint(lp, popInstance.slug)"
							>
								<svg icon="icon_external_link"></svg>
								{{ lp.label }}
							</button>
						</ng-container>
					</bg-popup-menu>

					<bg-popup-menu #tableMoreMenu>
						<button type="button" class="menuitem" (click)="shareInstance(popInstance)">
							<svg icon="icon_share"></svg>Teilen
						</button>
						<button type="button" class="menuitem" (click)="revokeInstance(popInstance)">
							<svg icon="icon_remove"></svg>Zurücknehmen
						</button>
						<ng-container *ngIf="launchpoints">
							<button
								class="menuitem"
								type="button"
								*ngFor="let lp of launchpoints"
								(click)="clickLaunchpoint(lp, popInstance.slug)"
							>
								<svg icon="icon_external_link"></svg>
								{{ lp.label }}
							</button>
						</ng-container>
					</bg-popup-menu>

					<div class="u-margin-yaxis4x" *ngIf="hasNextPage() || hasPrevPage()">
						<nav class="pagination">
							<h2 class="visuallyhidden">Pagination</h2>
							<button
								class="page"
								[class.is-disabled]="!hasPrevPage()"
								[attr.disabled]="hasPrevPage() ? null : 'disabled'"
								(click)="clickPrevPage()"
							>
								Zurück
							</button>
							<button
								class="page"
								[class.is-disabled]="!hasNextPage()"
								[attr.disabled]="hasNextPage() ? null : 'disabled'"
								(click)="clickNextPage()"
							>
								Weiter
							</button>
						</nav>
					</div>
					<p class="u-text-body" *ngIf="!allBadgeInstances?.length">Keine Empfänger*innen.</p>
					<p class="u-text-body" *ngIf="allBadgeInstances?.length && !instanceResults?.length">
						Keine Empfänger*innen gefunden.
					</p>
				</ng-template>
			</div>
		</div>
		</div>
	</ng-template>
</main>
