<section class="l-containerxaxis l-containeryaxis">
	<div class="u-width-form">
		<div class="contentlong">
			<h2>Import Error</h2>
			<p>
				{{ transformedImportData.validRowsTransformed.size }} Zeilen werden importiert. Die folgenden
				{{ transformedImportData.invalidRowsTransformed.length }} beinhalten Fehler. Bitte behebe die Fehler
				oder wähle ENTFERNEN.
			</p>
		</div>

		<form [formGroup]="importErrorForm">
			<table
				class="datatable datatable-roundheaders datatable-headers"
				formArrayName="users"
				class="table table-issues"
			>
				<thead class="datatable-x-head">
					<tr class="datatable-x-header">
						<th class="datatable-x-cell" scope="col">E-Mail</th>
						<th class="datatable-x-cell" scope="col">Name</th>
						<th class="datatable-x-cell" scope="col">Nachweis URL</th>
						<th class="datatable-x-cell">
							<!-- header for remove link-->
						</th>
					</tr>
				</thead>
				<tbody class="datatable-x-body">
					<tr
						class="datatable-x-row"
						*ngFor="let user of importErrorForm.controls['users']['controls']; let i = index"
					>
						<td class="datatable-x-cell">
							<bg-formfield-text
								class="u-margin-left2x"
								[control]="importErrorForm.controls['users']['controls'][i].controls.email"
								[errorMessage]="'Please enter a valid email'"
							></bg-formfield-text>
						</td>
						<td class="datatable-x-cell">
							<bg-formfield-text
								class="u-margin-left2x"
								[control]="importErrorForm.controls['users']['controls'][i].controls.name"
								[errorMessage]="'Please enter a valid name'"
							></bg-formfield-text>
						</td>
						<td class="datatable-x-cell">
							<bg-formfield-text
								class="u-margin-left2x"
								[control]="importErrorForm.controls['users']['controls'][i].controls.evidence"
								[errorMessage]="{ required: 'Please enter a valid URL' }"
							></bg-formfield-text>
						</td>
						<td class="datatable-x-cell">
							<button class="u-margin-left2x u-text-link-small" (click)="removeButtonErrorState(i)">
								Entfernen
							</button>
						</td>
					</tr>
				</tbody>

				<tbody></tbody>
			</table>
		</form>
	</div>

	<!-- BUTTONS -->
	<div class="tw-flex tw-justify-end tw-gap-2 tw-mt-4">
		<button class="button button-secondary" (click)="updateViewState('import')">Abbrechen</button>

		<button class="button l-marginLeft-x2" (click)="continueButtonAction()">Weiter</button>
	</div>
</section>
