<main>
	<form-message></form-message>
	<header class="heading">
		<!-- OAuth Banner -->
		<oauth-banner></oauth-banner>
		<!-- Title Message -->
		<h3 id="heading-form">Passwort vergessen?</h3>
		<p>Gebe deine E-Mail Adresse ein und wir helfen dir dein Passwort zurückzusetzen.</p>
	</header>
	<div class="tw-max-w-96 tw-w-full form">
		<!-- Login Form -->
		<form
			aria-labelledby="heading-form"
			role="form"
			[formGroup]="requestPasswordResetForm.rawControl"
			(ngSubmit)="submitResetRequest()"
			novalidate
		>
			<fieldset aria-labelledby="heading-forgotpassword" role="group">
				<legend class="visuallyhidden" id="heading-forgotpassword">Password vergessen</legend>

				<bg-formfield-text
					[control]="requestPasswordResetForm.rawControlMap.username"
					label="E-Mail"
					[errorMessage]="{ required: 'Bitte gebe deine E-Mail Adresse ein' }"
					[autofocus]="true"
				></bg-formfield-text>
			</fieldset>
			<div class="tw-flex tw-items-start tw-mr-4 tw-justify-end tw-mt-4">
				<a
					class="button button-secondary tw-mr-4"
					[routerLink]="['/auth/login']"
					[disabled-when-requesting]="true"
					>Abbrechen</a
				>
				<button
					class="button"
					type="submit"
					[disabled]="requestPasswordResetForm.invalid"
					[loading-when-requesting]="true"
					loading-message="Resetting Password"
				>
					Passwort zurücksetzen
				</button>
			</div>
		</form>
	</div>
</main>
