<main>
	<form-message></form-message>
	<header class="l-containerxaxis topbar">
		<!-- OAuth Banner -->
		<oauth-banner></oauth-banner>
		<!-- Title Message -->
		<h3 class="topbar-x-heading" id="heading-form">Passwort vergessen?</h3>
		<p class="topbar-x-subheading">
			Gebe deine E-Mail Adresse ein und wir helfen dir dein Passwort zurückzusetzen.
		</p>
	</header>
	<div class="l-containerxaxis u-margin-yaxis3x u-width-formsmall">
		<!-- Login Form -->
		<form
			aria-labelledby="heading-form"
			role="form"
			[formGroup]="requestPasswordResetForm.rawControl"
			(ngSubmit)="submitResetRequest()"
			novalidate
		>
			<fieldset aria-labelledby="heading-forgotpassword" role="group">
				<legend class="visuallyhidden" id="heading-forgotpassword">Password vergessen</legend>

				<bg-formfield-text
					[control]="requestPasswordResetForm.rawControlMap.username"
					label="E-Mail"
					[errorMessage]="{ required: 'Bitte gebe deine E-Mail Adresse ein' }"
					[autofocus]="true"
				></bg-formfield-text>
			</fieldset>
			<div class="l-flex l-flex-1x l-flex-justifyend u-margin-top2x">
				<a class="button button-secondary" [routerLink]="['/auth/login']" [disabled-when-requesting]="true"
					>Abbrechen</a
				>
				<button
					class="button"
					type="submit"
					[disabled]="requestPasswordResetForm.invalid"
					[loading-when-requesting]="true"
					loading-message="Resetting Password"
				>
					Password zurücksetzen
				</button>
			</div>
		</form>
	</div>
</main>
