<div class="tw-relative tw-w-full">
	<div class="oeb page-padding">
		<form-message></form-message>

		<!-- OAuth Banner -->
		<oauth-banner></oauth-banner>

		<div class="oeb-headline-container-sm">
			<h1 hlmH1 class="tw-text-purple">
				{{ 'Login.forgotPassword?' | translate }}
			</h1>
			<p hlmP class="tw-font-normal">
				{{ 'Login.enterYourEmail' | translate }}
			</p>
		</div>

		<form
			aria-labelledby="heading-form"
			role="form"
			[formGroup]="requestPasswordResetForm.rawControl"
			(ngSubmit)="submitResetRequest()"
			class="oeb-max-form-width"
			novalidate
		>
			<fieldset aria-labelledby="heading-forgotpassword" role="group">
				<legend class="visuallyhidden" id="heading-forgotpassword">Forgot password</legend>

				<oeb-input
					label="E-Mail"
					[control]="requestPasswordResetForm.rawControlMap.username"
					[fieldType]="'text'"
					[autofocus]="true"
					errorMessage="{{ 'Login.enterYourEmailAddress' | translate }}"
					#reset_password_Email_field
				></oeb-input>
			</fieldset>

			<div class="tw-flex tw-justify-between tw-flex-wrap sm:tw-flex-nowrap tw-gap-2 tw-mt-8">
				<oeb-button
					class="tw-mr-4"
					variant="secondary"
					[routerLink]="['/auth/login']"
					[disabled-when-requesting]="true"
					text="{{ 'General.cancel' | translate }}"
				></oeb-button>

				<oeb-button
					type="submit"
					width="max_content"
					[disabled]="requestPasswordResetForm.invalid"
					[loading-when-requesting]="true"
					loading-message="Resetting Password"
					text="{{ 'Login.ResetPassword' | translate }}"
				>
				</oeb-button>
			</div>
		</form>
	</div>
</div>
