<div
	class="tw-flex tw-flex-col tw-w-[100%] lg:tw-w-[49%] tw-box-border tw-gap-6 tw-border-solid tw-border tw-border-purple tw-rounded-lg tw-p-8"
>
	<div class="tw-flex tw-flex-row tw-gap-4">
		<img
			class="tw-w-24"
			[loaded-src]="issuer?.image"
			[loading-src]="issuer?.imagePlaceholder"
			[error-src]="issuer?.imagePlaceholder"
			alt="{{ issuer?.name }} avatar"
		/>
		<div class="tw-content-center">
			<a
				hlmH2
				class="tw-text-purple tw-font-bold tw-break-words tw-cursor-pointer"
				(click)="onNavigate()"
				[maxLength]="40"
				[truncatedText]="issuer?.name"
			></a>
		</div>
	</div>

	<div
		hlmP
		class="tw-font-normal tw-text-black md:tw-min-h-32"
		[truncatedText]="issuer?.description"
		[maxLength]="250"
	></div>
	<div>
		<div variant="categoryTag" hlmBadge>{{ issuer?.category | titlecase }}</div>
	</div>
	<div>
		<div class="tw-flex tw-flex-row tw-gap-4">
			<a
				hlmP
				class="tw-flex tw-flex-row tw-text-purple tw-font-semibold tw-items-center hover:tw-underline"
				[routerLink]="['/public/issuers/', issuer?.slug]"
			>
				<img src="assets/badges/badgeIcon.svg" alt="bade icon" class="tw-w-9" />
				<p [innerHTML]="issuer?.badgeClassCount | i18nPlural: plural['badges']"></p>
			</a>
			<a
				hlmP
				class="tw-flex tw-flex-row tw-text-purple tw-font-semibold tw-items-center hover:tw-underline"
				[routerLink]="['/public/issuers/', issuer?.slug]"
			>
				<img
					src="assets/oeb/images/learningPath/learningPathIcon.svg"
					alt="learning path icon"
					class="tw-w-7"
				/>
				<p class="tw-ml-2" [innerHTML]="issuer?.learningPathCount | i18nPlural: plural['learningPath']"></p>
			</a>
		</div>
	</div>
</div>
