<main importLauncher class="">
	<form-message></form-message>

	<div class="page-padding oeb">
		<div class="tw-bg-lightpurple oeb-inset-padding">

			<ng-template [bgAwaitPromises]="[profileLoaded]">

				<div class="md:tw-flex tw-justify-between tw-items-center oeb-section-sm">
					<h2 hlmH2 class="tw-text-oebblack tw-font-bold tw-pb-4 md:tw-pb-0">{{'RecBadge.greating' | translate}} {{profile.firstName}} </h2>
					
					<oeb-button icon="lucideUpload" (click)="addBadge()" [disabled-when-requesting]="true"
						[text]="'RecBadge.addBadge' | translate">
					</oeb-button>

				</div>
			</ng-template>

			<div class="oeb-section-sm">
				<oeb-backpack-tabs (onTabChanged)="onTabChange($event)" [tabs]="tabs"></oeb-backpack-tabs>
				<!-- <ng-template #overViewTemplate>
					<div class="oeb-section">
						<h1 hlmH1 class="tw-text-purple">Coming soon...</h1>
					</div>
				</ng-template> -->
				<ng-template #badgesTemplate>
					<ng-template [bgAwaitPromises]="[badgesLoaded]">
						<div class="oeb-section-sm">
							<div class="tw-grid tw-grid-cols-2 tw-gap-3">
								<div
									class="tw-bg-white tw-rounded-[10px] tw-border-purple tw-border-solid tw-border tw-h-[90px] tw-p-4">
									<div class="tw-whitespace-nowrap tw-flex tw-items-center tw-mb-2"><hlm-icon
											class="tw-mr-2" size='sm' name="lucideHexagon" /><span hlmP
											size="sm">Badges</span></div>
									<p hlmP *ngIf="!!allBadges" #badgesCounter [countUp]="allBadges.length"
										class="tw-text-purple tw-font-bold"></p>
								</div>
								<!-- <div
									class="tw-bg-white tw-rounded-[10px] tw-border-purple tw-border-solid tw-border tw-h-[90px] tw-p-4">
									<div class="tw-whitespace-nowrap tw-flex tw-items-center tw-mb-2"><hlm-icon
											class="tw-mr-2" size='sm' name="lucideMedal" /><span hlmP
											size="sm">Micro-Degrees</span></div>

								</div> -->
							</div>
						</div>

						<!-- No badges, empty state! -->
						<section class="emptysection l-emptysection" *ngIf="allBadges.length == 0">
							<h2 class="emptysection-x-headline">{{ 'RecBadge.noBadgesYet' | translate }}</h2>
							<p class="emptysection-x-copy">{{ 'RecBadge.collectShareBadges' | translate }}</p>
							<div class="emptysection-x-imagecontainer">
								<img alt="Illustration of backpack with badges" class="emptysection-x-image"
									[src]="noBadgesImageUrl" />
							</div>
						</section>

						<!-- Badge Search, group and grid/list toggle -->
						<div class="oeb-section-sm" *ngIf="allBadges.length > 0">
							<div class="tw-flex tw-flex-wrap tw-items-center oeb-standard-padding-bottom">
								<input type="text" name="forminput" id="forminput" placeholder="Badges durchsuchen"
									[(ngModel)]="searchQuery"
									class="tw-w-[300px] tw-border-solid tw-border-purple tw-bg-white tw-mr-6"
									hlmInput />
								<oeb-checkbox class="tw-mt-2 md:tw-mt-0" name="groupby" [(ngModel)]="groupByIssuer"
									[text]="'RecBadge.groupByInstitution' | translate"></oeb-checkbox>
							</div>

							<!-- Grid View -->
							<ng-template [ngIf]="badgesDisplay == 'grid'">
								<!-- ------------------ UNGROUPED ------------------  -->
								<ng-template [ngIf]="!groupByIssuer">
									<div class="l-grid l-grid-large tw-gap-10">
										<bg-badgecard *ngFor="let badgeResult of badgeResults"
											[badgeTitle]="badgeResult.badge.badgeClass.name"
											[badgeImage]="badgeResult.badge.image"
											[badgeIssueDate]="badgeResult?.badge?.issueDate"
											[mostRelevantStatus]="badgeResult.badge.mostRelevantStatus"
											[issuerTitle]="badgeResult.badge.badgeClass.issuer.name"
											[issuerSlug]="badgeResult.badge.badgeClass.issuer.slug"
											[badgeSlug]="badgeResult.badge.slug"
											(shareClicked)="shareBadge(badgeResult.badge)"></bg-badgecard>
									</div>
								</ng-template>
								<!-- ------------------ GROUP BY ISSUER ------------------  -->
								<ng-template [ngIf]="groupByIssuer">
									<div *ngFor="let issuerGroup of issuerResults">
										<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top6x u-text-dark1">
											{{ issuerGroup.issuer.name }}
											<span class="u-text-small-semibold-caps u-text-dark4 u-margin-left2x">{{
												issuerGroup.badges.length }}
												{{ issuerGroup.badges.length == 1 ? 'Badge' : 'Badges' }}</span>
										</h3>
										<div class="l-grid l-grid-large tw-gap-10">
											<bg-badgecard *ngFor="let badge of issuerGroup.badges"
												[badgeTitle]="badge.badgeClass.name" [badgeImage]="badge.image"
												[badgeIssueDate]="badge.issueDate"
												[mostRelevantStatus]="badge.mostRelevantStatus"
												[issuerSlug]="issuerIdToSlug(issuerGroup.issuerId)"
												[issuerTitle]="badge.badgeClass.issuer.name" [badgeSlug]="badge.slug"
												(shareClicked)="shareBadge(badge)"></bg-badgecard>
										</div>
									</div>
								</ng-template>
							</ng-template>

							
						</div>
					</ng-template>
				</ng-template>

				<ng-template #badgesCompetency>
					<div class="oeb-headline-container-sm" *ngIf="activeTab === 'Kompetenzen'">
						<div class="oeb-section-sm">
							<div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-3">
								<div
									class="tw-bg-white tw-rounded-[10px] tw-border-purple tw-border-solid tw-border tw-h-[90px] tw-p-4">
									<div class="tw-whitespace-nowrap tw-flex tw-items-center tw-mb-2"><hlm-icon
											class="tw-mr-2" size='sm' name="lucideHexagon" /><span hlmP
											size="sm">{{ 'RecBadge.competencies' | translate }}</span></div>
									<p hlmP #countup hlmP class="tw-text-purple tw-font-bold" *ngIf="!!allBadges"
										[countUp]="objectKeys(groupedUserCompetencies).length"></p>
								</div>
								<div
									class="tw-bg-white tw-rounded-[10px] tw-border-purple tw-border-solid tw-border tw-h-[90px] tw-p-4">
									<div class="tw-whitespace-nowrap tw-flex tw-items-center tw-mb-2"><hlm-icon
											class="tw-mr-2" size='sm' name="lucideClock" /><span hlmP
											size="sm">{{ 'RecBadge.studyingTime' | translate }}</span></div>
									<p hlmP class="tw-text-purple tw-font-bold" *ngIf="!!allBadges"><span #countup2
											[countUp]="totalStudyTime / 60">0</span> {{ 'RecBadge.hours' | translate }}</p>
								</div>
								<!-- <div
									class="tw-bg-white tw-rounded-[10px] tw-border-purple tw-border-solid tw-border tw-h-[90px] tw-p-4">
									<div class="tw-whitespace-nowrap tw-flex tw-items-center tw-mb-2"><hlm-icon
											class="tw-mr-2" size='sm' name="lucideMedal" /><span hlmP
											size="sm">Kompetenzen</span></div>

								</div> -->
							</div>
						</div>
						<div class="oeb-section-sm">
							<div *ngIf="objectValues(newGroupedUserCompetencies).length > 0" class="lg:tw-flex tw-flex-wrap oeb-standard-padding-bottom">
								<div class="tw-w-full lg:tw-w-[270px] lg:tw-flex-shrink-0 lg:tw-pb-0 tw-pb-4">
									<div class="tw-flex tw-items-center">
										<hlm-icon class="tw-mr-2" name="lucideHeart" />
										<h3 hlmH3 class="tw-font-medium tw-text-oebblack tw-ml-2">{{ 'RecBadge.newCompetencies' | translate }}</h3>
									</div>
								</div>
								<div class="tw-flex-grow">
									<div class="tw-grid tw-grid-cols-1 tw-gap-2">
										<oeb-competency
											*ngFor="let competency of objectValues(newGroupedUserCompetencies)"
											[competency]="competency" [new]="true"></oeb-competency>
									</div>
								</div>
							</div>
							<div class="lg:tw-flex tw-flex-wrap oeb-standard-padding-bottom">
								<div class="tw-w-full lg:tw-w-[270px] lg:tw-flex-shrink-0 lg:tw-pb-0 tw-pb-4">
									<div class="tw-flex tw-items-center">
										<hlm-icon class="tw-mr-2" name="lucideHand" />
										<h3 hlmH3 class="tw-font-medium tw-text-oebblack tw-ml-2">{{ 'RecBadge.skills' | translate }}</h3>
									</div>
								</div>
								<div class="tw-flex-grow">
									<div class="tw-grid tw-grid-cols-1 tw-gap-2">
										<oeb-competency
											*ngFor="let competency of objectValues(groupedUserCompetencies) | dynamicFilter: { category: 'skill'}"
											[competency]="competency"></oeb-competency>
									</div>
								</div>
							</div>
							<div class="lg:tw-flex tw-flex-wrap oeb-standard-padding-bottom">
								<div class="tw-w-full lg:tw-w-[270px] lg:tw-flex-shrink-0 lg:tw-pb-0 tw-pb-4">
									<div class="tw-flex tw-items-center">
										<hlm-icon class="tw-mr-2" name="lucideBookOpen" />
										<h3 hlmH3 class="tw-font-medium tw-text-oebblack tw-ml-2">{{ 'RecBadge.knowledge' | translate }}</h3>
									</div>
								</div>
								<div class="tw-flex-grow">
									<div class="tw-grid tw-grid-cols-1 tw-gap-2">
										<oeb-competency
											*ngFor="let competency of objectValues(groupedUserCompetencies) | dynamicFilter: { category: 'knowledge'}"
											[competency]="competency"></oeb-competency>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</div>
		</div>
		<add-badge-dialog #addBadgeDialog></add-badge-dialog>
	</div>
</main>