h1 {
	color: var(--color-black);
	font-weight: bold;
}

h2 {
	color: var(--color-black);
	font-weight: bold;
}

h3 {
	font-weight: bold;
	margin-top: 1.3em;
	color: var(--color-black);
}

p {
	font-size: 1.1rem;
	color: var(--color-black);
	line-height: 1.55;
	margin: 0.5em 0 1.3em;
}

span {
	display: block;
	margin-bottom: 0.9em;
}

ul {
	list-style: disc;
	list-style-position: inside;
	padding-left: 1.2em;
}
