<div class="oeb page-padding">
	<div class="l-containerxaxis l-containeryaxis">
		<h1 class="u-text-h1-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">Nutzungsbedingungen</h1>

		<p class="!tw-mt-[2em] !tw-mb-[1.3em]">für die Open Educational Badges-Plattform</p>

		<p class="!tw-mt-[2em] !tw-mb-[1.3em]">
			Die OEB-Plattform ist ein Verbundprojekt der matrix gGmbH, mycelia gGmbH und der openSenseLab gGmbH
			(nachfolgend gemeinsam auch „Wir“).
		</p>

		<p class="!tw-mt-[2em] !tw-mb-[1.3em]">
			Über die Plattform sollen in erster Linie Institutionen (nachfolgend Nutzende oder Akteur:innen) aktiv
			werden, um Open Educational Badges zu erstellen und zu vergeben. Lernenden steht die Plattform aber
			ebenfalls zur Nutzung bereit.
		</p>

		<p class="!tw-mt-[2em] !tw-mb-[1.3em]">
			Ziel ist das Sichtbarmachen von erworbenen bzw. vermittelten Kompetenzen aus unterschiedlichen Lernsettings
			und Kompetenzbereichen, das Stärken der Souveränität Lernender und die Erhöhung der Relevanz von
			Kompetenznachweisen aus non-formalen und informellen Settings.
		</p>

		<!-- Gegenstand der Nutzungsbedingungen -->

		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			1. Gegenstand der Nutzungsbedingungen
		</h2>
		<p>
			<span>
				Um die eingangs genannten Ziele wirksam und nachhaltig zu erreichen, ist das Anlegen eines Accounts auf
				der Plattform für die Institutionen, die Badges vergeben wollen, erforderlich. Sofern die Nutzung durch
				eine Institution erfolgt, ist zunächst die Registrierung als Person, anschließend das Anlegen der
				entsprechenden Institution erforderlich. Im Anschluss können Badges erstellt und vergeben bzw. von den
				Lernenden abgerufen werden. Für den Abruf eines Badges ist die Registrierung auf der Plattform nicht
				zwingend erforderlich, hierfür reicht in der Regel eine E-Mail-Adresse, Vor- und Nachname der
				berechtigten Person aus. Gegenstand der Nutzungsbedingungen ist ausschließlich die Bereitstellung der
				Plattform und die Ermöglichung der Badge-Erstellung und -Vergabe. Wir stehen in keinerlei rechtlicher
				oder tatsächlicher Verbindung zur Erstellung der Badges, deren Inhalt bzw. der zugehörigen Beschreibung,
				deren Verwendung oder Vergabe.
			</span>
		</p>

		<!-- Wofür gelten diese Nutzungsbedingungen? -->
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			2. Wofür gelten diese Nutzungsbedingungen?
		</h2>
		<p>
			<span>
				Diese Nutzungsbedingungen regeln die Nutzung der Plattform. Sie gelten für alle Nutzenden der Plattform
				und für alle Handlungen, die Nutzende auf der Plattform vornehmen können.
			</span>
		</p>

		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			3. Registrierung; Erstellen und Vergeben von Badges
		</h2>
		<p class="tw-flex tw-text-[24px]">
			3.1 Die Registrierung auf der Plattform ist erforderlich für deren Nutzung. Die Registrierung kann entweder
			durch Anlage eines Nutzerkontos oder (zukünftig) durch Nutzen des Accounts von mein Bildungsraum vorgenommen
			werden.
		</p>
		<p class="tw-flex tw-text-[24px]">
			3.2 Durch die Registrierung wird ein Profil erstellt, welches im Nachgang noch weiterbearbeitet werden kann.
			Nutzende können Angaben auf dem Profil ändern und auch das Profil selbst löschen, wenn es nicht mehr
			benötigt wird.
		</p>

		<p class="tw-flex tw-text-[24px]">
			3.3 Als Anmeldedaten für den Login werden nach der Registrierung die jeweils hinterlegte E-Mail-Adresse und
			das vergebene Passwort benötigt.
		</p>

		<p class="tw-flex tw-text-[24px]">
			3.4 Um einen Badge zu erhalten, ist die Angabe des Namens und der E-Mail-Adresse erforderlich.
		</p>

		<p class="tw-flex tw-text-[24px]">
			3.5 Um Badges anzulegen und zu vergeben ist das Anlegen einer Institution nötig. Hier müssen Firmendaten wie
			Name der Firma, Adresse und verantwortliche Person angegeben werden. Der Institution können individuelle
			Nutzende, die ein Nutzerkonto angelegt haben, als Mitarbeiter:innen und Editor:innen dazugefügt werden.
		</p>

		<p class="tw-flex tw-text-[24px]">
			3.6 Um einen Badge zu erstellen, sind zunächst Angaben zum Titel des Badges, die zugehörigen Kategorien und
			ggf. enthaltene Kompetenzen anzugeben. Hierfür kann das über die Plattform bereitgestellte Tool verwendet
			werden. Es ist zudem eine Kurzbeschreibung zu erstellen. Diese Kurzbeschreibung kann ebenfalls für die
			Bereitstellung von Kompetenzvorschlägen durch das KI-Tool verwendet werden. Dieses wertet die Beschreibung
			aus und extrahiert daraus eine Liste mit passenden Kompetenzen, die die anlegende Person händisch dem Badge
			zuweist. Da das KI-Tool die Kurzbeschreibung nutzt, um zu erwerbende Kompetenzen zu definieren sollte der
			Text eindeutig und aussagekräftig ausgestaltet werden.
		</p>

		<p>
			Es ist untersagt, in Badges Inhalte (z.B. Bilder, Symbole) zu verwenden, die Bezug zu diskriminierenden,
			fremdenfeindlichen, ableistischen, gewaltverherrlichenden oder jugendgefährdenden Themen haben. Zudem ist
			das unrechtmäßige Verwenden rechtlich geschützten Materials (insbesondere von Bildern, die fremden Lizenz-
			oder Urheberrechtsbestimmungen unterliegen oder fremder Markenkennzeichen) untersagt. Wir sind nicht
			verpflichtet, die Ausgestaltung der Badges rechtlich oder tatsächlich zu prüfen, sind aber berechtigt,
			Badges, bei denen Anlass dazu besteht, dass sie derartigen Bezug aufweisen, unverzüglich und ohne vorherige
			Ankündigung zu löschen.
		</p>

		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">4. Pflichten der Nutzenden</h2>
		<p class="tw-flex tw-text-[24px]">
			4.1 Bei der Registrierung haben die Nutzenden Angaben zur Person bzw. der Institution zu machen.
		</p>

		<p class="tw-flex tw-text-[24px]">
			4.2 Alle Nutzenden sind verpflichtet, bei der Registrierung vollständige und wahrheitsgemäße Angaben über
			sich zu machen. Phantasienamen oder Pseudonyme bzw. ausgedachte Institutionen dürfen nicht angelegt bzw.
			verwendet werden. Unrichtige oder nicht wahrheitsgemäße Angaben können zum Ausschluss von der Plattform
			führen.
		</p>

		<p class="tw-flex tw-text-[24px]">
			4.3 Mit Anlage einer Institution bestätigen Sie, dass Sie mit entsprechendem Auftrag der Institution
			handeln. Wir sind im Zweifelsfall berechtigt, Nachweise hierzu von Ihnen einzufordern, um sicherzustellen,
			dass die Nutzung im Einklang mit diesen Bestimmungen erfolgt.
		</p>
		<p class="tw-flex tw-text-[24px]">
			4.4 Das mehrfache Registrieren durch eine Person oder eine Institution bzw. Betriebe ist nicht erlaubt.
			Werden derartige Mehrfachregistrierungen festgestellt haben wir das Recht, die betreffende Person von der
			Plattform auszuschließen und alle dazugehörigen Profile zu löschen.
		</p>
		<p class="tw-flex tw-text-[24px]">
			4.5 Das Nutzen eines Profils ist nur für den eingangs beschriebenen Zweck vorgesehen und erlaubt. Eine
			Nutzung zu anderen Zwecken kann zur Sperrung des Profils führen. Es ist weiterhin untersagt, persönliche
			Zugangsdaten anderen zu überlassen (ausgenommen sind Accounts von Institutionen). Die Zugangsdaten sind so
			aufzubewahren, dass eine unbefugte Verwendung durch andere nicht möglich ist. Wird festgestellt, dass
			entgegen dieser Bestimmungen Account-Daten weitergeben oder in unzulässiger Weise genutzt wurden, haben wir
			das Recht, die betreffenden Nutzenden von der Plattform auszuschließen.
		</p>
		<p class="tw-flex tw-text-[24px]">
			4.6 Ebenfalls ist es untersagt, auf der Plattform Werbung für Produkte oder Firmen zu machen, welche nicht
			unmittelbar mit dem Thema Open Educational Badges zu tun haben. Sofern Institutionen eine weitergehende
			gewerbliche Nutzung beabsichtigen, ist das vorbehaltlich unserer ausdrücklichen Zustimmung bzw. der
			ausdrücklichen Zustimmung unserer Rechtsnachfolger mit entsprechender Vereinbarung zulässig. Eine
			weitergehende kommerzielle Nutzung ist ausgeschlossen. Wird festgestellt, dass entgegen dieser Bestimmungen
			Werbung gemacht oder andere unzulässige gewerbliche Handlungen vorgenommen werden, haben wir das Recht, die
			betreffenden Nutzenden von der Plattform auszuschließen oder die Inhalte zu löschen. Über die Löschung der
			Inhalte werden die Nutzenden unverzüglich informiert.
		</p>

		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			5. Verbotene Handlungen und Äußerungen auf der Plattform; Rechtsfolgen
		</h2>
		<p class="tw-flex tw-text-[24px]">
			Nachfolgende Handlungen und Äußerungen sind verboten und führen zu einem sofortigen Ausschluss von der
			Plattform:
		</p>
		<ul class="tw-text-oebblack tw-text-[17.6px] tw-leading-[24px] !tw-list-outside">
			<li>Beleidigungen gegen andere Nutzenden oder Personen</li>
			<li>Mobbing und Belästigung anderer Nutzenden oder Personen</li>
			<li>Beiträge, die Gewaltdarstellungen beinhalten</li>
			<li>Beiträge, die pornografische oder menschenverachtende Inhalte zeigen</li>
			<li>
				Beiträge, die zum Hass oder der Gewalt gegen Menschen oder gegen bestimmte Gruppen von Menschen
				aufstacheln
			</li>
			<li>
				Beiträge, die zu Gewalt oder anderen Maßnahmen gegen Menschen oder gegen eine bestimmte Gruppe von
				Menschen auffordern, oder die Menschenwürde anderer dadurch angreifen, dass Teile der Bevölkerung oder
				eine vorbezeichnete Gruppe beschimpft, böswillig verächtlich gemacht oder verleumdet werden
			</li>
			<li>
				Beiträge, die ein unter der Herrschaft des Nationalsozialismus (auch bekannt unter dem „Dritten Reich“)
				begangene Handlung leugnen oder verharmlosen oder die Herrschaft des Nationalsozialismus verherrlichen
			</li>
			<li>
				Beiträge, die Kennzeichen verbotener Organisationen zeigen oder solche Zeichen beschreiben Beiträge, die
				zum Konsum, Kauf oder Verkauf von gesetzlich verbotenen Mitteln (Drogen, Betäubungsmitteln) aufrufen
			</li>
			<li>
				Das Posten von urheberrechtlich geschützten Inhalten, Bildern und Videos ohne Zustimmung der jeweiligen
				Rechteinhaber:innen.
			</li>
		</ul>

		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			6. Rechteeinräumung; Lizensierung von Open Educational Badges
		</h2>
		<p class="tw-flex tw-text-[24px]">
			6.1 Nach Maßgabe dieser Nutzungsbedingungen gewähren wir den Nutzenden derzeit das Recht zur unentgeltlichen
			Nutzung der Plattform. Wir behalten uns vor, in Zukunft den Service teilweise kostenpflichtig anzubieten
			oder ergänzende Services kostenpflichtig anzubieten.
		</p>
		<p class="tw-flex tw-text-[24px]">
			6.2 Wir räumen den Nutzenden ein nicht-ausschließliches, zeitlich und räumlich auf die Dauer und den Umfang
			der Nutzung beschränktes Recht ein, die Plattform zu nutzen.
		</p>
		<p class="tw-flex tw-text-[24px]">
			6.3 Die Plattform steht den Nutzenden in der jeweils abruffähigen Version zur Verfügung. Die Nutzenden sind
			verpflichtet, Reverse Engineering, Disassemblierung, Dekompilierung, Übersetzung oder unzulässige
			Offenlegungen der bereitgestellten Plattform weder selbst vorzunehmen, noch zu veranlassen, zu ermöglichen,
			soweit dies nicht nach anwendbarem zwingenden Recht zulässig und/oder unbedingt erforderlich ist.
		</p>
		<p class="tw-flex tw-text-[24px]">
			6.4 Wir haben das Recht, alle Inhalte, die von Nutzenden auf der Plattform geteilt oder veröffentlicht und
			verbreitet werden, weiter zu benutzen und auf der Plattform weiterzuverbreiten.
		</p>
		<p class="tw-flex tw-text-[24px]">6.5 Für Nutzungsrechte hinsichtlich der Open Educational Badges gilt:</p>
		<ul class="tw-text-oebblack tw-text-[17.6px] tw-leading-[24px] !tw-list-outside">
			<li>Registrierte Institutionen haben das Recht, Open Educational Badges auf der Plattform zu erstellen.</li>
			<li>
				Die Institution räumt uns für die Zwecke des Plattformbetriebs und das Erreichen der eingangs
				beschriebenen Ziele das räumlich, zeitlich unbeschränkte Recht ein, die Open Educational Badges in allen
				bekannten und künftigen Wiedergabeformen zu verwenden. Dieses Recht beinhaltet auch das Recht der
				öffentlichen Wiedergabe, das Recht zur Veröffentlichung und Unterlizensierung. Sachlich ist dieses Recht
				auf die Zwecke der Open Educational Badges beschränkt. Hierfür wird seitens der Institution
				gewährleistet, dass alle Komponenten, aus denen der jeweilige Badge besteht, der vorbeschrieben Nutzung
				nicht entgegenstehen.
			</li>
			<li>
				Badges werden beim Erstellen automatisch immer als CC0 1.0 lizensiert. Badgeerstellende müssen
				dementsprechend dafür Sorge tragen, nur Texte und Bilder zu nutzen, die sie unter dieser Lizenz
				verwenden dürfen. Dafür ist ausschließlich die
				<a
					class="tw-underline tw-text-[#1400FF]"
					hlmA
					target="_blank"
					href="https://creativecommons.org/publicdomain/zero/1.0/legalcode.de"
				>
					CC0 1.0 Universal-Lizenz </a
				>oder kurz „CC0“ zu verwenden.
			</li>
		</ul>

		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			7. Veränderung des Funktionsumfangs auf der Plattform
		</h2>

		<p class="tw-flex tw-text-[24px]">
			7.1 Wir bemühen uns, das Angebot an Leistungen und Funktionen, die über die Plattform genutzt werden können,
			konstant zu halten und weiter auszubauen.
		</p>

		<p class="tw-flex tw-text-[24px]">
			7.2 Wir haben das Recht, einzelne Funktionen zu ändern, zu erweitern, einzuschränken oder ganz einzustellen.
			Wenn wir eine Funktion zukünftig nicht mehr zur Verfügung stellen, teilen wir das den Nutzende rechtzeitig
			mit.
		</p>
		<p class="tw-flex tw-text-[24px]">
			7.3 Die Plattform soll möglichst kontinuierlich weiterentwickelt werden. Aufgrund der Weiterentwicklung der
			Plattform können sich sowohl der Leistungsumfang, die Benutzungsoberfläche als auch die Bedienung der
			Plattform ändern. Wir sind zu entsprechenden Änderungen berechtigt.
		</p>

		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			8. Prüfpflichten, Haftung; Ausschluss der Verantwortlichkeit
		</h2>
		<p class="tw-flex tw-text-[24px]">
			8.1 Wir sind nicht verpflichtet, Badges sachlich oder rechtlich zu prüfen und nehmen daher auch keinerlei
			derartigen Prüfschritte vor.
		</p>
		<p class="tw-flex tw-text-[24px]">8.2 Die Haftung richtet sich nach den gesetzlichen Bestimmungen.</p>
		<p class="tw-flex tw-text-[24px]">
			8.3 Wir sind nicht am Zustandekommen von Aufträgen, Geschäftsbeziehungen oder Verträgen, die gematchte
			Akteur:innen schließen beteiligt. Eine rechtliche oder kommerzielle Verantwortung für die Begründung,
			Durchführung oder Abwicklung der entsprechenden Verträge übernehmen wir nicht.
		</p>

		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			9. Änderungen dieser Bestimmungen; Verfügbarkeit der Plattform
		</h2>
		<p class="tw-flex tw-text-[24px]">
			9.1. Wir haben das Recht, diese Nutzungsbedingungen jederzeit zu ändern und informieren über etwaige
			Änderungen direkt über die Plattform und per E-Mail.
		</p>
		<p class="tw-flex tw-text-[24px]">
			9.2. Wir haben das Recht, die Plattform vorübergehend oder dauerhaft abzuschalten. Die Abschaltung erfolgt
			in der Regel vorübergehend aus technischen Gründen (technischer Fehler, Wartungen und/oder Updates).
		</p>

		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">10. Datenschutz</h2>
		<p>
			Informationen zum Schutz personenbezogener Daten erhalten Sie in der zugehörigen
			<a class="tw-underline tw-text-[#1400FF]" hlmA href="public/privacy"> Datenschutzerklärung</a>.
		</p>
		<h2 class="u-text-h2-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">
			11. Anwendbares Recht und Gerichtsstand
		</h2>
		<p>
			Das anwendbare Recht ist das der Bundesrepublik Deutschland. Der Gerichtsstand ist, soweit eine Auswahl
			zulässig ist, der Sitz der Betreiberin.
		</p>
	</div>
</div>
