<!-- Verify Badge Dialog-->
<verify-badge-dialog
	#verifyBadgeDialog
	(verifiedBadgeAssertion)="onVerifiedBadgeAssertion($event)"
></verify-badge-dialog>

<ng-template [bgAwaitPromises]="assertionIdParam">
	<!-- 1.0 Embedded View -->
	<div *ngIf="embedService.isEmbedded && embedService.isEmbedVersion(1)">
		<bg-badgecard
			[badgeTitle]="badgeClass.name"
			[badgeImage]="assertion.image"
			[badgeDescription]="badgeClass.description"
			[badgeIssueDate]="assertion.issuedOn"
			[mostRelevantStatus]=""
			[issuerTitle]="issuer.name"
			[verifyUrl]="verifyUrl"
		>
		</bg-badgecard>
	</div>

	<!-- 2.0 Embedded View -->
	<div
		class="oembedbadge"
		*ngIf="embedService.isEmbedded && embedService.isEmbedVersion(2)"
		[ngClass]="{ 'oembedbadge-is-active': showV2EmbedDescription }"
	>
		<!-- Main iframe content -->
		<div class="oembedbadge-x-inner">
			<div class="oembedbadge-x-badge">
				<a [href]="assertion.id" target="_blank" rel="noopener">
					<img [src]="assertion.image" width="200" alt="Badge image" />
				</a>
				<a class="oembedbadge-x-btn button button-tertiary" [href]="assertion.id" target="_blank"
					>View Credential</a
				>
			</div>
			<div class="oembedbadge-x-summary">
				<h1>{{ badgeClass.name }}</h1>
				<div class="oembedbadge-x-issuer">
					<img
						[loaded-src]="issuer.image"
						[loading-src]="issuerImagePlacholderUrl"
						[error-src]="issuerImagePlacholderUrl"
						alt="Issuer logo"
						width="48"
					/>
					<dl>
						<dt>Vergeben von</dt>
						<dd>{{ issuer.name }}</dd>
					</dl>
				</div>
				<dl class="oembedbadge-x-info">
					<dt>Vergeben am</dt>
					<dd>
						<time [date]="assertion.issuedOn" format="mediumDate"></time>
					</dd>

					<!-- Study Load -->
					<div
						*ngIf="
							badgeClass.extension['extensions:StudyLoadExtension'] &&
							badgeClass.extension['extensions:StudyLoadExtension'].StudyLoad != 0
						"
					>
						<dt>Minimale Dauer</dt>
						<dd class="u-text">
							{{ badgeClass.extension['extensions:StudyLoadExtension'].StudyLoad }} Minuten
						</dd>
					</div>
					<!-- LEvel -->
					<div *ngIf="badgeClass.extension['extensions:LevelExtension']">
						<dt>Level:</dt>
						<dd class="u-text">
							{{ levelOptions[badgeClass.extension['extensions:LevelExtension'].Level] }}
						</dd>
					</div>
				</dl>
				<dl class="oembedbadge-x-info" *ngIf="assertion.expires">
					<dt>Expires On</dt>
					<dd>
						<time [date]="assertion?.expires" format="mediumDate"></time>
					</dd>
				</dl>
			</div>
		</div>
	</div>

	<!-- Regular View -->
	<main class="o-container" *ngIf="!embedService.isEmbedded">
		<form-message></form-message>

		<div class="tw-flex tw-flex-col tw-relative">
			<div class="badge-header">
				<!-- Badge Name -->
				<h1 class="tw-text-purple tw-max-w-[480px]">
					{{ badgeClass.name }}
				</h1>

				<div class="award-btn">
					<a
						class="button tw-w-[305px] md:tw-w-[358px] md:tw-h-[64px] tw-h-[45px] tw-flex tw-items-center tw-justify-center tw-text-xl tw-rounded-[7px]"
						*ngIf="!showDownload"
						(click)="verifyBadge()"
						>Verify Badge</a
					>

					<a class="button" (click)="openSaveDialog(assertion)" *ngIf="showDownload">Download</a>

					<button
						class="threedots threedots-secondary tw-rounded-[7px] tw-w-[44.8px] tw-h-[44.8px] md:tw-w-[64px] md:tw-h-[64px]"
						id="actionstrigger"
						[bgPopupMenuTrigger]="moreMenu"
					>
						<svg icon="icon_more"></svg>
						<span class="visuallyhidden">More</span>
					</button>
					<bg-popup-menu #moreMenu>
						<a class="menuitem" [href]="rawJsonUrl"><svg icon="icon_external_link"></svg>Download JSON</a>
						<a class="menuitem" [href]="rawBakedUrl" download="true" target="_blank"
							><svg icon="icon_external_link"></svg>Download Baked Image</a
						>
						<a class="menuitem" *ngIf="assertion.sourceUrl" [href]="assertion.sourceUrl"
							><svg icon="icon_external_link"></svg>View Original</a
						>
						<a class="menuitem" [routerLink]="routerLinkForUrl(badgeClass.hostedUrl || badgeClass.id)">
							<svg icon="icon_badge"></svg>View Badge</a
						>
					</bg-popup-menu>
				</div>
			</div>
			<div class="tw-flex md:tw-flex-row tw-flex-col tw-mt-4 tw-relative md:tw-mx-0 tw-mx-auto">
				<div class="badge-sidebar">
					<div class="badge-sidebar-internal">
						<div>
						<!-- Badge Assertion Image -->
						<div
							class="tw-w-[195px] tw-h-[179px] md:tw-w-[297.86px] md:tw-h-[257px] tw-flex tw-items-center tw-bg-white tw-mx-auto tw-rounded-[20px] tw-border tw-border-solid tw-border-[var(--color-purple)]"
						>
							<img
								[loaded-src]="assertion.image"
								[loading-src]="badgeLoadingImageUrl"
								[error-src]="badgeFailedImageUrl"
								[ngStyle]="assertion.expires && isExpired && { filter: 'grayscale(1)' }"
								class="badge-image badgeimage-center"
							/>
						</div>

						<!-- Issuer Information -->
						<div
							class="l-flex l-flex-2x u-padding-top2x tw-mt-4 md:tw-w-[280px] tw-mx-auto tw-flex tw-items-center tw-border tw-border-solid tw-border-[var(--color-purple)] tw-pl-4 tw-py-4 tw-bg-white tw-rounded-[20px]"
						>
							<div>
								<img
									class="issuer-image"
									[loaded-src]="issuer.image"
									[loading-src]="issuerImagePlacholderUrl"
									[error-src]="issuerImagePlacholderUrl"
								/>
							</div>
							<div class="tw-text-oebblack">
								<dt class="tw-italic">{{ 'RecBadgeDetail.issuedBy' | translate }}</dt>
								<dd class="u-text">
									<a class="u-break-word" [href]="issuer.id">{{ issuer.name }}</a>
								</dd>
							</div>
						</div>
						</div>
						<dl>
							<div class="l-flex l-flex-2x tag-container md:tw-flex-row tw-flex-col">
								<dt class="u-text-small-bold u-text-dark2 md:tw-p-2">Tags</dt>
								<dd class="u-text">
									<div class="l-tags">
										<div class="tag tw-max-w-24" *ngFor="let tag of badgeClass.tags; last as last">
											{{ tag }}
										</div>
									</div>
								</dd>
							</div>
							<div
								class="l-flex l-flex-1x tw-text-oebblack u-padding-top2x u-margin-top2x border border-top border-light3 md:tw-flex-row tw-flex-col"
							>
								<dt class="u-text-small-bold">
									{{ 'General.category' | translate }}
								</dt>
								<dd class="u-text-small">
									{{ badgeClass.category === 'competency' ? 'Kompetenz- Badge' : 'Teilnahme- Badge' }}
								</dd>
							</div>
							<div
								class="l-flex l-flex-1x tw-text-oebblack u-padding-top2x u-margin-top2x border border-top border-light3 md:tw-flex-row tw-flex-col"
							>
								<dt class="u-text-small-bold">
									{{ 'RecBadgeDetail.issuedOn' | translate }}
								</dt>
								<dd class="u-text-small">
									<time [date]="assertion.issuedOn" format="mediumDate"></time>
								</dd>
							</div>
							<dt
								class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2"
								*ngIf="awardedToDisplayName"
							>
								Awarded to:
							</dt>
							<dd class="u-text u-break-all">{{ awardedToDisplayName }}</dd>
							<dt
								class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2"
								*ngIf="assertion.expires"
							>
								<span>{{ +isExpired | i18nPlural: tense['expires'] }} on:</span>
							</dt>
							<dd class="u-text" *ngIf="assertion.expires">
								<time [date]="assertion?.expires" format="mediumDate"></time>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="badge-detail-body">
				<div class="badge-description">
					<h2
						class="tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack u-margin-bottom2x"
					>
						Kurzbeschreibung
					</h2>
					<p class="tw-text-xl tw-font-[rubik] tw-text-oebblack u-text-body u-width-paragraph">
						{{ assertion.badge.description }}
					</p>
				</div>
				<!-- Category -->
				<!-- <section *ngIf="badgeClass['extensions:CategoryExtension']">
					<h3 class="u-text-h3-semibold u-text-dark2 u-margin-bottom2x u-margin-top4x">{{ 'General.category' | translate}}:</h3>
					<span>{{ categoryOptions[badgeClass['extensions:CategoryExtension'].Category] }}</span>
				</section> -->
				<!-- Kompetenzen -->
				<section class="badge-competencies">
					<h3
						class="tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack u-margin-bottom2x u-margin-top4x"
						*ngIf="badgeClass['extensions:CompetencyExtension'].length > 0"
					>
						{{ 'RecBadgeDetail.competencies' | translate }}
					</h3>
					<div>
						<div *ngFor="let competency of badgeClass['extensions:CompetencyExtension']; index as i">
							<div
								class="tw-flex tw-flex-col tw-bg-[var(--color-lightgreen)] tw-border tw-border-solid tw-border-[var(--color-purple)] tw-rounded-lg tw-mt-4 tw-w-[346px] md:tw-w-[596px]"
							>
								<div class="tw-p-4">
									<div class="tw-grid tw-grid-cols-3">
										<span
											class="tw-col-span-2 tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack"
											>{{ competency.name }}</span
										>
										<div class="tw-flex tw-items-start tw-justify-end">
											<div
												class="tw-flex tw-items-center tw-gap-2 tw-px-2 tw-border tw-border-solid tw-rounded-3xl tw-border-[var(--color-purple)] tw-bg-white"
											>
												<svg
													class="icon icon-dark4 tw-w-[16px] md:tw-w-[18px]"
													width="18px"
													viewBox="0 0 24 24"
													icon="icon_pending"
												></svg>
												<span class="tw-text-xs md:tw-text-lg tw-font-light"
													>{{ competency.studyLoad }} Min.</span
												>
											</div>
										</div>
									</div>
									<div>
										<p
											class="u-break-word u-text-body tw-text-[20px] tw-leading-[24px] tw-font-[rubik] u-width-paragraph u-margin-top2x tw-line-clamp-3 tw-italic"
										>
											{{ competency.description }}
										</p>
									</div>
									<!-- <competency-accordion
									[category]="competency.category"
									[description]="competency.description"
								/> -->
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- criteria -->
				<!-- <section>
					<h3
						*ngIf="badgeClass.criteria.id || badgeClass.criteria.narrative || badgeClass.criteria"
						class="u-text-h3-semibold u-text-dark2 u-margin-bottom2x u-margin-top4x"
					>
						Criteria
					</h3>
					<show-more class="u-margin-bottom8x" *ngIf="badgeClass.criteria.narrative">
						<markdown-display [value]="badgeClass.criteria.narrative"></markdown-display>
					</show-more>
					<div class="u-margin-yaxis2x" *ngIf="badgeClass.criteria.id">
						<a class="u-text-outlink" target="_blank" [href]="badgeClass.criteria.id"
							>View External Criteria URL
							<svg icon="icon_external_link"></svg>
						</a>
					</div>
				</section> -->

				<!-- alignment -->
				<!-- <section>
					<h3
						class="u-text-h3-semibold u-margin-yaxis2x"
						*ngIf="badgeClass.alignment && badgeClass?.alignment.length > 0"
					>
						Alignment
					</h3>

					<div
						class="bordered l-padding-2x l-marginBottom-2x"
						*ngFor="let alignment of badgeClass.alignment; let i = index"
					>
						<div class="l-flex l-flex-justifybetween">
							<h4 class="u-text-body-bold u-margin-bottom1x">{{ alignment.targetName }}</h4>
							<small>{{ alignment.targetCode }}</small>
						</div>
						<p class="u-break-word u-text-body u-width-paragraph">{{ alignment.targetDescription }}</p>
						<div *ngIf="alignment.frameworkName">
							<h1>Framework</h1>
							{{ alignment.frameworkName }}
						</div>
						<div class="u-margin-yaxis2x" *ngIf="alignment.targetUrl">
							<a class="u-text-outlink" [href]="alignment.targetUrl" target="_blank"
								>View alignment URL
								<svg icon="icon_external_link"></svg>
							</a>
						</div>
					</div>
				</section> -->

				<!-- tags -->
				<!-- <section>
					<h3
						class="u-text-h3-semibold u-margin-bottom2x u-margin-top4x"
						*ngIf="badgeClass.tags && badgeClass.tags.length"
					>
						Tags
					</h3>
					<div class="l-tags">
						<div class="tag" *ngFor="let tag of badgeClass.tags; last as last">{{ tag }}</div>
					</div>
				</section> -->

				<!-- evidence -->
				<section *ngIf="assertion?.evidence?.length > 0 || assertion?.narrative || assertion?.evidence">
					<!-- || assertion.evidence.narrative -->
					<h3 *ngIf="assertion?.narrative" class="u-text-h3-semibold u-margin-bottom2x u-margin-top4x">
						Narrative
					</h3>

					<show-more *ngIf="assertion?.narrative">
						<markdown-display [value]="assertion?.narrative"></markdown-display>
					</show-more>

					<show-more *ngIf="assertion?.evidence?.narrative">
						<markdown-display [value]="assertion?.evidence?.narrative"></markdown-display>
					</show-more>

					<div *ngFor="let evidence of assertion?.evidence; let i = index">
						<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top4x">Evidence</h3>
						<markdown-display [value]="evidence?.narrative"></markdown-display>
						<div class="u-margin-yaxis2x">
							<a *ngIf="evidence.id" class="u-text-outlink" [href]="evidence.id" target="_blank"
								>View Evidence URL
								<svg icon="icon_external_link"></svg>
							</a>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
</ng-template>
