<form-message></form-message>

<div class="oeb page-padding">
	<div class="tw-pt-[4rem] tw-pb-[2.4rem] md:tw-flex tw-justify-between">
		<div>
			<p class="tw-text-purple tw-text-[30px] tw-leading-[38px] md:tw-text-[48px] md:tw-leading-[55.2px] tw-pb-4">{{ 'NavItems.myInstitutions' | translate }}</p>
			<p class="md:tw-text-[24px] md:tw-leading-[33.6px] tw-text-oebblack tw-text-[16px] tw-leading-[22.4px] tw-font-normal tw-pb-4" [innerHTML]="'Issuer.myInstitutionsText' | translate"></p>
		</div>
		<div class="tw-border-purple tw-border tw-rounded-[20px]">
			<button
				class="oeb-button oeb-white-bg tw-border-solid tw-border-purple tw-border !tw-font-bold md:tw-whitespace-nowrap"
				[routerLink]="['/issuer/create']"
				[disabled-when-requesting]="true"
			>
				{{ 'Issuer.createInstitution' | translate }}
			</button>
		</div>
	</div>
	<div class="md:tw-flex">
		<div class="tw-w-full  tw-flex-grow md:tw-pr-8">
			<div class="tw-border-purple tw-border tw-border-solid tw-rounded-[20px] tw-p-6 tw-my-6" *ngFor="let issuer of issuers">
				<div class="tw-flex">
					<div class="tw-relative">
						<img
							[loaded-src]="issuer?.image"
							[loading-src]="issuerPlaceholderSrc"
							[error-src]="issuerPlaceholderSrc"
							alt="{{ issuer.name }} avatar"
							class="tw-h-[70px] md:tw-h-[100px] tw-w-auto"
						/>
					</div>
					<div class="tw-flex tw-flex-col tw-justify-center tw-pl-4">
						<a class="md:tw-text-[30px] md:tw-leading-[36px] tw-text-[20px] tw-leading-[24px] tw-text-purple tw-font-semibold" [routerLink]="['/issuer/issuers/', issuer.slug]">{{ issuer.name }}</a>
						<p class="tw-text-oebblack tw-font-semibold md:tw-text-[20px] md:tw-leading-[24.4px] tw-text-[14px] tw-leading-[19.6px]">
							{{ 'Issuer.yourRole' | translate }} 
							{{ issuer.currentUserStaffMember?.roleInfo.label }}:in
						</p>
					</div>
				</div>
				<div>
					<p class="tw-text-oebblack tw-py-4">{{issuer.description}}</p>
				</div>
				<div *ngFor="let issuerBadges of [issuerToBadgeInfo[issuer.issuerUrl]]">
					<p class="tw-text-purple tw-font-medium tw-py-4 md:tw-text-[22px] md:tw-leading-[26.4px] tw-text-[16px] tw-leading-[19.2px]" *ngIf="!issuerBadges">
						{{issuer.name}} {{ 'Issuer.myInstitutionsNoBadge' | translate }}
					</p>
					<p
						*ngIf="issuerBadges"
						class="tw-text-purple tw-font-medium tw-py-4 md:tw-text-[22px] md:tw-leading-[26.4px] tw-text-[16px] tw-leading-[19.2px]"
						[innerHTML]="issuer.badgeClassCount | i18nPlural: plural['badges']"
					></p>
				</div>
				<button
					[class]="'oeb-button oeb-purple-bg !tw-font-bold'.concat(issuer.apiModel.verified 
                        ? ''
                        : ' disabled')"
					[routerLink]="['/issuer/issuers/', issuer.slug, 'badges', 'create']"
                    [disabled]="!issuer.apiModel.verified"
					>{{ 'Issuer.myInstitutionsCreateBadge' | translate }}
				</button>
			</div>
		</div>
		<div #pluginBox class="md:tw-flex-[0_0_333px] md:tw-mt-6">
			<div class="tw-bg-green tw-p-6 tw-rounded-[20px] tw-text-center tw-text-oebblack tw-relative">
				<img (click)="pluginBoxElement.nativeElement.remove()" class="tw-cursor-pointer tw-inline-block tw-absolute tw-top-2 tw-right-2" alt="Close" src="assets/oeb/images/issuerPage/close.png" />
				<div class="tw-flex md:tw-block tw-pb-4">
					<img class="tw-inline-block" alt="Plugin" src="assets/oeb/images/issuerPage/plugin.png" />
					<p class="tw-pt-4 tw-text-left tw-pl-4 md:tw-pl-0 md:tw-text-center" [innerHTML]="'Issuer.askForPluginText' | translate"></p>
				</div>
				<a href="mailto:hallo@openbadges.education?subject=Interesse an Plugin!" class="oeb-button oeb-purple-bg">
					{{ 'Issuer.askForPlugin' | translate }}
				</a>
			</div>
		</div>
	</div>
</div>
