<div class="oeb">
	<div class="page-padding">
		<div class="oeb-breadcrumbs">
			<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"></bg-breadcrumbs>
		</div>
		<div class="oeb-section-sm tw-max-w-[1016px] !tw-pb-0">
			<div class="oeb-headline-container-sm !tw-pb-0">
				<h1 hlmH1 class="tw-text-purple tw-font-black">
					<span *ngIf="category == 'participation'">
						{{ 'Issuer.createParticipationBadge' | translate }}
					</span>
					<span *ngIf="category == 'competency'">
						{{ 'Issuer.createCompetencyBadge' | translate }}
					</span>
				</h1>
			</div>
		</div>

		<div *bgAwaitPromises="[issuerLoaded]">
			<div class="tw-max-w-[1016px]">
				<form [formGroup]="badgeClassForm.rawControl" #formElem (ngSubmit)="onSubmit()" novalidate>
					<div class="section tw-text-oebblack tw-mt-6">
						<h2 hlmH2 class="tw-font-bold">{{ 'Badge.copyBadgeHeadline' | translate }}</h2>
						<p class="tw-text-purple tw-italic" [innerHTML]="('Badge.copyBadgeDescription1' | translate) + '<br />' +  ('Badge.copyBadgeDescription2' | translate)"></p>
						<div class="tw-mt-2 tw-mb-2">
							<oeb-checkbox
								[control]="badgeClassForm.rawControlMap.copy_permissions_allow_others"
								[text]="'Badge.copyLabelOthers' | translate"
							/>
						</div>
					</div>

					<div
						class="tw-flex tw-justify-between md:tw-justify-end tw-flex-wrap sm:tw-flex-nowrap tw-gap-2 tw-mt-8"
					>
						<oeb-button
							class="tw-mr-4"
							variant="secondary"
							(click)="cancelClicked()"
							[disabled]="!!savePromise"
							[class.disabled]="!!savePromise"
							[disabled-when-requesting]="true"
							text="{{ 'General.cancel' | translate }}"
						></oeb-button>

						<oeb-button
							id="create-badge-btn"
							type="submit"
							width="max_content"
							[disabled]="!!savePromise"
							[loading-promises]="[savePromise]"
							loading-message="{{ submittingText }}"
							text="{{ 'General.save' | translate }}"
						>
						</oeb-button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
