<div class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter l-flex-column">
	<form-message></form-message>

	<div class="l-flex l-flex-justifycenter l-flex-aligncenter">
		<div>
			<img class="logo" src="assets/logos/Badges_Entwurf-15.svg" alt="My Badges" />
		</div>
		<div class="center">
			<h3 class="u-text-h3-semibold">
				Ein lernerzentrierter Ansatz zur Dokumentation & Feedback des Lernprozesses
			</h3>
		</div>
	</div>

	<div class="video-container">
		<iframe
			title="My Badge"
			src="https://www.youtube.com/embed/7VL3kqI8CxY"
			frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen=""
		></iframe>
	</div>

	<div class="panel">
		<div class="center">
			<h1 class="u-text-h2">Unsere Idee</h1>
			<h4 class="u-text-h4">
				Mit Hilfe der Open Badges von Mozilla, entwickeln wir ein offenes und skalierbares
				Dokumentations-System, zum Nachweis von erworbenen Kompetenzen und Fähigkeiten im schulischen sowie
				außerschulischen Umfeld.
			</h4>
			<h4>Durch ein E-Portfolio werden die Badges kontextualisiert und die Lernleistungen dokumentiert.</h4>
		</div>
		<img
			src="assets/icon/mb_star_outline_blue.png"
			alt=""
			style="max-width: 100px; max-height: 100px; position: absolute; right: 50px; top: -50px"
		/>
	</div>

	<div style="display: flex; margin-top: 2rem; margin-bottom: 2rem"></div>

	<div class="panel">
		<div class="center">
			<h1 class="u-text-h2">Unser Ansatz</h1>
			<h4 class="u-text-h4">
				Unser Feedbacksystem motiviert die Teilnehmenden mit Freude zu lernen und verhilft ihnen zu einer
				realistischen Selbsteinschätzung ihres eigenen Fortschritts. Gleichzeitig bietet es der Lernbegleitung
				Orientierung über den Leistungsstand und bildet damit eine wichtige Grundlage für die weitere
				didaktisch-pädagogische Planung des Lernprozesses.
			</h4>
		</div>
		<img
			src="assets/icon/mb_star_outline_orange.png"
			alt=""
			style="max-width: 100px; max-height: 100px; position: absolute; left: 50px; bottom: -50px"
		/>
	</div>
	<div class="center">
		<h2 class="u-text-h2" style="margin-top: 5rem; margin-bottom: 5rem">
			Dabei baut unser Ansatz auf 6 Prinzipien auf:
		</h2>
	</div>
</div>
