<div class="oeb tw-overflow-hidden tw-w-full tw-relative">
	<div class="">
		<form-message></form-message>
		<div class="md:tw-hidden tw-absolute tw-top-[240px] tw-right-[-180px] md:tw-right-0 tw-z-0 tw-opacity-70">
			<img class="md:tw-h-[400px] tw-h-[320px]" src="assets/oeb/images/startpage/sun.png" alt="Hands" />
		</div>
		<div class="tw-relative page-padding">
			<div class="oeb-section">
				<div class="oeb-headline-container">
					<h1 hlmH1 class="tw-font-normal tw-text-oebblack">
						{{ 'Start.headline1' | translate }}
					</h1>
					<h1 hlmH1 class="lg:tw-pl-[10%] tw-font-extrabold tw-text-purple">
						{{ 'Start.headline2' | translate }}
					</h1>
				</div>
				<div class="tw-flex flex-wrap tw-flex-col md:tw-flex-row tw-relative">
					<div
						class="tw-flex tw-align-middle tw-justify-evenly tw-flex-col tw-w-[100%] md:tw-w-[43%] tw-box-border"
					>
						<p size="lg" hlmP class="tw-font-normal">
							{{ 'Start.text1' | translate }}
						</p>
						<div class="!tw-hidden md:!tw-block">
							<oeb-button
								variant="red"
								type="submit"
								loading-message="."
								[routerLink]="loggedIn ? '/issuer' : '/auth/login'"
								[text]="'Start.badgesErstellen' | translate"
							></oeb-button>
						</div>
					</div>
					<div class="video-container md:tw-w-[52%] tw-h-[370px] tw-relative tw-m-4 tw-box-border">
						<img
							class="tw-cursor-pointer tw-relative tw-z-10"
							[src]="thumbnailSrc"
							alt="Thumbnail"
							*ngIf="!videoStarted"
							(click)="startVideo()"
						/>
						<iframe
							[hidden]="!videoStarted"
							src="https://www.youtube.com/embed/KZqY_jY4ZD4"
							class="tw-w-full tw-h-full tw-z-10 tw-relative tw-border-purple tw-border-solid tw-border-4"
							title="Open badges kurz erklärt"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
							id="video-iframe"
						></iframe>

						<div class="tw-hidden md:tw-block tw-absolute tw-top-[-150px] tw-right-[-140px] tw-opacity-70">
							<img class="tw-h-[427px]" src="assets/oeb/images/startpage/sun.png" alt="Hands" />
						</div>
					</div>

					<div class="oeb-width-100 md:!tw-hidden">
						<button
							class="oeb-button oeb-red-bg oeb-align-right md:!tw-font-bold"
							type="submit"
							loading-message="."
							[innerHtml]="'Start.badgesErstellen' | translate"
							[routerLink]="loggedIn ? '/issuer' : '/auth/login'"
						></button>
					</div>
				</div>
			</div>
		</div>

		<div class="page-padding tw-bg-purple oeb-section tw-relative tw-z-20">
			<div class="tw-absolute md:tw-top-[10px] md:tw-left-[-140px] tw-top-[-110px] tw-left-[-45px] tw-z-0">
				<img
					class="tw-h-[248px] md:tw-h-[508px]"
					src="assets/oeb/images/startpage/greensixhalf.png"
					alt="Green Sixcant"
				/>
			</div>
			<div class="tw-absolute md:tw-top-[-60px] md:tw-left-[-100px] tw-left-[50px] tw-top-[-50px] tw-z-10">
				<img class="tw-h-[148px] md:tw-h-[408px]" src="assets/oeb/images/startpage/person.png" alt="Person" />
			</div>

			<div class="page-padding">
				<div class="tw-pl-[1em] sm:tw-pl-[34%] oeb-headline-container md:tw-pt-8 tw-pt-24">
					<h2 hlmH2 class="tw-text-white tw-font-normal">
						{{ 'Start.headline2_1' | translate }}
					</h2>
					<h2 hlmH2 class="tw-font-extrabold tw-text-white">
						{{ 'Start.headline2_2' | translate }}
					</h2>
				</div>
				<div class="tw-max-w-[100VW]">
					<div class="tw-flex tw-justify-center">
						<div
							class="md:tw-w-[33%] sm:tw-w-[50%] tw-px-6 md:tw-max-w-[350px] tw-hidden md:tw-block"
						></div>
						<div class="md:tw-w-[33%] sm:tw-w-[50%] tw-px-6 md:tw-max-w-[350px]">
							<div>
								<div class="tw-pb-4">
									<img
										class="tw-h-[110px]"
										src="assets/oeb/images/startpage/hands_startpage.png"
										alt="Hands"
									/>
								</div>
								<div class="tw-uppercase">
									<h3 hlmH3 class="tw-text-white tw-font-bold">
										{{ 'Start.knowWhatIcan' | translate }}
									</h3>
								</div>
								<div>
									<p hlmP class="tw-font-normal tw-text-white">
										{{ 'Start.knowWhatIcan_text' | translate }}
									</p>
								</div>
							</div>
						</div>
						<div class="md:tw-w-[33%] sm:tw-w-[50%] tw-px-6 md:tw-max-w-[350px]">
							<div>
								<div class="tw-pb-4">
									<img
										class="tw-h-[110px]"
										src="assets/oeb/images/startpage/bridges_startpage.png"
										alt="bridges"
									/>
								</div>
								<div class="tw-font-bold tw-uppercase">
									<h3 hlmH3 class="tw-text-white tw-font-bold">{{ 'Start.bridges' | translate }}</h3>
								</div>
								<div>
									<p hlmP class="tw-font-normal tw-text-white">
										{{ 'Start.bridges_text' | translate }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="tw-absolute tw-translate-y-[50%] md:tw-bottom-[0px] md:tw-right-[5%] tw-bottom-[0px] tw-right-[5%] tw-z-0"
			>
				<img
					class="tw-h-[140px] lg:tw-h-[250px] tw-text-yellow"
					src="assets/oeb/images/startpage/hexagonCircles.svg"
					alt="Yellow Hexagon"
				/>
			</div>
		</div>

		<div class="oeb-lightpurple-section">
			<div class="page-padding">
				<div class="oeb-headline-container">
					<h1 hlmH1 class="tw-text-center tw-font-extrabold">
						{{ 'Start.threeElementsHeadline' | translate }}
					</h1>
				</div>
				<!-- <div class="flex-container"> -->
				<div
					class="tw-flex-wrap tw-flex tw-flex-row tw-justify-center tw-max-w-full oeb-standard-padding-bottom"
				>
					<div class="tw-px-8 tw-py-6 md:tw-py-0 tw-relative md:tw-max-w-[28%] tw-box-border">
						<div
							class="tw-absolute tw-top-[0px] tw-left-[-0px] md:tw-top-[-40px] md:tw-left-[-20px] tw-z-0"
						>
							<img
								class="tw-h-[90px] md:tw-h-[200px]"
								src="assets/oeb/images/startpage/whiteHexagon.png"
								alt="White hexagon"
							/>
						</div>
						<div class="tw-z-10 tw-relative">
							<div>
								<p
									hlmP
									class="tw-text-purple"
									size="lg"
									[innerHtml]="'Start.threeEleText1' | translate"
								></p>
							</div>
						</div>
					</div>
					<div class="tw-px-8 tw-py-6 md:tw-py-0 tw-relative md:tw-max-w-[28%] tw-box-border">
						<div class="tw-absolute tw-top-[0px] tw-left-[-0px] md:tw-left-[-20px] md:tw-top-[30px] tw-z-0">
							<img
								class="tw-h-[90px] md:tw-h-[200px]"
								src="assets/oeb/images/startpage/whiteHexagon.png"
								alt="White hexagon"
							/>
						</div>
						<div class="tw-z-10 tw-relative">
							<div>
								<p
									hlmP
									class="tw-text-purple"
									size="lg"
									[innerHtml]="'Start.threeEleText2' | translate"
								></p>
							</div>
						</div>
					</div>
					<div class="tw-px-8 tw-py-6 md:tw-py-0 tw-relative md:tw-max-w-[28%] tw-box-border">
						<div class="tw-absolute tw-top-[0px] tw-left-[-0px] md:tw-left-[-20px] tw-z-0">
							<img
								class="tw-h-[90px] md:tw-h-[200px]"
								src="assets/oeb/images/startpage/whiteHexagon.png"
								alt="White hexagon"
							/>
						</div>
						<div class="tw-z-10 tw-relative">
							<div>
								<p
									hlmP
									class="tw-text-purple"
									size="lg"
									[innerHtml]="'Start.threeEleText3' | translate"
								></p>
							</div>
						</div>
					</div>
				</div>
				<!-- </div> -->
				<div class="tw-text-center oeb-standard-padding-bottom">
					<p
						hlmP
						class="tw-text-purple tw-font-bold"
						size="lg"
						[innerHtml]="'Start.threeEleFooter' | translate"
					></p>
				</div>
				<div class="oeb-center">
					<oeb-button
						[text]="'Start.badgesErstellen' | translate"
						[routerLink]="loggedIn ? '/issuer' : '/auth/login'"
					></oeb-button>
				</div>
			</div>
		</div>
		<div class="oeb-white-section">
			<div class="page-padding">
				<div class="oeb-headline-container-sm">
					<p hlmP size="lg" class="tw-text-black">
						{{ 'Start.headline3_1' | translate }}
					</p>
					<h2 hlmH2 class="tw-font-extrabold">
						{{ 'Start.headline3_2' | translate }}
					</h2>
				</div>
				<div class="tw-py-16">
					<div class="tw-flex tw-flex-wrap tw-max-w-[100VW] tw-text-oebblack tw-relative">
						<div
							class="md:tw-block tw-hidden tw-pl-[100px] tw-pr-[20%] tw-box-border tw-absolute tw-bg-top tw-top-[5px] tw-scale-y-[0.8] tw-w-full"
						>
							<div
								class="tw-w-full tw-h-[450px] tw-bg-repeat-x tw-bg-[url('assets/oeb/images/startpage/red_lines_cut.png')]"
							></div>
						</div>
						<div
							class="tw-block md:tw-hidden tw-box-border tw-absolute tw-bg-top tw-top-[0px] tw-w-full tw-h-full"
						>
							<div
								class="tw-relative tw-top-[-70px] tw-translate-x-[-50%] tw-left-[96px] tw-rotate-90 tw-w-[700px] tw-h-full tw-bg-right tw-bg-repeat-x tw-bg-[url('assets/oeb/images/startpage/red_lines_cut.png')]"
							></div>
						</div>
						<div class="tw-p-4 md:tw-w-[24%] tw-w-[100%] md:tw-max-w-[300px]">
							<div class="tw-relative">
								<div class="tw-mb-4 tw-h-[120px] tw-z-10 tw-relative md:tw-pl-[0px] tw-pl-[20px]">
									<img
										class="tw-h-full tw-z-10 tw-relative"
										src="assets/oeb/images/startpage/greenHexagon1.png"
										alt="Green Hexagon"
									/>
								</div>
								<div class="tw-pb-2">
									<h3 hlmH3 class="tw-font-bold tw-text-oebblack">
										{{ 'Start.forEleHeadlinet1' | translate }}
									</h3>
								</div>
								<div>
									<p hlmP>{{ 'Start.forEleText1' | translate }}</p>
								</div>
							</div>
						</div>
						<div class="tw-p-4 md:tw-w-[24%] tw-w-[100%] md:tw-max-w-[300px]">
							<div class="tw-relative">
								<div
									class="tw-mb-4 tw-h-[120px] tw-z-10 tw-relative tw-overflow-hidden md:tw-pl-[0px] tw-pl-[20px]"
								>
									<img
										class="tw-h-full tw-z-10 tw-relative"
										src="assets/oeb/images/startpage/greenHexagon2.png"
										alt="Green Hexagon"
									/>
								</div>
								<div>
									<h3 hlmH3 class="tw-font-bold tw-text-oebblack">
										{{ 'Start.forEleHeadlinet2' | translate }}
									</h3>
								</div>
								<div>
									<p hlmP>{{ 'Start.forEleText2' | translate }}</p>
								</div>
							</div>
						</div>
						<div class="tw-p-4 md:tw-w-[24%] tw-w-[100%] md:tw-max-w-[300px]">
							<div class="tw-relative">
								<div class="tw-mb-4 tw-h-[120px] tw-z-10 tw-relative md:tw-pl-[0px] tw-pl-[5px]">
									<img
										class="tw-h-full tw-z-10 tw-relative"
										src="assets/oeb/images/startpage/greenHexagon3.png"
										alt="Green Hexagon"
									/>
								</div>
								<div>
									<h3 hlmH3 class="tw-font-bold tw-text-oebblack">
										{{ 'Start.forEleHeadlinet3' | translate }}
									</h3>
								</div>
								<div>
									<p hlmP>{{ 'Start.forEleText3' | translate }}</p>
								</div>
							</div>
						</div>
						<div class="tw-p-4 md:tw-w-[24%] tw-w-[100%] md:tw-max-w-[300px]">
							<div class="tw-relative">
								<div class="tw-mb-4 tw-h-[120px] tw-z-10 tw-relative md:tw-pl-[0px] tw-pl-[25px]">
									<img
										class="tw-h-full tw-z-10 tw-relative"
										src="assets/oeb/images/startpage/greensix.png"
										alt="Green Hexagon"
									/>
									<img
										class="tw-absolute tw-top-[-10px] tw-left-[0px] tw-z-10 tw-h-full"
										src="assets/oeb/images/startpage/noHexagon4.png"
										alt="Green Hexagon"
									/>
								</div>
								<div>
									<h3 hlmH3 class="tw-font-bold tw-text-oebblack">
										{{ 'Start.forEleHeadlinet4' | translate }}
									</h3>
								</div>
								<div>
									<p hlmP>{{ 'Start.forEleText4' | translate }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="oeb-width-100">
					<oeb-button
						class="tw-float-right"
						variant="red"
						type="submit"
						loading-message="."
						[text]="'Start.badgesErstellen' | translate"
						[routerLink]="loggedIn ? '/issuer' : '/auth/login'"
					></oeb-button>
				</div>
			</div>
		</div>

		<div class="oeb-gray-section">
			<div class="page-padding">
				<div class="oeb-headline-container">
					<h1 hlmH1 class="tw-text-center tw-font-extrabold">
						{{ 'Start.usingOEB' | translate }}
					</h1>
				</div>
				<div class="tw-flex tw-justify-center tw-items-center">
					<div class="tw-px-4 md:tw-px-10">
						<div class="tw-max-w-[150px] tw-max-h-[150px] tw-border-box">
							<img src="assets/logos/reedu.jpg" alt="Reedu Logo" />
						</div>
					</div>
					<div class="tw-px-4 md:tw-px-10">
						<div class="tw-max-w-[150px] tw-max-h-[150px] tw-border-box">
							<img src="assets/logos/Logo-KlimaCampus.png" alt="KlimaCampus Logo" />
						</div>
					</div>
					<div class="tw-px-4 md:tw-px-10">
						<div class="tw-max-w-[150px] tw-max-h-[150px] tw-border-box">
							<img src="assets/logos/Logo-Mycelia.png" alt="MyCelia Logo" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
