.video-container iframe,
.video-container object,
.video-container embed {
	width: 100%;
	height: 100%;
}

.logo {
	width: 350px;
	height: 350px;
	min-width: 200px;
	min-height: 200px;
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.flex-1 {
	flex: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.grid {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1rem;
	@media (max-width: 650px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 520px) {
		grid-template-columns: 1fr;
	}
}

.grid-card {
	text-align: center;
	padding: 1rem;
}

.panel {
	background-color: #00729c;
	padding: 5rem;
	text-align: center;
	position: relative;
	max-width: 100%;
	color: white;
	border-radius: 1rem;
}

.oeb-logo {
	max-width: 150px;
	max-height: 150px;
	margin: 1em;
	img {
		width: 100%;
	}
}