/* new style */
p {
	text-align: left;
}

h1 {
	font-weight: 400;
	font-size: 46px;
	line-height: 55.2px;
	color: black;
}

.h1-black {
	font-weight: 900;
	font-size: 46px;
	line-height: 55.2px;
	color: var(--color-purple);
}

.h2-bold {
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: var(--color-purple);
}

.text {
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #ffffff;
}
.text-big {
	font-weight: 400;
	font-size: 24px;
	line-height: 33.6px;
	color: black;
}

.main-paragraph {
	.heading-sec {
		padding-left: 10%;
	}

	> p {
		margin-top: 2.8em;
		max-width: 80%;
	}
}

.supportby-section {
	background-color: #f1f0ff;
}

.supporter-main-style {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 4%;
	margin-bottom: 4%;

	> div {
		display: flex;
		align-items: center;
		gap: 5%;
	}
}

.projects-style {
	position: relative;
	display: flex;
	gap: 30px;
	margin-top: 6em;
	flex-wrap: wrap;

	> div {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--color-purple);
		flex: 1 1 0;

		/* Logo */
		.projects-logo-style {
			width: 100%;
			height: 250px;
			border: 0.75px solid;
			border-radius: 20px 20px 0 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;

			> img {
				height: auto !important;
				width: 185px;
				padding: 25px;
			}

			.mintobadge-logo {
				width: 290px;
				padding-left: 15%;
			}
		}
	}
}

/* Project description */
.projects-desc-style {
	width: 100%;
	background-color: var(--color-purple);
	padding: 20px 0 40px 0;
	border: 0.75px solid;
	border-radius: 0 0 20px 20px;
	margin-bottom: 300px;

	> h3 {
		font-weight: 500;
		font-size: 22px;
		line-height: 26.4px;
		color: #ffffff;
		margin-bottom: 15px;
		padding: 0 30px 0 30px;
	}

	> p {
		text-align: left;
		padding: 0 30px 0 30px;
	}
}

.full-width {
	margin-left: -16px;
	margin-right: -16px;
}

.fund-style {
	display: flex;
	justify-content: space-between;
	margin: 3em 0 3em 0;
	align-items: baseline;
	flex-wrap: wrap;
	> div {
		width: 33%;
	}
}

.join-us-style {
	background-color: var(--color-lightgreen);
	margin-top: 6em;
	padding-bottom: 4em;

	> div {
		display: flex;
		flex-direction: column;
		align-items: center;
		> div {
			width: 90%;

			> p {
				margin-top: 1em;
				text-align: center;
				margin-bottom: 1.5em;
			}
		}
	}
}

.join-us-group-cards {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-top: 1.5em;
}

.join-us-card {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 40px 60px 40px;
	border-radius: 20px;
}

.circle-logo {
	position: absolute;
	top: 1em;
	left: 3em;
}
.network-logo {
	position: absolute;
	left: -7.8em;
	bottom: 2em;
}

.logos-group {
	position: absolute;
	right: 0;
	top: 120px;
}

.supporter-mobile {
	position: absolute;
	bottom: 0;
}

@media (max-width: 1340px) {
	.badge-logo {
		width: calc(432px * 0.85);
	}

	.main-paragraph {
		/* margin-bottom: 5.55%; */
		padding-bottom: 3rem;

		> p {
			margin-top: 2.6em;
			max-width: 70%;
		}
	}

	.logos-group {
		top: 140px;
	}
}

@media (max-width: 1220px) {
	.main-paragraph {
		> p {
			margin-top: 2.3em;
			max-width: 70%;
		}
	}

	.logos-group {
		top: 160px;
	}
}

@media (max-width: 1180px) {
	.badge-logo {
		width: calc(432px * 0.75);
	}

	.main-paragraph {
		> p {
			margin-top: 2em;
			max-width: 70%;
		}
	}

	.logos-group {
		top: 195px;
	}
}

@media (max-width: 1140px) {
	.main-paragraph {
		.heading-sec {
			padding-left: 7%;
		}
	}
}

@media (max-width: 1100px) {
	.badge-logo {
		width: calc(432px * 0.7);
	}

	.main-paragraph {
		.heading-sec {
			padding-left: 2%;
		}

		> p {
			margin-top: 1.7em;
			max-width: 70%;
		}
	}

	.logos-group {
		top: 210px;
	}
}

@media (max-width: 1036px) {
	.badge-logo {
		width: calc(432px * 0.65);
	}

	.main-paragraph {
		.heading-sec {
			padding-left: 0;
		}

		> p {
			margin-top: 1.4em;
			max-width: 70%;
		}
	}

	.heading-sec {
		width: 60%;
	}

	.logos-group {
		top: 250px;
	}
}

@media (max-width: 914px) {
	.projects-style {
		margin-top: 3em;
		flex-direction: column;
		& > div {
			.projects-logo-style {
				.mintobadge-logo {
					width: auto;
				}
			}
		}
	}

	.supporter-mobile {
		position: unset;
		margin-bottom: 30px;
	}

	.projects-desc-style {
		margin-bottom: 25px;
	}

	.join-us-style {
		margin-top: 2.5em;
	}
}

@media (max-width: 836px) {
	.logos-group {
		top: 286px;
	}
}

@media (max-width: 768px) {
	.logos-group {
		top: 192px;
	}

	.badge-logo {
		width: calc(432px * 0.55);
	}

	.main-paragraph {
		> p {
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 19.6px;

			max-width: 65%;
		}
		.heading-sec {
			width: 50%;
		}
	}

	h1 {
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
	}

	.h1-black {
		font-size: 30px;
		font-weight: 900;
		line-height: 36px;
	}

	.text-big {
		font-size: 16px;
		font-weight: 400;
		line-height: 22.4px;
	}

	.supporter-main-style {
		> div {
			flex-wrap: wrap;
			> img {
				width: 197.4px;
				height: 117.6px;
				flex-shrink: 0;
			}

			> p {
				margin-top: 9px;
			}
		}
	}

	.join-us-group-cards {
		flex-wrap: wrap;
	}

	.join-us-card {
		width: 100% !important;
	}

	.h2-bold {
		text-align: center;
		font-size: 21px;
		font-weight: 600;
		line-height: 25.2px;
	}

	h3 {
		font-size: 15.4px;
		font-weight: 500;
		line-height: 18.48px;
	}

	.text {
		font-size: 14px;
		font-weight: 400;
		line-height: 19.6px;
	}

	.fund-style {
		> div {
			display: flex;
			margin: 0.5em 1.5em;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 100%;
		}
	}
}

@media (max-width: 680px) {
	.logos-group {
		top: 237px;
	}

	.badge-logo {
		width: calc(432px * 0.45);
	}

	.main-paragraph {
		.heading-sec {
			width: 50%;
		}
		> p {
			width: 65%;
		}
	}
}

@media (max-width: 590px) {
	.main-paragraph {
		.heading-sec {
			width: 70%;
		}
	}
}

@media (max-width: 560px) {
	.logos-group {
		top: 260px;
	}

	.badge-logo {
		width: calc(432px * 0.4);
	}
}

@media (max-width: 540px) {
	.logos-group {
		top: 260px;
	}
	.main-paragraph {
		> p {
			width: 65%;
		}
		.heading-sec {
			width: 75%;
		}
	}
}

@media (max-width: 502px) {
	.main-paragraph {
		> p {
			width: 70%;
		}
	}
}

@media (max-width: 434px) {
	.logos-group {
		top: 276px;
	}
	.main-paragraph {
		> p {
			width: 60%;
		}
	}
}

@media (max-width: 402px) {
	.logos-group {
		top: 285px;
	}
	.main-paragraph {
		> p {
			width: 50%;
		}
		.heading-sec {
			width: 85%;
		}
	}
}

/* To force full width in some sections */
@media (min-width: 768px) {
	.full-width {
		margin-left: -24px;
		margin-right: -24px;
	}
}
/* To force full width in some sections */
@media (min-width: 1224px) {
	.full-width {
		margin-left: calc(-100vw / 2 + (50% + 600px) / 2);
		margin-right: calc(-100vw / 2 + (50% + 600px) / 2);
	}
}
