<div class="l-containerxaxis l-containeryaxis">
	<form-message></form-message>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x u-text-center">Über myBadges</h3>
	<p class="u-text-p">
		myBadges basiert auf Vorüberlegungen zu einem offenen Badge-System, das im schulischen wie außerschulischen
		Kontext Einsatz finden kann sowie einer ersten technischen Machbarkeitsstudie für eine “Open Badges-Plattform”,
		die am Institut für Geoinformatik der Uni Münster im Rahmen des BMBF-Projektes senseBox Pro durchgeführt wurde.
		Im Rahmen des Hackathons "WirFürSchule" 2020 wurde mit einem interdisziplinären Team die Projektidee
		weiterentwickelt und ein erster Prototyp umgesetzt. Diese Version von myBadges basiert auf dem Quelloffenen Open
		Badges Standard "badgr" von concentricsky und wurde mit freundlicher Unterstützung der Deutsche Telekom Stiftung
		durch re:edu GmbH & Co. KG in Zusammenarbeit mit Junge Tüftler*innen gGmbH umgestzt.
	</p>
	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x u-text-center">Ein Projekt von</h3>
	<div class="partner">
		<a href="https://reedu.de/">
			<img src="assets/logos/114 logo_Step4-03.png" />
		</a>
		<a href="https://junge-tueftler.de/">
			<img src="assets/logos/JT-Logo.png" />
		</a>
	</div>
	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x u-text-center">Gefördert durch</h3>
	<div class="partner">
		<a href="https://www.telekom-stiftung.de/">
			<img src="assets/logos/T_Stiftung_Kachel_RGB_pw.png" />
		</a>
	</div>
</div>
