.partners, .test {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	/* hidding last hr on a row and recenter content*/
	overflow: hidden;
	border-right: solid 1.5em transparent;
}

.partner {
	position: relative; /* put it on top of seperator*/
	margin: 0.5em 1.5em;
}

hr {
	height: 270px;
	margin: auto -20px;
	/* border-reset*/
	border: none;
	border-left: 1px solid lightgray;
}

hr:last-child {
	/* there is one */
	display: none;
}

.b:nth-last-child(2) {
	/* harmless if there is no hr in last position   */
	margin-right: 0px;
}

.partners a {
	padding: 1.5rem;
}

@media screen and (max-width: 770px) {
	.partners a {
		padding: 1rem;
	}
}

.partners img {
	min-width: 112.5px;
	width: 100%;
	max-width: 225px;
	transition: 0.2s;
}

.partners a:hover img {
	transform: scale(1.2);
}

.foerderung {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 770px) {
	.foerderung {
		flex-wrap: wrap;
	}
}

.foerderung img {
	min-width: 150px;
	max-width: 225px;
}