.partner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.partner a {
	padding: 3rem;
}

@media screen and (max-width: 770px) {
	.partner a {
		padding: 1rem;
	}
}

.partner img {
	min-width: 200px;
	width: 100%;
	max-width: 500px;
	transition: 0.2s;
}

.partner a:hover img {
	transform: scale(1.2);
}
