.partner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.partner a {
	padding: 5rem;
}

.partner img {
	max-width: 100%;
	transition: 0.2s;
}

.partner a:hover img {
	transform: scale(1.2);
}
