<div class="topbar">
	<div class="l-containerxaxis topbar-x-wrap">
		<h2 class="topbar-x-heading">{{ 'NavItems.aboutMint-O-Badges' | translate }}</h2>
	</div>
</div>
<div class="l-containerxaxis l-containeryaxis">
	<form-message></form-message>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<div class="formsection-x-body">
			<p>
				{{ 'About.mainDesc' | translate }}
			</p>
			<p style="padding-top: 1.5rem">
				{{ 'About.contact' | translate }}
				<a href="mailto:info@opensenselab.org">mint-o-badges&#64;opensenselab.org </a>
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">{{ 'About.brojectBy' | translate }}</h2>

		<div class="formsection-x-body">
			<div class="container">
				<div class="child">
					<div class="logo">
						<a href="https://reedu.de/">
							<img src="assets/logos/reedu.jpg" />
						</a>
					</div>
				</div>
				<div class="child">
					<div class="logo">
						<a href="https://junge-tueftler.de/">
							<img src="assets/logos/JT-Logo.png" />
						</a>
					</div>
				</div>
				<div class="child">
					<div class="logo">
						<a href="https://ifgi.de/">
							<img src="assets/logos/Logo_ifgi_long.png" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">{{ 'About.supportedBy' | translate }}</h2>

		<div class="formsection-x-body">
			<div class="container">
				<div class="child">
					<div class="logo">
						<a href="https://www.telekom-stiftung.de/">
							<img src="assets/logos/T_deutsche_telekom_stiftung_partner_label_rgb_n.png" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">{{ 'About.funding' | translate }}</h2>

		<div class="formsection-x-body">
			<div class="foerderung">
				<img src="assets/logos/BMBF_CMYK_Gef_L.png" />
				<div>
					<p>
						{{ 'About.fundingDesc' | translate }}
					</p>
					<a
						href="https://www.photonikforschung.de/projekte/open-innovation/foerdermassnahme/open-photonik-pro.html"
						>{{ 'About.moreAboutFund' | translate }}</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
