<div class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
	<form-message></form-message>

	<h1 class="u-text-h1-bold">Über bei myBadges</h1>
	<h3 class="u-text-h3-bold">
		Das Projekt MyBadges basiert auf Vorüberlegungen zu einem offenen Badge-System, das im schulischen wie
		außerschulischen Kontext Einsatz finden kann sowie einer ersten technischen Machbarkeitsstudie für eine “Open
		Badges-Plattform”, die am Institut für Geoinformatik der Uni Münster durchgeführt wurde. Im Rahmen des
		Hackathons "WirFürSchule" wurde mit einem interdisziplinären Team die Projektidee entwickelt und ein erster
		Prototyp umgesetzt. Diese Version von myBadges basiert auf dem Quelloffenen Badges Standard "badgr" von
		concentricsky
	</h3>
</div>
