::ng-deep .dropzone {
	background-color: white !important;
	text-align: center;
	border: 1px solid var(--color-purple) !important;
	height: 20rem
}

::ng-deep .forminput .forminput-x-label {
	font-family: 'rubik';
	font-size: 20px;
	line-height: 28px;
	font-weight: 600px;
	color: var(--color-black);
	display: block;
}

@media (max-width: 768px) {
	::ng-deep .forminput .forminput-x-label{
		font-size: 14px;
		line-height: 19px;
	}
}


@media (max-width: 480px) {
	::ng-deep .dropzone .dropzone-x-info1,
	::ng-deep .dropzone .dropzone-x-info2 {
		display: block !important;
	}
}