<form-message></form-message>
<div class="tw-relative tw-w-full">
	<div class="oeb page-padding">

		<div class="oeb-headline-container-sm">
			<h1 hlmH1 class="tw-text-purple tw-font-extrabold tw-text-[46px] tw-leading-[115%]" [innerHTML]="'Issuer.createInstitution' | translate"></h1>
			<p hlmP class="tw-font-normal" [innerHTML]="'Issuer.awardBadges' | translate"></p>
			<p hlmP class="tw-font-normal">{{ 'Issuer.institutionWillAward' | translate }}</p>

		</div>

		<issuer-edit-form></issuer-edit-form>
	</div>
</div>
