<form-message></form-message>
<div class="oeb page-padding">
	<div class="oeb-section-sm">
		<header class="oeb-headline-container tw-relative tw-flex tw-flex-col">
			<h2 hlmH1 class="tw-text-oebblack">
				{{ 'Issuer.institutionsHeadline' | translate }}
			</h2>
			<ng-template [showLoader]="false" [bgAwaitPromises]="[issuersLoaded]">
				<span hlmH1 class="lg:tw-pl-[10%] tw-text-purple tw-font-black tw-break-words">
					<span [countUp]="issuers.length"> </span>
					<span>
						{{ ' ' | i18nPlural: plural['issuerText'] }}
					</span>
				</span>
			</ng-template>
		</header>
	</div>

	<div>
		<ng-template [showLoader]="true" [bgAwaitPromises]="[issuersLoaded]">
			<section>
				<div class="tw-flex tw-items-center tw-rounded-lg tw-p-4 tw-bg-[#ECFEED] tw-mb-4">
					<div
						class="tw-flex tw-flex-col tw-gap-4 tw-w-full min-[880px]:tw-items-center min-[880px]:tw-justify-between min-[880px]:tw-flex-row"
					>
						<div class="tw-flex tw-flex-col min-[880px]:tw-flex-row min-[880px]:tw-items-center tw-gap-6">
							<div class="tw-flex tw-relative tw-items-center">
								<input
									hlmInput
									class="!tw-bg-white tw-w-full tw-border-1 tw-border-purple min-[880px]:tw-w-96 tw-border-solid tw-h-12 tw-rounded-lg tw-p-2"
									placeholder="{{ 'Issuer.searchInstitutions' | translate }}"
									[(ngModel)]="searchQuery"
								/>
								<hlm-icon
									name="lucideSearch"
									class="tw-w-8 tw-h-8 tw-absolute tw-top-1/2 tw-right-2 -tw-translate-y-1/2 tw-pointer-events-none tw-text-purple"
								></hlm-icon>
							</div>

							<span>{{ 'Badge.sortBy' | translate }} </span>
							<oeb-sort-select [control]="sortControl" [result]="issuerResults"></oeb-sort-select>
							<oeb-select
								actionBar="true"
								class="md:tw-w-[180px] oeb"
								[options]="categoryOptions"
								[control]="categoryControl"
								placeholder="{{ 'Issuer.allCategories' | translate }}"
								[autofocus]="true"
								noTopMargin="true"
							></oeb-select>
						</div>

						<div class="tw-flex tw-gap-4 tw-items-center">
							<oeb-button
								size="icon"
								*ngIf="badgesDisplay !== 'map'"
								(click)="openMap()"
								icon="lucideMapPin"
							>
							</oeb-button>
							<oeb-button
								size="icon"
								*ngIf="badgesDisplay === 'map'"
								(click)="openGrid()"
								icon="lucideGrid2x2"
							>
							</oeb-button>
						</div>
					</div>
				</div>

				<ng-container *ngIf="badgesDisplay == 'grid'">
					<ng-container *ngIf="!groupByCategory">
						<div class="tw-grid sm:tw-grid-cols-issuer tw-gap-6 tw-w-full" [@stagger]>
							<oeb-issuer-card
								*ngFor="let issuer of issuerResults"
								[@appearAnimation]="state"
								[issuer]="issuer"
								[plural]="plural"
								(navigate)="navigateToIssuer(issuer)"
							></oeb-issuer-card>
						</div>
					</ng-container>
				</ng-container>
			</section>
		</ng-template>
		<div id="mapWrapper" class="tw-h-[45vh]" [hidden]="badgesDisplay != 'map'">
			<div id="map" #map></div>
			<div id="map-legend">
				<ul>
					<li>
						<div class="color cluster"></div>
						Cluster
					</li>
					<li>
						<div class="color schule"></div>
						Schule
					</li>
					<li>
						<div class="color hochschule"></div>
						Hochschule
					</li>
					<li>
						<div class="color andere"></div>
						Andere
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
