<form-message></form-message>

<header class="topbar">
	<div class="l-containerxaxis topbar-x-wrap">
		<h2 class="topbar-x-heading">
			Institutionen
			<ng-template [bgAwaitPromises]="[issuersLoaded]" [showLoader]="false">
				<span class="topbar-x-internalheading">
					{{ issuers.length | i18nPlural: plural['issuer'] }}
				</span>
			</ng-template>
		</h2>
	</div>
</header>

<div>
	<ng-template [bgAwaitPromises]="[issuersLoaded]" [showLoader]="true">
		<section class="l-containerxaxis l-containeryaxis l-responsivelist">
			<div class="issuercard" *ngFor="let issuer of issuers">
				<div class="issuercard-x-image">
					<img
						[loaded-src]="issuer?.image"
						[loading-src]="issuerPlaceholderSrc"
						[error-src]="issuerPlaceholderSrc"
						alt="{{ issuer.name }} avatar"
					/>
				</div>
				<div class="issuercard-x-title">
					<a [routerLink]="['/public/issuers/', issuer.slug]">{{ issuer.name }}</a>
					<!-- <p><strong>Your Role: </strong>{{ issuer.currentUserStaffMember?.roleInfo.label }}</p> -->
				</div>
				<div class="issuercard-x-desc" [truncatedText]="issuer.description" [maxLength]="250"></div>

				<!-- <div class="issuercard-x-topbadges" *ngFor="let issuerBadges of [issuerToBadgeInfo[issuer.issuerUrl]]">
					<h3 class="u-text-body-bold u-text-dark1 u-margin-bottom2x" *ngIf="issuerBadges">Top Badges:</h3>
					<div class="l-flex l-flex-2x l-flex-column"></div>
				</div> -->

				<div class="issuercard-x-footer">
					<div class="l-flex l-flex-aligncenter l-flex-1x">
						<svg class="icon icon-light4 u-hidden-maxmobilelarge" width="24px" icon="icon_badge"></svg>
						<p
							*ngIf="issuer.badgeClassCount"
							class="u-text-small u-text-nowrap"
							[innerHTML]="issuer.badgeClassCount | i18nPlural: plural['badges']"
						></p>
					</div>
					<a class="u-text u-text-small" [routerLink]="['/public/issuers/', issuer.slug]">Öffnen</a>
				</div>
			</div>
		</section>
	</ng-template>
</div>
