<div class="tw-relative tw-w-full">
	<div class="oeb page-padding">
		<form-message></form-message>

		<div class="oeb-headline-container-sm">
			<div class="oeb-breadcrumbs">
				<bg-breadcrumbs [linkentries]="crumbs"> </bg-breadcrumbs>
			</div>
		</div>

		<div class="oeb-headline-container-sm">
			<h1 hlmH1 class="tw-text-purple">{{ 'Profile.ResetPassword' | translate }}</h1>
			<p hlmP class="tw-font-normal">{{ 'Profile.EnterNewPassword' | translate }}</p>
		</div>

		<form
			class="oeb-max-form-width"
			[formGroup]="changePasswordForm.rawControl"
			(ngSubmit)="submitChange()"
			novalidate
		>
			<fieldset>
				<oeb-input
					[control]="changePasswordForm.rawControlMap.current_password"
					label="{{ 'Profile.currentPassword' | translate }}"
					[autofocus]="true"
					errorMessage="{{ 'Profile.enterCurrentPassword' | translate }}"
					[errorOverride]="!!errors['current_password']"
					[fieldType]="'password'"
					#issuer_currentPassword_field
				></oeb-input>

				<oeb-input
					[control]="changePasswordForm.rawControlMap.password"
					label="{{ 'Profile.newPassword' | translate }}"
					[errorMessage]="{
						required: enterYourNewPassword,
						minlength: mustBe8Char
					}"
					[errorOverride]="!!errors['password']"
					[fieldType]="'password'"
					sublabel="{{ 'Profile.mustBe8Char' | translate }}"
					#issuer_newPassword_field
				></oeb-input>

				<oeb-input
					[control]="changePasswordForm.rawControlMap.password2"
					label="{{ 'Profile.confirmNewPassword' | translate }}"
					[errorMessage]="{
						required: enterNewPasswordConfirmation,
						minlength: PasswordsDoNotMatch
					}"
					[fieldType]="'password'"
					#issuer_confirmNewPassword_field
				></oeb-input>
			</fieldset>

			<div class="tw-flex tw-justify-between tw-flex-wrap sm:tw-flex-nowrap tw-gap-2 tw-mt-8">
				<oeb-button
					class="tw-mr-4"
					variant="secondary"
					[routerLink]="['/profile/profile']"
					[disabled-when-requesting]="true"
					text="{{ 'General.cancel' | translate }}"
				></oeb-button>

				<oeb-button
					type="submit"
					width="max_content"
					text="{{ 'Profile.changePass' | translate }}"
					[loading-when-requesting]="true"
					loading-message="{{ 'Profile.changePass' | translate }}"
				>
				</oeb-button>
			</div>

			<p hlmP size="sm" class="tw-font-normal !tw-text-[16px] !tw-text-grey-40 tw-my-8">
				{{ 'Profile.dontHavePassword' | translate }}
				<br />
				<span>
					<a
						hlmP
						class="tw-underline !tw-text-[16px] tw-text-purple tw-font-semibold tw-cursor-pointer"
						(click)="forgotPassword()"
						>{{ 'Profile.clickHere' | translate }}</a
					>
				</span>
				{{ 'Profile.resetByEmail' | translate }}
			</p>
		</form>
	</div>
</div>
