<div class="tw-relative tw-w-full">
	<div class="oeb page-padding tw-overflow-hidden md:tw-py-[6rem] tw-py-[3rem]">
		<div class="tw-flex tw-justify-center">
			<form-message></form-message>

			<div class="tw-relative md:tw-w-[70%] tw-w-[90%]">
				<!-- OAuth Banner -->
				<oauth-banner></oauth-banner>

				<div class="tw-relative tw-z-20">
					<!-- Title Message -->
					<h1
						[innerHTML]="'Signup.createAccountFor' | translate"
						class="tw-font-normal md:tw-text-[46px] md:tw-leading-[55.2px] tw-text-purple tw-text-[30px] tw-leading-[36px]"
					></h1>
					<h1
						class="tw-font-black tw-text-purple tw-text-[30px] tw-leading-[36px] md:tw-text-[46px] md:tw-leading-[55.2px]"
					>
						Open Educational Badges
					</h1>

					<p
						hlmP
						class="tw-font-normal tw-mt-3 tw-mb-5 md:tw-mt-4 md:tw-mb-6"
						*ngIf="!oAuthManager.currentAuthorization"
					>
						{{ 'Signup.youHaveAccount' | translate }}
						<a class="tw-underline tw-text-[#1400FF]" [routerLink]="['/auth/login']">Login</a>.
					</p>

					<p
						class="tw-font-normal tw-text-[20px] tw-leading-[28px]"
						*ngIf="oAuthManager.currentAuthorization"
					>
						{{ 'Signup.application' | translate }}
						<strong>
							{{ oAuthManager.currentAuthorization.application.name }}
						</strong>
						{{ 'Signup.loginWithOpenEducationalBadges' | translate }}
						Open Educational Badges.
						{{ 'Signup.youHaveAccount' | translate }}
						<a class="tw-underline tw-text-[#1400FF]" [routerLink]="['/login']">Login</a>!
					</p>
					<h3
						class="ruleheadline l-ruleheadline"
						*ngIf="sessionService.enabledExternalAuthProviders.length > 0"
					>
						{{ 'Signup.signUpWith' | translate }}
					</h3>

					<div
						class="l-socialbuttons u-margin-top2x"
						*ngIf="sessionService.enabledExternalAuthProviders.length > 0"
					>
						<button
							*ngFor="let provider of sessionService.enabledExternalAuthProviders"
							(click)="sessionService.initiateUnauthenticatedExternalAuth(provider)"
							class="socialbutton"
							[style.backgroundColor]="provider.color"
						>
							<div class="visuallyhidden">Access with {{ provider.label }}</div>
							<img [src]="sanitize(provider.imgSrc)" alt="" />
						</button>
					</div>
					<h3
						class="ruleheadline l-ruleheadline"
						*ngIf="sessionService.enabledExternalAuthProviders.length > 0"
					>
						Oder
					</h3>
				</div>

				<div
					class="tw-absolute tw-top-[46px] tw-right-[-43px] md:tw-top-[65px] md:tw-right-[30px] tw-opacity-70 tw-z-0"
				>
					<img
						class="tw-h-[286px] md:tw-h-[472px]"
						src="assets/oeb/images/signuppage/circles.png"
						alt="circles-logo"
					/>
				</div>

				<!-- Sign Up Form -->
				<form
					class="oeb-max-form-width"
					role="form"
					aria-labelledby="heading-form"
					[formGroup]="signupForm.rawControl"
					(ngSubmit)="onSubmit()"
					novalidate
				>
					<!-- Signup Controls -->
					<fieldset role="group" aria-labelledby="heading-badgrsignup2">
						<legend class="visuallyhidden" id="heading-badgrsignup2">
							{{ 'Signup.registerWithUs' | translate }} {{ theme.serviceName || 'Open Educational Badges'
							}}{{ 'Signup.provideInfo' | translate }}
						</legend>

						<oeb-input
							label="E-Mail"
							[control]="signupForm.rawControlMap.username"
							fieldType="email"
							[autofocus]="true"
							errorMessage="{{ 'Signup.enterValidEmail' | translate }}"
						></oeb-input>

						<oeb-input
							label="{{ 'Signup.fName' | translate }}"
							[control]="signupForm.rawControlMap.firstName"
							fieldType="text"
							errorMessage="{{ 'Signup.enterFirstName' | translate }}"
						></oeb-input>

						<oeb-input
							label="{{ 'Signup.lName' | translate }}"
							[control]="signupForm.rawControlMap.lastName"
							fieldType="text"
							errorMessage="{{ 'Signup.enterLastName' | translate }}"
						></oeb-input>

						<oeb-input
							[control]="signupForm.rawControlMap.password"
							label="{{ 'General.password' | translate }}"
							[errorMessage]="{
								required: enterPassword,
								minlength: passwordMustBe8Char
							}"
							[fieldType]="'password'"
							sublabel="{{ 'Signup.passMin8Char' | translate }}"
						></oeb-input>

						<oeb-input
							[control]="signupForm.rawControlMap.passwordConfirm"
							label="{{ 'Signup.repeatPassword' | translate }}"
							[errorMessage]="{
								required: confirmPassword,
								passwordsMatch: passwordsNotEqual
							}"
							[fieldType]="'password'"
						></oeb-input>
					</fieldset>

					<p
						hlmP
						class="tw-font-normal tw-my-5 tw-mt-9"
						[innerHTML]="'Signup.infoPersonalDataProcessing' | translate"
					></p>
					<p
						hlmP
						class="tw-font-normal tw-my-5"
						[innerHTML]="'Signup.ageConfirm' | translate"
					></p>

					<div>
						<div class="tw-mt-6">
							<form>
								<altcha-widget auto="onfocus" id="altcha"></altcha-widget>
							</form>
						</div>
						<div class="tw-flex tw-justify-end tw-flex-wrap sm:tw-flex-nowrap tw-gap-2 tw-mt-4">
							<!-- Not sure if cancel button still in use -->
							<oeb-button
								class="tw-mr-4"
								variant="secondary"
								(click)="oAuthManager.cancelCurrentAuthorization()"
								*ngIf="oAuthManager.currentAuthorization"
								[disabled-when-requesting]="true"
								text="{{ 'General.cancel' | translate }}"
							></oeb-button>

							<oeb-button
								type="submit"
								width="max_content"
								[disabled]="!!signupFinished"
								text="{{ 'Signup.createAccount' | translate }}"
								[loading-promises]="[signupFinished]"
								loading-message="Signing Up..."
							>
							</oeb-button>
							<!-- TO DO: Add a destination -->
							<!--<a class="u-text-link-small" href="#"
						>Change my Badgr location</a>-->
						</div>
					</div>
				</form>

				<div class="tw-w-full tw-flex tw-justify-end tw-mt-16 oeb-max-form-width">
					<oeb-button
						variant="meinBildungsraum"
						text="{{ 'Signup.registerWithBildungsraum' | translate }}"
						[img]="'assets/logos/mein-bildungsraum.svg'"
					>
						<img
							style="width: 28px; height: 26.75px"
							src="assets/logos/mein-bildungsraum.svg"
							alt="Mein Bildungsraum Logo"
						/>
					</oeb-button>
				</div>
			</div>
		</div>
	</div>
</div>
