<div class="topbar">
	<div class="l-containerxaxis topbar-x-wrap">
		<h2 class="topbar-x-heading">FAQ</h2>
	</div>
</div>
<div class="l-containerxaxis l-containeryaxis">
	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">{{ 'FAQ.Q1' | translate }}</h2>
		<div class="formsection-x-body">
			<p>
				{{ 'FAQ.A1' | translate }}
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">{{ 'FAQ.Q2' | translate }}</h2>
		<div class="formsection-x-body" [innerHTML]="'FAQ.A2' | translate">
			<!-- <p>
				Die Vergabe der Badges basiert auf dem Grad der Selbständigkeit und dem Grad der Komplexität einer
				Fertigkeit. Dabei orientieren wir uns an den 6 Kompetenz-Stufen des Digcomp Edu.
			</p>
			<br />
			<ul>
				<li>
					<b>A1:</b> Einsteiger*in - Erste Kenntnisse wurden erworben, können aber noch nicht angewendet
					werden.
				</li>
				<li>
					<b>A2:</b> Entdecker*in - Grundlegende Kenntnisse und Fähigkeiten liegen vor, mit denen
					selbstgesteuert weiteres Wissen erworben werden kann. Dieses kann in Standardsituationen angewendet
					werden, reicht aber nicht aus, um unerwartete Probleme selbstständig lösen zu können.
				</li>
				<li>
					<b>B1:</b> Insider*n - Erworbene Kenntnisse und Fähigkeiten können angewendet und auf unbekannte
					Situationen transferiert werden.
				</li>
				<li>
					<b>B2:</b> Expert*in - Das Wissen wird genutzt, um Zusammenhänge und mögliche Alternativen zu
					erkennen. Zudem besteht die Kompetenz, sich eigenständig weiterführendes Wissen anzueignen und sein
					Wissen (digital) zu teilen.
				</li>
				<li>
					<b>C1:</b> Leader*in - Die ausgebauten Kenntnisse und Fähigkeiten werden auf Grundlage von
					Erfahrungen innovativ genutzt und angewendet.
				</li>
				<li>
					<b>C2:</b> Vorreiter*in - Durch die erworbenen Kompetenzen können eigene Weiterentwicklungen und
					Neudefinitionen vollzogen sowie bestehende Verfahren kritisch beleuchtet werden.
				</li>
			</ul> -->
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">
			{{ 'FAQ.Q3' | translate }}
		</h2>
		<div class="formsection-x-body">
			<p>
				{{ 'FAQ.A3' | translate }}
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">
			{{ 'FAQ.Q4' | translate }}
		</h2>
		<div class="formsection-x-body">
			<p>
				{{ 'FAQ.A4' | translate }}
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">
			{{ 'FAQ.Q5' | translate }}
		</h2>
		<div class="formsection-x-body">
			<p>
				{{ 'FAQ.A5' | translate }}
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">
			{{ 'FAQ.Q6' | translate }}
		</h2>
		<div class="formsection-x-body">
			<p>
				{{ 'FAQ.A6' | translate }}
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">{{ 'FAQ.Q7' | translate }}</h2>
		<div class="formsection-x-body">
			<p>
				{{ 'FAQ.A7' | translate }}
			</p>
		</div>
	</div>
</div>
