<div class="topbar">
	<div class="l-containerxaxis topbar-x-wrap">
		<h2 class="topbar-x-heading">FAQ</h2>
	</div>
</div>
<div class="l-containerxaxis l-containeryaxis">
	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">1. Können Badges nur im Kontext Schule verteilt und verwendet werden?</h2>
		<div class="formsection-x-body">
			<p>
				"MINT-O-Badges" kann institutionsübergreifend eingesetzt werden: Sowohl im formell-schulischen Kontext als
				auch außerhalb. Damit bietet es das Potenzial, eine Brücke zwischen formalen, non-formalen, und
				informellen Bildungsinstitutionen zu bauen und diese im Sinne einer Vernetzung stärker miteinander zu
				verbinden. Dies ist von Bedeutung, da Lernen im Sinne eines lebenslangen und vernetzten Lernens überall
				stattfindet. Auch in informellen Bereichen werden wichtige Kompetenzen erworben, die im Sinne der Future
				Skills von hoher Wichtigkeit sein können.
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">2. Welche Stufe (A1 bis C2) der Badges beschreibt welches Niveau?</h2>
		<div class="formsection-x-body">
			<p>
				Die Vergabe der Badges basiert auf dem Grad der Selbständigkeit und dem Grad der Komplexität einer
				Fertigkeit. Dabei orientieren wir uns an den 6 Kompetenz-Stufen des Digcomp Edu.
			</p>
			<br />
			<ul>
				<li>
					<b>A1:</b> Einsteiger*in - Erste Kenntnisse wurden erworben, können aber noch nicht angewendet
					werden.
				</li>
				<li>
					<b>A2:</b> Entdecker*in - Grundlegende Kenntnisse und Fähigkeiten liegen vor, mit denen
					selbstgesteuert weiteres Wissen erworben werden kann. Dieses kann in Standardsituationen angewendet
					werden, reicht aber nicht aus, um unerwartete Probleme selbstständig lösen zu können.
				</li>
				<li>
					<b>B1:</b> Insider*n - Erworbene Kenntnisse und Fähigkeiten können angewendet und auf unbekannte
					Situationen transferiert werden.
				</li>
				<li>
					<b>B2:</b> Expert*in - Das Wissen wird genutzt, um Zusammenhänge und mögliche Alternativen zu
					erkennen. Zudem besteht die Kompetenz, sich eigenständig weiterführendes Wissen anzueignen und sein
					Wissen (digital) zu teilen.
				</li>
				<li>
					<b>C1:</b> Leader*in - Die ausgebauten Kenntnisse und Fähigkeiten werden auf Grundlage von
					Erfahrungen innovativ genutzt und angewendet.
				</li>
				<li>
					<b>C2:</b> Vorreiter*in - Durch die erworbenen Kompetenzen können eigene Weiterentwicklungen und
					Neudefinitionen vollzogen sowie bestehende Verfahren kritisch beleuchtet werden.
				</li>
			</ul>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">
			3. Warum werden hier Badges mit einer sechsstufigen Skala und keine herkömmlichen Schulnoten verwendet?
		</h2>
		<div class="formsection-x-body">
			<p>
				"MINT-O-Badges" lehnen sich in ihrem pädagogisch-didaktischem Konzept an dem Portfolio-Ansatz an und werden
				damit der Dokumentation der Leistungen des Lernenden in viel höherem Maße gerecht. Die Verbindung des
				Portfolio-Ansatzes mit dem Konzept der Open Badges ermöglicht es ein Dokumentationssystem zu schaffen,
				bei dem Lehrende und Lernende mittels authentischer Nachweise und Arbeiten ein möglichst umfassendes
				Bild von den erworbenen Kompetenzen, Fortschritten und der Entwicklung des Lernenden gewinnen, das
				motivierend und fördernd für den Einzelnen wirkt. Traditionell existierende Benotungssysteme im
				Schulkontext wirken dagegen stark klassifizierend, sind in vielen Aspekten pauschalisierend, werden den
				Lernleistungen der Einzelnen nur unzureichend gerecht und wirken zudem häufig demotivierend.
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">
			4. Muss ich als Issuer eine eigene Infrastruktur installieren, um Badges auszustellen?
		</h2>
		<div class="formsection-x-body">
			<p>
				Nein. Die Plattform "MINT-O-Badges" bietet hier den Service für Bildungsorganisationen (Issuer), dass sie
				Badges erstellen und vergeben können, ohne selbst Software installieren zu müssen. Der Login erfolgt
				über die Zugangsdaten.
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">
			5. Wie wird sichergestellt, dass ein Issuer wirklich auch zu der angegebenen Organisation gehört?
		</h2>
		<div class="formsection-x-body">
			<p>
				Aktuell werden die Zugänge als Issuer nur auf Einladung vergeben. Damit wird die Vertrauenswürdigkeit
				der Issuer sichergestellt.
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">
			6. Wie findet die Übertragung der Badges vom Issuer an die Lernenden statt? Welche Daten muss/ darf ich als
			Organisation von den Lernenden erheben?
		</h2>
		<div class="formsection-x-body">
			<p>
				Datenschutz hat höchste Priorität, daher wird maximal datensparsam gearbeitet. Der Issuer benötigt von
				dem Lernenden nur eine Email-Adresse. Auf diese Email-Adresse werden die Badges gespeichert.
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title">7. Wo liegen die Badges?</h2>
		<div class="formsection-x-body">
			<p>
				Aktuell befinden sich die Badges in einer Datenbank der Universität Münster. Geplant ist mit Ausbau des
				Projektes und Weiterentwicklung des MVP hierfür einen geeigneten Ort zu finden, der jederzeit einen
				freien Zugang für Lernende sicherstellt und die andauernde und sichere Aufbewahrung und Speicherung der
				Badges garantiert.
			</p>
		</div>
	</div>
</div>
