<main>
	<form-message></form-message>
	<header class="l-containerxaxis topbar">
		<h3 class="topbar-x-heading">Sammlung erstellen</h3>
		<p class="topbar-x-subheading">Organisiere deine Badges in Sammlungen.</p>
	</header>

	<div class="l-containerxaxis u-margin-yaxis3x u-width-formsmall">
		<form [formGroup]="badgeCollectionForm.rawControl" (ngSubmit)="onSubmit(badgeCollectionForm.value)" novalidate>
			<fieldset aria-labelledby="heading-add-badge-collection" role="group">
				<legend class="visuallyhidden" id="heading-add-badge-collection">Sammlung erstellen</legend>
				<bg-formfield-text
					[control]="badgeCollectionForm.rawControlMap.collectionName"
					[label]="'Name der Sammlungen'"
					[maxchar]="128"
					[errorMessage]="{ required: 'Bitte gebe einen Namen der Sammlung ein' }"
					[autofocus]="true"
					[sublabel]="' verbleibende Zeichen'"
				></bg-formfield-text>

				<div class="u-margin-top2x">
					<bg-formfield-text
						[control]="badgeCollectionForm.rawControlMap.collectionDescription"
						[label]="'Description'"
						[errorMessage]="{ required: 'Bitte gebe eine Beschreibung an' }"
						[maxchar]="255"
						[multiline]="true"
						[sublabel]="' verbleibende Zeichen'"
					></bg-formfield-text>
				</div>

				<div class="l-flex l-flex-1x l-flex-justifyend u-margin-top2x">
					<a
						[routerLink]="['/recipient/badge-collections']"
						class="button button-secondary"
						[disabled-when-requesting]="true"
						>Abbrechen</a
					>

					<button
						type="submit"
						class="button"
						[disabled]="!!createCollectionPromise"
						[loading-promises]="[createCollectionPromise]"
						loading-message="Hinzufügen"
					>
						Sammlung erstellen
					</button>
				</div>
			</fieldset>
		</form>
	</div>
</main>
