<div class="topbar">
	<div class="l-containerxaxis">
		<div class="topbar-x-breadcrumbs">
			<bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"></bg-breadcrumbs>
		</div>
	</div>
	<div class="l-containerxaxis topbar-x-wrap">
		<div class="topbar-x-heading">
			Badge erstellen
		</div>
		<div class="topbar-x-subheading">
			Du kannst einen Badge nach der Erstellung an beliebig viele Empfänger vergeben.
		</div>
		<button
			type="submit"
			class="button topbar-x-button"
			(click)="copyBadge()"
			loading-message="Loading badges..."
			[disabled-when-requesting]="true"
		>
			Badge kopieren
		</button>
		<button
			type="submit"
			class="button topbar-x-button"
			(click)="forkBadge()"
			loading-message="Loading badges..."
			[disabled-when-requesting]="true"
		>
			Badge kopieren und bearbeiten
		</button>
	</div>
</div>

<div *bgAwaitPromises="[issuerLoaded]" class="l-containerxaxis l-containeryaxis">
	<div class="l-responsivelist">
	<badgeclass-edit-form #badgeimage (save)="badgeClassCreated($event)"
         (cancel)="creationCanceled($event)"
         [scrolled]="scrolled"
         [issuerSlug]="issuerSlug"
         [isForked]="isForked"
         [initBadgeClass]="copiedBadgeClass"
         submitText="Create Badge"
         submittingText="Creating Badge..."
	></badgeclass-edit-form>
	</div>
</div>

